<html>

<head>
      <script src="/media/jquery.min.js"></script>
    <script src="/media/jquery-ui.min.js"></script>
	<style type="text/css">
	 .container{
	 	background: url('{{MEDIA_URL}}template_images/back_image.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
        background: black;
	 }
	
	 .back2{
	 background-image: url('{{MEDIA_URL}}template_images/foot_model.png');
	 background-repeat:no-repeat;
	background-position:right bottom;	
	
	height: 100%;
	width: 100%;
	
	left: 0px; 
    top: 0px;
    bottom: -1px; 
    z-index: 0;

	 }
	 .center{
	 	 position: absolute;
    	top: 50%;
    	left: 50%;
    	width: 400px;
    	height: 300px;
    	margin-top: -150px;
    	margin-left: -200px;
	 }
     table{
        color: white;
     }
	</style>


</head>

<body class="container">
	UNDER CONSTRUCTION

    <div class="">
		
<canvas id="myCanvas" width="600" height="300" style="border:1px solid #c3c3c3;">
Your browser does not support the canvas element.
</canvas>

	</div>


    <div class="">
       <hr/> 
<canvas id="visc" width="600" height="600" style="border:1px solid #c3c3c3;">
Your browser does not support the canvas element.
</canvas>
    </div>

	<div id="messagexy"></div>

</body>
<script type="text/javascript">
    function drawvisc(myRectangle){
    var canvas = document.getElementById("visc");
    var context = canvas.getContext("2d");
    
    context.beginPath();

    context.rect(myRectangle.x, myRectangle.y, myRectangle.width, myRectangle.height);
 
    context.fillStyle = myRectangle.color;
    context.fill();
    

}

    var myrect = {
        x: 50,
        y: 295,
        width: 40,
        height: 2,
        color: "#56d249",
    };

    var myrectshadow = {
        x: 50,
        y: 300,
        width: 40,
        height: 2,
        color: "#56d249",
    };


for (x = 0; x < 10; x++) {   
    height = Math.floor((Math.random()*70)+1);
    height1 = Math.floor(height/3)
    height2 = height1 + Math.floor(height/3)
    height3 = height2 + Math.floor(height/3)
    for (i=0; i<height; i++)
      {
        myrect.y=myrect.y-3;
        myrectshadow.y = myrectshadow.y+3;
        
        if(i>height3){
            myrect.color= '#ff0000' //red
        }else if(i > height2) {
            myrect.color= "#ff6300" //orange
        }else if(i>height1) {
            myrect.color= "#f7fe00"    // yellow
            myrectshadow.color= "#f7fe00"
            drawvisc(myrectshadow);
        }else {
            myrect.color= "#56d249" //green
            myrectshadow.color= "#56d249"
            drawvisc(myrectshadow);
        }
        drawvisc(myrect);
        
      }
    
    if (height<60){
        ymax = Math.floor((Math.random()*6)+6);
        myrect.y=myrect.y-ymax
        myrect.color= '#fe0000'
        drawvisc(myrect);
    }
      myrect.x=myrect.x+45;
      myrect.y=295

      myrectshadow.x=myrectshadow.x+45;
      myrectshadow.y=300

}

</script>

<script type="text/javascript">
window.requestAnimFrame = (function(callback){
    return window.requestAnimationFrame ||
    window.webkitRequestAnimationFrame ||
    window.mozRequestAnimationFrame ||
    window.oRequestAnimationFrame ||
    window.msRequestAnimationFrame ||
    function(callback){
        window.setTimeout(callback, 1000 / 60);
    };
})();
 
function drawRect(myRectangle){
    var canvas = document.getElementById("myCanvas");
    var context = canvas.getContext("2d");
    
    context.beginPath();

    context.rect(myRectangle.x, myRectangle.y, myRectangle.width, myRectangle.height);
 
    context.fillStyle = "#8ED6FF";
    context.fill();
    context.lineWidth = myRectangle.borderWidth;
    context.strokeStyle = "black";
    context.stroke();

    context.beginPath();
    context.rect(myRectangle.x,myRectangle.plate.y,myRectangle.plate.width,myRectangle.plate.height)
	context.fillStyle = "red";
    context.fill();
    context.lineWidth = myRectangle.plate.borderWidth;
    context.strokeStyle = "green";
    context.stroke();    

document.getElementById('messagexy').innerHTML += "<br/>"
document.getElementById('messagexy').innerHTML += "drawing"

}
 


function animate(lastTime, myRectangle, animProp){
    if (animProp.animate) {
        var canvas = document.getElementById("myCanvas");
        var context = canvas.getContext("2d");
 
        // update
        var date = new Date();
        var time = date.getTime();
        var timeDiff = time - lastTime;
        var linearSpeed = 100;
        // pixels / second
        var linearDistEachFrame = linearSpeed * timeDiff / 1000;
        var currentX = myRectangle.x;
        var currentY = myRectangle.y;
 		
 		var gravity = 2; // pixels / second^2
    	var speedIncrementEachFrame = gravity * timeDiff / 10;
        //////////

        var y1 = myRectangle.y+myRectangle.borderWidth;
        var y2 = myRectangle.plate.y-myRectangle.plate.height-myRectangle.plate.borderWidth;
       y1 = Math.round(y1);
       y2 = Math.round(y2);

     
        /////////////////

       if(animProp.direction){
       	document.getElementById('messagexy').innerHTML = "currentX: "+currentX+" currentY: "+currentY+" currentvy: "+myRectangle.vy;
       
       		if (currentY < canvas.height - myRectangle.height - myRectangle.borderWidth / 2) {

                myRectangle.vy += speedIncrementEachFrame;
       	     	//var newY = currentY + linearDistEachFrame+myRectangle.vy;
                var newY = currentY +myRectangle.vy;
            	myRectangle.y = newY;

        	}	
        	else {
        		animProp.direction = false

        	}
    	}
    	
    	else{
    	document.getElementById('messagexy').innerHTML = "currentX: "+currentX+" currentY: "+currentY+" currentvy: "+myRectangle.vy;
    		if(currentY>myRectangle.plate.height){
    		var newY = currentY - linearDistEachFrame;
            	myRectangle.y = newY;
            }
            else{
            	animProp.direction = true;
            	myRectangle.vy=0;
            }
    	}

        //animation for plate //
        if (animProp.plate.direction){
            document.getElementById('messagexy').innerHTML += "<br/>";
            document.getElementById('messagexy').innerHTML += animProp.plate.direction;
            document.getElementById('messagexy').innerHTML += animProp.plate.attached;
            if (animProp.plate.attached) {
                myRectangle.plate.y += myRectangle.vy;
                if (myRectangle.plate.y > canvas.height - myRectangle.height){
                    animProp.plate.attached=false;
                }
            }
            else if (myRectangle.plate.y < canvas.height- myRectangle.height ){
                myRectangle.plate.y  += linearDistEachFrame;
            }
            else {
                animProp.plate.direction = false;
            }
        }
        else{
         document.getElementById('messagexy').innerHTML += "<br/>";
            document.getElementById('messagexy').innerHTML += animProp.plate.direction;   
            if(myRectangle.plate.y > 0){
             myRectangle.plate.y  -= linearDistEachFrame;   
            }
            else {
                animProp.plate.direction = true;
            }
        }
/////////////////////////
       document.getElementById('messagexy').innerHTML += "<br/>";
       document.getElementById('messagexy').innerHTML += y1;
       document.getElementById('messagexy').innerHTML += "<br/>";
       document.getElementById('messagexy').innerHTML += y2;
                
        if (y1 == y2 ){
             document.getElementById('messagexy').innerHTML += "<br/>";
              document.getElementById('messagexy').innerHTML += "<br/>";
               document.getElementById('messagexy').innerHTML += "entered";
            animProp.plate.direction = true;
            animProp.plate.attached = true;
        }

        lastTime = time;
 
        // clear
        context.clearRect(0, 0, canvas.width, canvas.height);
 
        // draw
        drawRect(myRectangle);
 
        // request new frame
        requestAnimFrame(function(){
            animate(lastTime, myRectangle, animProp);

        });
    }
}
 
window.onload = function(){
    var myRectangle = {
        x: 0,
        y: 50,
        width: 20,
        height: 100,
        borderWidth: 0,
        font: "italic 13pt Calibri",
        fillText: "xxx",
        vx: 0,
        vy: 0,
        plate: {
            x: 0,
            y: 30,
        	width: 20,
        	height: 20,
        	borderWidth: 0
        }
    };
 
    /*
     * make the animation properties an object
     * so that it can be modified by reference
     * from an event
     */
    var animProp = {
        animate: false,
        direction: true,
        plate: {
            animate: false,
            direction: true,
            attached: true,
        }
    };
 
    // add click listener to canvas
    document.getElementById("myCanvas").addEventListener("click", function(){
        if (animProp.animate) {
            animProp.animate = false;
            animProp.plate.animate = false;
        }
        else {
            animProp.animate = true;
            animProp.plate.animate = true;
            var date = new Date();
            var time = date.getTime();
            animate(time, myRectangle, animProp);
        }
    });
 
    drawRect(myRectangle);



};
</script>
<style type="text/css">
.imagereflect{
    -webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(white));
    }
</style>
<canvas id="image_reflect" width="200" height="100" style="border:1px solid black;"></canvas>

<!-- relflect image shadow -->
<script type="text/javascript">
    var img = new Image();
    img.onload = function() {
            var ctx = document.getElementById("image_reflect").getContext("2d");
            // reflect image
            ctx.translate(0, 100);
            ctx.scale(1, -1);
            ctx.drawImage(img, 0, 0, 200, 100);

            // add gradient
            var grad = ctx.createLinearGradient(0, 0, 0, 100);
            grad.addColorStop(0.3, 'rgb(255,255,255)');
            grad.addColorStop(0.7, 'rgba(255,255,255,0)');

            ctx.fillStyle = grad;
            ctx.translate(0,0);
            ctx.rect(0, 0, 100, 100);
            ctx.fill();
    };

    img.src = "http://90.0.0.3:8001/Anand/folder.jpg";
</script>

</html>
