<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Movies </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="w4rlock">
    <link href="{{MEDIA_URL}}jquery-ui.css" rel="stylesheet">

    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">


    <script src="{{MEDIA_URL}}jquery.min.js"></script>
    <script src="{{MEDIA_URL}}jquery-ui.min.js"></script>

    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="{{MEDIA_URL}}bootstrap/navbar-scroll/navbar-scroll.js" ></script>
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap.min.js"></script>

<style type="text/css">
    .container{
        border: 1px solid #EEE;
        margin: auto;
        width: 980px;
        margin-top: 40px;
    }
    .cont_image{
        padding: 5px;
        float: left;
    }
    .cont_text{
        border: 1px solid #EEE;
        float: left;
        margin: 5px;
        margin-left: 0px;
        margin-right: 0px;
        width: 265px;
    }
    .cont_text_text{
        padding: 5px;
        float: right;
    }
</style>
    
</head>

<body>
<div class='container'>
    <div class='cont_image'>
        <img src='http://placehold.it/700x350' width='700' height='350'>
    </div>
    <div class='cont_text'>
        <div class='cont_text_text'>
            
        </div>
    </div>
</div>

</body>




</html>