{%extends "v1.html"%}
{%block content%}
<style type="text/css" media="screen">
    .main_body{
        /*padding-top: 20px;*/
    }
    /*movie_base_page*/
</style>
<style type="text/css">
 
</style>
<script type="text/javascript">
  var time_variable;
 
function ajaxFunctionLoadiFrame(video_id) {
  var getdate = new Date();  
  document.getElementById(video_id).style.display="";
  document.getElementById(video_id).src="http://www.youtube.com/embed/"+video_id;
  image_id="img_"+video_id;
  document.getElementById(image_id).style.display="none";
}

</script>

  <script type= "text/javascript">
        function getYouTubeInfo(video_id) {
                $.ajax({
                        url: "http://gdata.youtube.com/feeds/api/videos/"+video_id+"?v=2&alt=json",
                        dataType: "jsonp",
                        success: function (data) { 
                          parseresults(data,video_id); 
                        }
                });
        }

        function parseresults(data,video_id) {
                var title = data.entry.title.$t;
                var description = data.entry.media$group.media$description.$t;
                var viewcount = data.entry.yt$statistics.viewCount;
                var author = data.entry.author[0].name.$t;
                //var pubdate=data.entry.published.$t;

  var pubdate = new Date( data.entry[ "published" ].$t.substr( 0, 4 ), data.entry[ "published" ].$t.substr( 5, 2 ) - 1, data.entry[ "published" ].$t.substr( 8, 2 ) ).toLocaleDateString( )

              //  document.getElementById('jsmessage').innerHTML+=video_id;
                var title_id='#title'+video_id;
                var description_id='#description'+video_id;
                var extrainfo_id='#extrainfo'+video_id;
                var pubdate_id='#pubdate'+video_id;

                $(title_id).html(title);
                $(pubdate_id).html('<b>Added on: </b>'+pubdate)
                $(description_id).html('<b>Description</b>: ' + description);
                $(extrainfo_id).html('<b>Author</b>: ' + author + '<br/><b>Views</b>: ' + viewcount);
                mansory_thumbnails();
             //   getComments(data.entry.gd$comments.gd$feedLink.href + '&max-results=50&alt=json', 1);
        }

        function mansory_thumbnails(){
                  var $container = $('.thumbnails');
                  $container.imagesLoaded(
                            function(){
                                $container.masonry({
                                    itemSelector : '.span4',
                                  });}
                              );   
                  }


        function getComments(commentsURL, startIndex) {
                $.ajax({
                        url: commentsURL + '&start-index=' + startIndex,
                        dataType: "jsonp",
                        success: function (data) {
                        $.each(data.feed.entry, function(key, val) {
                                $('#comments').append('<br/>Author: ' + val.author[0].name.$t + ', Comment: ' + val.content.$t);
                        });
                        if ($(data.feed.entry).size() == 50) { getComments(commentsURL, startIndex + 50); }
                        }
                });
        }

</script>

<script type="text/javascript">
  document.title = "Latest Trailers - Project Movies"
</script>

<script src="{{MEDIA_URL}}mansory/js/jquery.masonry.min.js"></script>
<div class="container-fluid">
  <div class="tabs">
            <ul class="nav nav-tabs">
              <li id="intheaters_menu" class=" ">
                <a href="/v1/#/In-Theaters">In Theaters</a>
              </li>
              <li id="upcomming_menu"><a href="/v1/#/upcomming-movies">Upcomming Movies</a></li>
             
              <li id="latestdb_menu"><a href="/v1/#/Latest-Additions">Latest Additions</a></li>
          <li id="latest_trailers_menu" class="active" style="border-bottom: 1px solid white;"><a href="/movies/latest/trailers/" >Latest Trailers</a></li>
          <li id="images_all"><a href="/v1/image/list/" >Latest Images</a></li>
              <span class="pagination">
                   {% if page_list.has_previous %}
             <li>   <a href="?p={{ page_list.previous_page_number }}">previous</a> </li>
            {% endif %}

            <li class="current">
                <a href=''>Page {{ page_list.number }} of {{ page_list.paginator.num_pages }}.</a>
            </li>

            {% if page_list.has_next %}
                <li> <a href="?p={{ page_list.next_page_number }}">next</a></li>
            {% endif %}
              </span>
      </ul>
  </div>
  
  <br/><br/>
<!--
  <div id="jsmessage">
  </div>
  <br/>
-->
  {% load thumbnail %}
   <ul class="thumbnails">
  
  {%for trailer in latest_trailers %}
        <li class="span4">
          <div class="thumbnail"><!--<!-- remove this for no border around thumbnail-->
            <div class="row-fluid">
              
              <div>
                    <a href="/v1/#/movie/{{trailer.movie_id.id}}/{{trailer.movie_id.movie_name}}">
                    <h6>{{trailer.movie_id.movie_name}} </h6></a>
              </div>

                 <a onClick='ajaxFunctionLoadiFrame("{{trailer.youtube_code}}");'><img id="img_{{trailer.youtube_code}}" src='http://img.youtube.com/vi/{{trailer.youtube_code}}/0.jpg' width='100%' height='300'></a>

             <iframe id="{{trailer.youtube_code}}" width="100%" height="300" frameborder="0" allowfullscreen class="pull-left" controls=0 style="display:none;"></iframe>

        <div>
                <div id="title{{trailer.youtube_code}}">Could not find a title</div>
                <div id="pubdate{{trailer.youtube_code}}" style="background-color: #dddddd; font-size:10px; text-align:left;color: black;">Could not find a added date</div>
                <div id="extrainfo{{trailer.youtube_code}}" style="background-color: #dddddd; font-size:10px; text-align:left;color: black;">Could not find extra information</div>
                <div id="description{{trailer.youtube_code}}" style="background-color: #dddddd; font-size:10px; text-align:left; color: black;">Could not find a description</div>
                
        </div>

          <script type="text/javascript">
                 getYouTubeInfo('{{trailer.youtube_code}}');
          </script>
      

          
        </div>
       </div><!-- <!-- remove this for no border around thumbnail-->
      </li>
      {%endfor%}

    </ul>
<div class="span12">
  <div class='pagination'>
    <ul>
   {% if page_list.has_previous %}
         <li>   <a href="?p={{ page_list.previous_page_number }}">previous</a> </li>
        {% endif %}

        <li class="current">
            <a href=''>Page {{ page_list.number }} of {{ page_list.paginator.num_pages }}.</a>
        </li>

        {% if page_list.has_next %}
            <li> <a href="?p={{ page_list.next_page_number }}">next</a></li>
        {% endif %}
    </ul>
  </div>
  
</div>
</div>
<script type="text/javascript">
 var $container = $('.thumbnails');
    $container.imagesLoaded(
              function()
                {
                  $container.masonry
                  ({
                        itemSelector : '.span4',
                         isAnimated: true
                  });
                }
              );   
</script>



<script type="text/javascript">
  window.onresize = function(event) {
 var $container = $('.thumbnails');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.span4',
     isAnimated: true
  });
});
}
</script>
{%endblock%}
