{%extends "home_pages_styles.html"%}

{%block content3%}
<style type="text/css">
  .search-query{
  min-width: 300px;
}
</style>
<style type="text/css">

</style>
<script type="text/javascript">
  var time_variable;
 
function ajaxFunctionLoadiFrame(video_id) {
  var getdate = new Date();  
  document.getElementById(video_id).style.display="";
  document.getElementById(video_id).src="http://www.youtube.com/embed/"+video_id;
  image_id="img_"+video_id;
  document.getElementById(image_id).style.display="none";
}

</script>
 <script type= "text/javascript">
        function getYouTubeInfo(video_id) {
                $.ajax({
                        url: "http://gdata.youtube.com/feeds/api/videos/"+video_id+"?v=2&alt=json",
                        dataType: "jsonp",
                        success: function (data) { 
                          parseresults(data,video_id); 
                        }
                });
        }

        function parseresults(data,video_id) {
                var title = data.entry.title.$t;
                var description = data.entry.media$group.media$description.$t;
                var viewcount = data.entry.yt$statistics.viewCount;
                var author = data.entry.author[0].name.$t;
              //  document.getElementById('jsmessage').innerHTML+=video_id;
                var title_id='#title'+video_id;
                var description_id='#description'+video_id;
                var extrainfo_id='#extrainfo'+video_id;

                $(title_id).html(title);
                $(description_id).html('<b>Description</b>: ' + description);
                $(extrainfo_id).html('<b>Author</b>: ' + author + '<br/><b>Views</b>: ' + viewcount);
                mansory_thumbnails();
             //   getComments(data.entry.gd$comments.gd$feedLink.href + '&max-results=50&alt=json', 1);
        }

        function mansory_thumbnails(){
                  var $container = $('.thumbnails');
                  $container.imagesLoaded(
                            function(){
                                $container.masonry({
                                    itemSelector : '.span4',

                                  });}
                              );   
                  }


        function getComments(commentsURL, startIndex) {
                $.ajax({
                        url: commentsURL + '&start-index=' + startIndex,
                        dataType: "jsonp",
                        success: function (data) {
                        $.each(data.feed.entry, function(key, val) {
                                $('#comments').append('<br/>Author: ' + val.author[0].name.$t + ', Comment: ' + val.content.$t);
                        });
                        if ($(data.feed.entry).size() == 50) { getComments(commentsURL, startIndex + 50); }
                        }
                });
        }

</script>
<script type="text/javascript">
  document.title = "Latest News - Project Movies"
</script>

<div class="container-fluid">
  <div class="subnav subnav-fixed">
          <ul class="nav nav-pills">
            <li><a href="/movies/latest/db/">Latest Additions to database</a></li>
            <li><a href="/movies/latest/theaters/">In Theaters</a></li>
            <li><a href="/movies/latest/trailers/">Latest Trailers</a></li>
            <li><a href="/movies/latest/releasing/">Upcoming Movies</a></li>
            <li class="active"><a href="/movies/latest/news/">Latest News</a></li>
            <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
          <span class="pagination">
               {% if latest_news.has_previous %}
         <li>   <a href="?p={{ latest_news.previous_page_number }}">previous</a> </li>
        {% endif %}

        <li class="current">
            <a href=''>Page {{ latest_news.number }} of {{ latest_news.paginator.num_pages }}.</a>
        </li>

        {% if latest_news.has_next %}
            <li> <a href="?p={{ latest_news.next_page_number }}">next</a></li>
        {% endif %}
          </span>
    
          </ul>
  </div>
  <br/><br/>
  <div class="thumbnails" id='thumbnails-box'> 
  
  {%for news in latest_news %}
        <div class="span4">
          More from <a href="{%url movie_detail_news news.movie_id.id '-'|add:news.movie_id.movie_name %}">{{news.movie_id.movie_name}}</a>
            
              {%if news.news_type == 'V' %}
          <div>
                    <a href="{%url news_detail news.id %}">
                    <h6>Article Id {{news.id}}</h6></a>

              <a onClick='ajaxFunctionLoadiFrame("{{news.news_source|safe}}");'>
              <img id="img_{{news.news_source|safe}}" src='http://img.youtube.com/vi/{{news.news_source|safe}}/0.jpg' width='100%' height='300'></a>

             <iframe id="{{news.news_source|safe}}" width="100%" height="300" frameborder="0" allowfullscreen class="pull-left" controls=0 style="display:none;"></iframe>
            
            <div>
                <div id="title{{news.news_source|safe}}">Could not find a title</div>
                <div id="description{{news.news_source|safe}}" style="background-color: #dddddd; font-size:10px; text-align:left;">Could not find a description</div>
                <div id="extrainfo{{news.news_source|safe}}" style="background-color: #dddddd; font-size:10px; text-align:left;">Could not find extra information</div>
            </div>
                 <script type="text/javascript">
                 getYouTubeInfo('{{news.news_source|safe}}');
            </script>
            
        
        </div>
              {%endif%}

              {%if news.news_type == 'I' %}
          <div>
                    <a href="{%url news_detail news.id %}">
                    <h6>Article Id {{news.id}}</h6></a>

            <a href="{{news.news_source|safe}}" target="_blank">
          <img src='{{news.news_source|safe}}' width='100%' height='300'></a>

        </div>
              {%endif%}

            
              {%if news.news_type == 'T' %}
                  <div>
                    <br/>
                                <a href="{%url news_detail news.id %}">
                                <h6>Article Id {{news.id}}</h6></a>
                                {%if news.news_source%}

                                <h5>Source: </h5> <p>{{news.news_source|safe}} </p>
                                <br/>
                                {%endif%}
                         <div id="description" style="background-color: #dddddd; font-size:10px; text-align:left;">
            {{news.news|safe|truncatechars:500}}...<a href='{%url news_detail news.id %}'>ReadMore</a>
                         </div>
                          
                        
                          
        </div>

              {%endif%}

                    {%if news.news_type == 'R' %}
          <div>
                    <br/>
                                <a href="{%url news_detail news.id %}">
                                <h6>{{news.movie_id.movie_name}} </h6></a>

                                <h5>Source: </h5> <p>{{news.news_source|safe}} </p>
                                <br/>
                                <p>
                                  {{news.news|safe}}
                                </p>
                          
        </div>
        
              {%endif%}



              
        
      
      </div>

      {%endfor%}

  </div>


    
<div class="span12">
  <div class='pagination'>
    <ul>
   {% if latest_news.has_previous %}
         <li>   <a href="?p={{ latest_news.previous_page_number }}">previous</a> </li>
        {% endif %}

        <li class="current">
            <a href=''>Page {{ latest_news.number }} of {{ latest_news.paginator.num_pages }}.</a>
        </li>

        {% if latest_news.has_next %}
            <li> <a href="?p={{ latest_news.next_page_number }}">next</a></li>
        {% endif %}
    </ul>
  </div>
 
</div>
  
</div>

<script type="text/javascript">
  window.onresize = function(event) {
 var $container = $('.thumbnails');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.span3',
     isAnimated: true
  });
});
}
</script>
{%endblock%}




