{%extends "home_pages_styles.html"%}

{%block content3%}

<script type="text/javascript">
  document.title = "Search - Project Movies"
</script>
<style type="text/css">
 
.caption {
     
    /* 
     text-align: center; 
     */
  }

.thumbnail{ 
  height: 80px;
  overflow: hidden;
  padding: 0 0 0 0;
  width: 280px;
  background-color: #F2F0F0;


    box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);
  -o-box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);
  
  -webkit-box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);

}
.thumbnail p{
  border-top: 0px solid #FCFAFA;
  border-bottom: 0px solid #D9D4D4;
  padding: 0 0 0 0;
}
#loading {
    width: 300px;
    padding: 20px;
    
    
    text-align: center;
    margin: 0 auto;
    display: none;
}​
</style>
<script type="text/javascript">
  function ajaxFunctionLoadiFrame(url) {
  var getdate = new Date();  
  if($(window).height()<500){
    window.location.replace(url);
  }
  if($(window).width() > 980){
     $('#loading').show();
  $('#iframe_movie').hide();
  
  document.getElementById('iframe_movie').src=url;

  $("#iframe_link").attr("href", url);
}
else{
  window.location.replace(url);
}

$('#iframe_movie').load(function() {
    $('#iframe_movie').show();
    $('#loading').hide();
});

}
</script>
<script type="text/javascript">
$(function() {
$("#search-center").autocomplete({
minLength: 2,
      source: "/all/searching/",
      focus: function( event, ui ) {
        $( "#search-center" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
                  { 
            window.location.href = ui.item.url;
        }   
      }
    })
    .data( "autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
        .data( "item.autocomplete", item )
        .append( "<a><img src='"+item.icon+"'>&nbsp;"+ item.label + "</a>" )
        .appendTo( ul );
    };
  });
  </script>

<script type="text/javascript">
  document.title = "All Movies - Project Movies"
</script>

<div class="container-fluid">
  <div class="subnav-fixed subnav" >
          
   <form class="navbar-search pull-center" action="/search/all/" method="GET">
   <input id="search-center" type="text" class="span4"  placeholder="Search Movies or Actors ">   
    </form>             
       
  </div>
  <br/>

<br/>



{% load thumbnail %}
   <ul class="thumbnails">
  {%for each_result in results %}
  
  <li>
  <a data-toggle="modal" href="#modal_movie" onClick='ajaxFunctionLoadiFrame("{{each_result.url}}")'>
<div class="thumbnail">
  <div class="row-fluid">

              {% if each_result.icon %}
                     <img src="{{ each_result.icon }}"  style='max-height: 80px'/>
            {%else%}
  
              {% thumbnail "template_images/no_image.jpg" "x80" as image %}
                       <img src="{{ image.url }}" />
              {% endthumbnail %}
          {%endif%}

            <div class="caption pull-right">
              <p>
                    <a href="{{each_result.url}}">
                   <h6>{{each_result.label|truncatechars:'25' }}</h6>
                </a>              
              </p>
            </div>

          </div>
        </div>
  </a>     
  </li>

      {%endfor%}

    </ul>


</div>


<!-- otehr layers-->
<div class="modal hide fade" style="display: none; " id="modal_movie" style="height: 100%; width: 100%">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h6><a id='iframe_link' href=''>Go to this page</a></h6>
  </div>
  <div id='loading'>
      Please Wait While Loading
        <div class="progress progress-striped active">
              <div class="bar" style="width: 100%;"></div>
      </div>
  </div>​
    <iframe id="iframe_movie" width="100%" height="90%" frameborder="0" style="display:none;">
        
      </iframe>
</div>


<script type="text/javascript">
 var $container = $('.thumbnails');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : 'li',
  });
});
</script>
{%endblock%}
