{%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
  document.title = "Images - Project Movies"
</script>

<div class="container-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
           
          <span class="pagination">
               {% if all_images.has_previous %}
         <li>   <a href="?p={{ all_images.previous_page_number }}">previous</a> </li>
        {% endif %}

        <li class="current">
            <a href=''>Page {{ all_images.number }} of {{ all_images.paginator.num_pages }}.</a>
        </li>

        {% if all_images.has_next %}
            <li> <a href="?p={{ all_images.next_page_number }}">next</a></li>
        {% endif %}
          </span>
    
          </ul>
  </div>
  <br/>
  <br/>
   <div id="images-container">
       {%if all_images%}
       {%load thumbnail%}       
       {%for each_image in all_images%}
        {% thumbnail each_image.imagefile "160x120" as image %}

       <div class="images-box">
          <a href="/image/background/{{each_image.id}}/">
            <img src="{{image.url}}" heigth="160" width="120" alt="some-thing-is-wrong-with-connection">
          </a>
        </div>
        
    {%endthumbnail%}       
      {%endfor%}
    {%endif%}
    
        </div>
</div>


  

    
    <script type="text/javascript">
 var $container = $('#images-container');
    $container.imagesLoaded(
              function()
                {
                  $container.masonry
                  ({
                        itemSelector : '.images-box',
        isAnimated: true,
      columnWidth: 120
                         
        
                  });
                }
              );   
</script>
  
    
<div class="span12">
  <div class='pagination'>
    <ul>
   {% if all_images.has_previous %}
         <li>   <a href="?p={{ all_images.previous_page_number }}">previous</a> </li>
        {% endif %}

        <li class="current">
            <a href=''>Page {{ all_images.number }} of {{ all_images.paginator.num_pages }}.</a>
        </li>

        {% if all_images.has_next %}
            <li> <a href="?p={{ all_images.next_page_number }}">next</a></li>
        {% endif %}
    </ul>
  </div>
 
</div>
  


<script type="text/javascript">
  window.onresize = function(event) {
 var $container = $('.thumbnails');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.span3',
     isAnimated: true
  });
});
}
</script>
{%endblock%}




