{%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
  document.title = "{{name}} - Project Movies"
</script>
<div class="container-fluid">
  <div class="row-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
            <li><a href="/movie/{{movie_id}}-{{name}}/index/">{{name}}</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/">Plot</a></li>
              <li><a href="/movie/{{movie_id}}/rating/">Rating</a></li>
              <li class="active"><a href="/image/{{movie_id}}-{{name}}/">Images</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/cast/">Cast</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/music/">Music</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/trailers/">Trailers</a></li>
              <li><a href="{% url movie_detail_news movie_id|add:"-" name %}">News</a></li>
              <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
               <span class="pagination">
               
              <li>   
                {%if previous%}
                <a href="/image/background/{{movie_id}}-{{name}}/{{previous.id}}/">previous</a> 
                {%else%}
                <a href="">previous</a> 
                {%endif%}
                </li>
                  <li class="current">
                      <a href='/image/background/all/{{movie_id}}-{{name}}/'>All back images</a>
                  </li>

        
            <li> 
              {%if next%}
                <a href="/image/background/{{movie_id}}-{{name}}/{{next.id}}/">next</a> 
                {%else%}
                <a href="">next</a> 
                {%endif%}
            
            </li>
        
          </span>

          </ul>
  </div>
  <br/><br/>

   

      
          
    {% if image.imagefile.url%}
    <a href="{{image.imagefile.url}}" target="_blank">
      <img src="{{image.imagefile.url}}"></a>
      {%else%}
      <h4>Can't Find this Image</h4>
      <ul>
        <li>It was Either Deleted or</li>
        <li>It never Existed</li>
      </ul>
      {%endif%}
           
          
           <div class="fb-comments span4" data-href="http://db.w4rlock.in{{request.path}}" data-num-posts="2" data-width="370"></div>

        </div>
      
    



<!--other layouts-->

  
 

      </div>



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=411415555554087";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{%endblock%}