{%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
  document.title = "Images - Project Movies"
</script>

<div class="container-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
           
          <span class="pagination">
        {% if previous %}
         <li>   <a href="/image/background/{{previous.id}}/">previous</a> </li>
        {% endif %}

        <li class="current">
            <a href=''>image {{ current_num }} of {{ total_num }}</a>
        </li>

        {% if next %}
            <li> <a href="/image/background/{{ next.id }}/">next</a></li>
        {% endif %}
        <li><a href='/image/background/all/'>All</a></li>
          </span>
    
          </ul>
  </div>
  <br/>
  <br/>
   
       {%if this_image%}

       
          
    <img src="{{this_image.imagefile.url}}" alt="some-thing-is-wrong-with-connection">
       
       
        
       
    {%else%}
    <h3> No Image </h3>
    {%endif%}
    
        </div>


  
    
<div class="span12">
  <div class='pagination'>
    <ul>
    {% if previous %}
         <li>   <a href="/image/background/{{previous.id}}/">previous</a> </li>
        {% endif %}

        <li class="current">
            <a href=''>image {{ current_num }} of {{ total_num }}.</a>
        </li>

        {% if next %}
            <li> <a href="/image/background/{{ next.id }}/">next</a></li>
        {% endif %}
        <li><a href='/image/background/all/'>All</a></li>
    
    
    </ul>
  </div>
 
</div>
  


<script type="text/javascript">
  window.onresize = function(event) {
 var $container = $('.thumbnails');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.span3',
     isAnimated: true
  });
});
}
</script>
{%endblock%}




