{%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
  document.title = "{{name}} - Project Movies"
</script>
<div class="container-fluid">
  <div class="row-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
            <li><a href="/movie/{{movie_id}}-{{name}}/index/{%if request.GET.iframe%}?iframe=1{%endif%}">{{name}}</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/{%if request.GET.iframe%}?iframe=1{%endif%}">Plot</a></li>
              <li><a href="/movie/{{movie_id}}/rating/{%if request.GET.iframe%}?iframe=1{%endif%}">Rating</a></li>
              <li class="active"><a href="/image/{{movie_id}}-{{name}}/{%if request.GET.iframe%}?iframe=1{%endif%}">Images</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/cast/{%if request.GET.iframe%}?iframe=1{%endif%}">Cast</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/music/{%if request.GET.iframe%}?iframe=1{%endif%}">Music</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/trailers/{%if request.GET.iframe%}?iframe=1{%endif%}">Trailers</a></li>
              <li><a href="{% url movie_detail_news movie_id|add:"-" name %}{%if request.GET.iframe%}?iframe=1{%endif%}">News</a></li>
    
          </ul>
  </div>
  <br/><br/>
    <div class="span9">
     <div class="row-fluid">
       <h3>for Only back images click <a href="/image/background/all/{{movie_id}}-{{name}}/">here</a></h3>
      <a href="/image/list/?movie={{name}}">Upload More ?</a>
      {%if total_images%}<span>There are total {{total_images}} images from this movie</span><br/>
      {%else%}<span>There are no images from this movie <a href="/image/list/">Contribute ?</a></span>
      <br/>
      {%endif%}
      <br/>
</div>
</div>
  <div class="span12">
      <div id="images-container">
       {%if images%}
       {%load thumbnail%}       
       {%for each_image in images%}
        {% thumbnail each_image.imagefile "160x120" as image %}

       <div class="images-box">
          <a href="/image/{{movie_id}}-{{name}}/{{each_image.id}}/">
            <img src="{{image.url}}" heigth="160" width="120" alt="some-thing-is-wrong-with-connection">
          </a>
        </div>
        
	  {%endthumbnail%}       
      {%endfor%}
    {%endif%}
    {%if background_images %} 
    {%for each_image in background_images%}
        {% thumbnail each_image.imagefile "160x120" as image %}

       <div class="images-box">
          <a href="/image/background/{{movie_id}}-{{name}}/{{each_image.id}}/">
            <img src="{{image.url}}" heigth="160" width="120" alt="some-thing-is-wrong-with-connection">
          </a>
        </div>
        
    {%endthumbnail%} 
    {%endfor%}      
    {%endif%}
        </div>
</div>


      </div>
    </div>
 

    
    <script type="text/javascript">
 var $container = $('#images-container');
    $container.imagesLoaded(
              function()
                {
                  $container.masonry
                  ({
                        itemSelector : '.images-box',
			  isAnimated: true,
			columnWidth: 120
                         
			  
                  });
                }
              );   
</script>

{%endblock%}