{%extends "movie_base_page.html"%}

{%block content%}

</script>

    <script type="text/javascript">
$(function() {
  $("#movies").autocomplete({
    source: "/movie/searching/",
    minLength: 2,
  });
});
</script>
<script type="text/javascript">
$(function() {
  $("#person-tags").autocomplete({
    source: "/person/searching/",
    minLength: 2,
  });
});
</script>
<meta charset="utf-8"> 
   <script>
   // increase the default animation speed to exaggerate the effect
   $.fx.speeds._default = 500;
   $(function() {
      $( "#tagerdialog" ).dialog({
         autoOpen: false,
         show: "blind",
         hide: "explode",
         minHeight: 200,
         minWidth: 510
      });

      $( "#tager" ).click(function() {
         $( "#tagerdialog" ).dialog( "open" );
         return false;
      });
 $("#closedialog").click(function(){
        $("#tagerdialog").dialog("close");
      });
   });
   </script>




<script type="text/javascript">

var time_variable;
 
function getXMLObject()  //XML OBJECT
{
   var xmlHttp = false;
   try {
     xmlHttp = new ActiveXObject("Msxml2.XMLHTTP")  // For Old Microsoft Browsers
   }
   catch (e) {
     try {
       xmlHttp = new ActiveXObject("Microsoft.XMLHTTP")  // For Microsoft IE 6.0+
     }
     catch (e2) {
       xmlHttp = false   // No Browser accepts the XMLHTTP Object then false
     }
   }
   if (!xmlHttp && typeof XMLHttpRequest != 'undefined') {
     xmlHttp = new XMLHttpRequest();        //For Mozilla, Opera Browsers
   }
   return xmlHttp;  // Mandatory Statement returning the ajax object created
}
 
var xmlhttp = new getXMLObject(); //xmlhttp holds the ajax object
 
function ajaxFunctionTag() {
  var getdate = new Date();  
  if(xmlhttp) {
    var person_name = document.getElementById("person-tags");
    xmlhttp.open("POST","/image/{{image.id}}/ajaxtaging/",true); 
    xmlhttp.onreadystatechange  = handleServerResponse;
    xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xmlhttp.send("csrfmiddlewaretoken={{csrf_token}}&person_name="+person_name.value);
}
}

function handleServerResponse() {
   if (xmlhttp.readyState == 4) {
     if(xmlhttp.status == 200) {
       document.getElementById("tag_note_message").innerHTML=xmlhttp.responseText; //Update the HTML Form element 
       over()
     }
     else {
        alert("Error during AJAX call. Please try again");
     }
   }
}


function over(){
    $("#tag_note").show();
}
</script>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">{% if name %} {{name.person_name}}{%else%}Does Not Exist{%endif%}</li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/info/">Info</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/movies/">Movies</a></li>
              <li class="active"><a href="/person/image/{{name.id}}-{{name.person_name}}/">Images</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/music/">Music</a></li>
              <li><a href="#">Trailers</a></li>
              <li><a href="#">News</a></li>
            </ul>
          </div>
    </div>
    <div class="span9">
      <table class="table">
             <tr>
              <td>{%if previous%}
  <a href="/person/image/{{name.id}}-{{name}}/{{previous.id}}/">previous</a>
  {%else%}
  previous
  {%endif%}</td>
      <td>{%if next %}
  <a href="/person/image/{{name.id}}-{{name}}/{{next.id}}/" class="pull-right">next</a>
  {%else%}
  <span class="pull-right">next</span>
  {%endif%}  </td></tr>
            </table>
     <div class="row-fluid">
      <a href="{{image.imagefile.url}}" target="_blank"><img class="span9" src="{{image.imagefile.url}}"cl></a>
    </div>
    <div class="span9">
      <div class="row-fluid">
        <div class="span9">
            <br/>
            <div id="tag_note" class="alert fade in hide" data-dismiss="alert" href="#">
            <span id="tag_note_message"></span>
                </div>
            <table class="table">
             <tr>
              <td>{%if previous%}
  <a href="/person/image/{{name.id}}-{{name}}/{{previous.id}}/">previous</a>
  {%else%}
  previous
  {%endif%}</td>
      <td>{%if next %}
  <a href="/person/image/{{name.id}}-{{name}}/{{next.id}}/" class="pull-right">next</a>
  {%else%}
  <span class="pull-right">next</span>
  {%endif%}  </td></tr>
            </table>
            <h4>This image </h4>
            <table class="table">
              <tr> <td>Persons: </td>
                    <td>{% for a in tags_persons %}
    <a href="/person/{{a.id}}/">{{a.person_name}}</a>&nbsp;
    {% endfor %}
&nbsp;&nbsp;&nbsp;
    <a href="#" id="tager">Tag more ?</a></td>
              </tr>
              <tr><td>Type:</td>
                  <td>  {% for a in tags_type %}
                          &nbsp;{{a}}
                        {% endfor %}
                  </td>
              </tr>
              <tr>
                <td> from movie: </td>
   <td> {% for a in tags_movie %}
    <a href="/movie/{{a.id}}-{{a.movie_name}}/">{{a.movie_name}}</a>&nbsp;
    {% endfor %}</td>
              </tr>
            </table>
    

<!--other layouts-->

    <div id="tagerdialog" title="Search and Click on Tag">
    <div class="tagcontainerdialog">
      Person:<input id="person-tags" type="text" name="person_name">
      <input type="submit" name="tag" id="closedialog" onclick="ajaxFunctionTag();">
                  </div>
                  </div>

  
        </div>
      </div>
    </div>
  </div>
</div>
</div>    

{%endblock%}