{%extends "v1.html"%}
{%block content%}
<style type="text/css" media="screen">
    .main_body{
        /*padding-top: 20px;*/
    }
    /*movie_base_page*/
</style>
<script type="text/javascript">
$(function() {
  $("#movie_form").autocomplete({
    source: "/movie/searching/",
    minLength: 2,
  });
});
</script>
<div class="tabs">
            <ul class="nav nav-tabs">
              <li id="intheaters_menu">
                <a href="#/In-Theaters" onClick="loadintheaters_x()">In Theaters</a>
              </li>
              <li id="upcomming_menu"><a href="#/upcomming-movies" onClick="loadupcomming_x()">Upcomming Movies</a></li>
             
              <li id="latestdb_menu"><a href="#/Latest-Additions" onClick="loadlatestdb_x()">Latest Additions</a></li>
              <li id="latest_trailers_menu"><a href="/movies/latest/trailers/" >Latest Trailers</a></li>
              <li id="images_all" class="active"><a href="/image/list/" >Latest Images</a></li>
            </ul>
        </div>
<div class="span6">

    <!-- Upload form. Note enctype attribute! -->
<form action="{%url listview%}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.non_field_errors}}
    {%if form.imagefile.errors%}
    <div class="control-group error">
            <label class="control-label" for="inputError">Image File</label>
            <div class="controls">
                {{form.imagefile}}
                <span class="help-inline">
                    {{form.imagefile.errors}}
                    <li>{{form.imagefile.help_text}}</li>
                </span>
                
            </div>
    </div>
    {%else%}
    <div class="control-group">
            <label class="control-label">Image File</label>
            <div class="controls">
              {{form.imagefile}}
              <span class="help-inline">{{form.imagefile.help_text}}</span>
            </div>
    </div>
    {%endif%}

    {%if form.image_desc.errors%}
    <div class="control-group error">
            <label class="control-label" for="inputError">Image Desc</label>
            <div class="controls">
                {{form.image_desc}}
                <span class="help-inline">{{form.image_desc.errors}}</span>
            </div>
    </div>
    {%else%}
    <div class="control-group">
            <label class="control-label">Image Desc</label>
            <div class="controls">
              {{form.image_desc}}
            </div>
    </div>
    {%endif%}

    {%if form.movie.errors%}
    <div class="control-group error">
            <label class="control-label" for="inputError">Movie :</label>
            <div class="controls">
                {{form.movie}}
                <span class="help-inline">{{form.movie.errors}}</span>
            </div>
    </div>
    {%else%}
    <div class="control-group">
            <label class="control-label">movie</label>
            <div class="controls">
              {{form.movie}}
            </div>
    </div>
    {%endif%}

    {%if form.image_type.errors%}
    <div class="control-group error">
            <label class="control-label" for="inputError">Image Type :</label>
            <div class="controls">
                {{form.image_type}}
                <span class="help-inline">{{form.image_type.errors}}</span>
            </div>
    </div>
    {%else%}
    <div class="control-group">
            <label class="control-label">Image Type</label>
            <div class="controls">
              {{form.image_type}}
            </div>
    </div>
    {%endif%}


    <input type="submit" value="Upload" class="btn"/>
</form>
</div>
<div class="span6">
<!-- List of uploaded documents -->
{% if documents %}
{%load thumbnail%}
<h6>latest uploaded images</h6>
<table class="table table-striped table-bordered table-condensed">

    <ul>
    {% for document in documents %}
    <tr><td>{{document.id}}</td>
        <td>{% thumbnail document.imagefile "100x100" as image %}
            <a href="/image/{{document.id}}/"><img src="{{ image.url }}"  /></a>
            {% endthumbnail %}
        </td>
        <td><a href="/image/{{document.id}}/">{{ document.image_desc }}</a></td>
        
    </tr>
    {% endfor %}
    </ul>
</table>
{% else %}
    <p>No images.</p>
{% endif %}
</div>
{%endblock%}

