{%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
  document.title = "{{name}} - Project Movies"
</script>
<div class="container-fluid">
  <div class="row-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
            
             <li><a href="{% url person_detail_index name.id '-'|add:name.person_name %}{%if request.GET.iframe%}?iframe=1
{%endif%}">{{name.person_name}}</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/info/{%if request.GET.iframe%}?iframe=1
{%endif%}">Info</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/movies/{%if request.GET.iframe%}?iframe=1
{%endif%}">Movies</a></li>
              <li class="active"><a href="/person/image/{{name.id}}-{{name.person_name}}/{%if request.GET.iframe%}?iframe=1
{%endif%}">Images</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/music/{%if request.GET.iframe%}?iframe=1
{%endif%}">Music</a></li>
              <li><a href="{% url person_detail_trailers name.id '-'|add:name.person_name %}{%if request.GET.iframe%}?iframe=1
{%endif%}">Trailers</a></li>
              <li><a href="#">News</a></li>

          </ul>
  </div>
  <br/><br/>

</script>

    <script type="text/javascript">
$(function() {
  $("#movies").autocomplete({
    source: "/movie/searching/",
    minLength: 2,
  });
});
</script>
<script type="text/javascript">
$(function() {
  $("#person-tags").autocomplete({
    source: "/person/searching/",
    minLength: 2,
  });
});
</script>
<meta charset="utf-8"> 
   <script>
   // increase the default animation speed to exaggerate the effect
   $.fx.speeds._default = 500;
   $(function() {
      $( "#tagerdialog" ).dialog({
         autoOpen: false,
         show: "blind",
         hide: "explode",
         minHeight: 200,
         minWidth: 510
      });

      $( "#tager" ).click(function() {
         $( "#tagerdialog" ).dialog( "open" );
         return false;
      });
 $("#closedialog").click(function(){
        $("#tagerdialog").dialog("close");
      });
   });
   </script>




<script type="text/javascript">

var time_variable;
 
function getXMLObject()  //XML OBJECT
{
   var xmlHttp = false;
   try {
     xmlHttp = new ActiveXObject("Msxml2.XMLHTTP")  // For Old Microsoft Browsers
   }
   catch (e) {
     try {
       xmlHttp = new ActiveXObject("Microsoft.XMLHTTP")  // For Microsoft IE 6.0+
     }
     catch (e2) {
       xmlHttp = false   // No Browser accepts the XMLHTTP Object then false
     }
   }
   if (!xmlHttp && typeof XMLHttpRequest != 'undefined') {
     xmlHttp = new XMLHttpRequest();        //For Mozilla, Opera Browsers
   }
   return xmlHttp;  // Mandatory Statement returning the ajax object created
}
 
var xmlhttp = new getXMLObject(); //xmlhttp holds the ajax object
 
function ajaxFunctionTag() {
  var getdate = new Date();  
  if(xmlhttp) {
    var person_name = document.getElementById("person-tags");
    xmlhttp.open("POST","/image/{{image.id}}/ajaxtaging/",true); 
    xmlhttp.onreadystatechange  = handleServerResponse;
    xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xmlhttp.send("csrfmiddlewaretoken={{csrf_token}}&person_name="+person_name.value);
}
}

function handleServerResponse() {
   if (xmlhttp.readyState == 4) {
     if(xmlhttp.status == 200) {
       document.getElementById("tag_note_message").innerHTML=xmlhttp.responseText; //Update the HTML Form element 
       over()
     }
     else {
        alert("Error during AJAX call. Please try again");
     }
   }
}


function over(){
    $("#tag_note").show();
}
</script>


  
    <ul class="thumbnails">
        <li class="span10">
          <div class="thumbnail">
            <div class="row-fluid">
    {% if image.imagefile.url%}
    <a href="{{image.imagefile.url}}" target="_blank">
      <img class="span6" src="{{image.imagefile.url}}"></a>
      {%else%}
      <h4>Can't Find this Image</h4>
      <ul>
        <li>It was Either Deleted or</li>
        <li>It never Existed</li>
      </ul>
      {%endif%}
            <div class="caption pull-right span4">
                    
<h4>This image </h4>
                
            <table class="table table-striped table-bordered table-condensed">

              
              <tr> <td>Persons: </td>
                    <td>
                      
                      {% for a in tags_persons %}
                      
                     {%if a.id %}   
                    <li><a href="{% url person_detail_index a.id '-'|add:a.person_name %}">{{a.person_name}}</a></li>
                   {%endif%}
                    {% endfor %}

                    {%if image.imagefile.url%}
                            <li><a href="#" id="tager">Tag more ?</a></li>
                      {%endif%}
                    
                        </td>
              </tr>
              <tr><td>Type:</td>
                  <td>  {% for a in tags_type %}
                          &nbsp;{{a}}
                        {% endfor %}
                  </td>
              </tr>
              <tr>
                <td> from movie: </td>
   <td> {% for a in tags_movie %}
    <a href="/movie/{{a.id}}-{{a.movie_name}}/">{{a.movie_name}}</a>&nbsp;
    {% endfor %}</td>
              </tr>
            </table>
            <table class="table">
             <tr>
              <td>{%if previous%}
  <a href="/person/image/{{name.id}}-{{name}}/{{previous.id}}/">previous</a>
  {%else%}
  previous
  {%endif%}</td>
      <td>{%if next %}
  <a href="/person/image/{{name.id}}-{{name}}/{{next.id}}/" class="pull-right">next</a>
  {%else%}
  <span class="pull-right">next</span>
  {%endif%}  </td></tr>
            </table>
            <br/>
  <div id="tag_note" class="alert fade in hide" data-dismiss="alert" href="#">
            <span id="tag_note_message"></span>
            
            </div>
          </div>
        </div>
      </li>
    </ul>



<!--other layouts-->

    <div id="tagerdialog" title="Search and Click on Tag">
    <div class="tagcontainerdialog">
      Person:<input id="person-tags" type="text" name="person_name">
      <input type="submit" name="tag" id="closedialog" onclick="ajaxFunctionTag();">
                  </div>
                  </div>

  
        </div>
      </div>


</div>


{%endblock%}