
    {%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
  document.title = "{{name}} - Project Movies"
</script>
<div class="container-fluid">
  <div class="row-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
            
         <li><a href="{% url person_detail_index name.id '-'|add:name.person_name %}{%if request.GET.iframe%}?iframe=1
{%endif%}">{{name.person_name}}</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/info/{%if request.GET.iframe%}?iframe=1
{%endif%}">Info</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/movies/{%if request.GET.iframe%}?iframe=1
{%endif%}">Movies</a></li>
              <li class="active"><a href="/person/image/{{name.id}}-{{name.person_name}}/{%if request.GET.iframe%}?iframe=1
{%endif%}">Images</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/music/{%if request.GET.iframe%}?iframe=1
{%endif%}">Music</a></li>
              <li><a href="{% url person_detail_trailers name.id '-'|add:name.person_name %}{%if request.GET.iframe%}?iframe=1
{%endif%}">Trailers</a></li>
              <li><a href="#">News</a></li>

          </ul>
  </div>
  <br/><br/>

    <div class="span9">
            <a href="/image/list/">Upload More ?</a>
    </div>
    
    <div class="span12">   
    <div id="images-container">
       {%load thumbnail%}
      
        {%if images%}
       {%for each_image in images%}
        {% thumbnail each_image.imagefile "160x120" as image %}
      
        <div class="images-box">
          <a href="/person/image/{{person_id}}-{{name}}/{{each_image.id}}/{%if request.GET.iframe%}?iframe=1
{%endif%}">
            <img src="{{image.url}}" width="120" alt="some-thing-is-wrong-with-connection">
          </a>
        </div>
        {%endthumbnail%}
      {%endfor%}
      {%endif%}
      {%if profile_images%}
       {%for each_image in profile_images%}
        {% thumbnail each_image.imagefile "160x120" as image %}
        <div class="images-box">
          <a href="/profile/image/{{person_id}}-{{name}}/{{each_image.id}}/{%if request.GET.iframe%}?iframe=1
{%endif%}">
            <img src="{{image.url}}" width="120" alt="some-thing-is-wrong-with-connection">
          </a>
        </div>
        {%endthumbnail%}
        
      {%endfor%}
      {%endif%}
    </div>
    </div>
      
      
    
  </div>
</div>
      <script type="text/javascript">
 var $container = $('#images-container');
    $container.imagesLoaded(
              function()
                {
                  $container.masonry
                  ({
                        itemSelector : '.images-box',
                        isAnimated: true,
                        columnWidth: 120
                         
        
                  });
                }
              );   
</script>
{%endblock%}