
    {%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
  document.title = "{{name}} - Project Movies"
</script>
<div class="container-fluid">
  <div class="row-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
            
         <li><a href="{% url person_detail_index name.id '-'|add:name.person_name %}{%if request.GET.iframe%}?iframe=1
{%endif%}">{{name.person_name}}</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/info/{%if request.GET.iframe%}?iframe=1
{%endif%}">Info</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/movies/{%if request.GET.iframe%}?iframe=1
{%endif%}">Movies</a></li>
              <li class="active"><a href="/person/image/{{name.id}}-{{name.person_name}}/{%if request.GET.iframe%}?iframe=1
{%endif%}">Images</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/music/{%if request.GET.iframe%}?iframe=1
{%endif%}">Music</a></li>
              <li><a href="{% url person_detail_trailers name.id '-'|add:name.person_name %}{%if request.GET.iframe%}?iframe=1
{%endif%}">Trailers</a></li>
              <li><a href="#">News</a></li>

          </ul>
  </div>
  <br/><br/>

  <div class="caption pull-right span4">
                    
              <a href="/person/image/{{name.id}}-{{name.person_name}}/">Go back</a>
            
            </div>
    <ul class="thumbnails">
        <li class="span10">
          <div class="thumbnail">
            <div class="row-fluid">
    {% if image.imagefile.url%}

    <a href="{{image.imagefile.url}}" target="_blank">
      <img class="span6" src="{{image.imagefile.url}}"></a>
      {%else%}
      <h4>Can't Find this Image</h4>
      <ul>
        <li>It was Either Deleted or</li>
        <li>It never Existed</li>
      </ul>
      {%endif%}

          </div>
        </div>
      </li>
    </ul>



<!--other layouts-->

  
        </div>
      </div>





{%endblock%}