{% extends "registration/registration_base.html" %}
{% block title %}Confirm password reset{% endblock %}
{% block content %}
Enter your new password below to reset your password:
<form method="post" action="">{% csrf_token %}
<table>
    {{ form.as_table }}
    <tr><td></ td><td><input type="submit" value="Set password" class="btn" /></td></tr>
</table>
</form>
{% endblock %}
