{% extends "registration/registration_base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}
<div class="span9">
	<div class="row-fluid">
<form method='post' action=''>{% csrf_token %}
<table>
    {{ form }}
    <tr><td></td><td><input type='submit' value="Change password" class="btn"/></td></tr>
</table>
</form>
</div>
</div>
{% endblock %}
