{%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
    window.setTimeout("location=('/v1/');",2000);
</script>
<script type="text/javascript">
  document.title = "{{name}} - Project Movies"
</script>
<div class="container">
  <div class="row">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
            <li class="active"><a href="/movie/{{movie_id}}-{{name}}/index/{%if request.GET.iframe%}?iframe=1{%endif%}">{{name}}</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/{%if request.GET.iframe%}?iframe=1{%endif%}">Plot</a></li>
              <li><a href="/movie/{{movie_id}}/rating/{%if request.GET.iframe%}?iframe=1{%endif%}">Rating</a></li>
              <li><a href="/image/{{movie_id}}-{{name}}/{%if request.GET.iframe%}?iframe=1{%endif%}">Images</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/cast/{%if request.GET.iframe%}?iframe=1{%endif%}">Cast</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/music/{%if request.GET.iframe%}?iframe=1{%endif%}">Music</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/trailers/{%if request.GET.iframe%}?iframe=1{%endif%}">Trailers</a></li>
              <li><a href="{% url movie_detail_news movie_id|add:"-" name %}{%if request.GET.iframe%}?iframe=1{%endif%}">News</a></li>

{%if user.is_staff%}
  {%if global_var.admin_url%}
              <li><a href="{{global_var.admin_url}}movies/movies/{{movie_id}}/" target='_blank'>Edit this on admin </a>
    {%endif%}
    {%endif%}
          </ul>
  </div>
<br/>
<br/>
  
    <div class="info_box span12">
       {%if theater_status == 'D' %}
  <div class="span8">
    <span class="label label-info"> Releasing on: 

    {% if movie.id.movie_year.year == 1800 %}  
    Don't Know Yet </span>
    {% else %}
    {{name.movie_year}}
    </span>
     <span class="label label-info"> In {{days_left}} days</span>

      {% if name.movie_year|date:"w" == '6' or name.movie_year|date:"w" == '0' or name.movie_year|date:"w" == '5' %}
                <span class="badge badge-warning">{{ name.movie_year|date:"l" }}</span>
                {%else%}
                <span class="badge">{{ name.movie_year|date:"l" }}</span>
                {%endif%}


  </div>
  {% endif %}
  {%else%}
  {%if theater_status == 'T' %}
  <div class="span8">
    <span class="label label-info">In Theaters Now</span>
  </div>
  {%endif%}
  {%endif%}
  
      <div class="span12">
      
       <div class="span6 info_box_style removeopacity" id='infobox_qlinks'>
              <a href="/movie/{{movie_id}}-{{name}}/">Plot</a> &nbsp;&nbsp;&nbsp;
              <a href="/movie/{{movie_id}}/rating/">Rating</a>&nbsp;&nbsp;&nbsp;
              <a href="/image/{{movie_id}}-{{name}}/">Images</a>&nbsp;&nbsp;&nbsp;
              <a href="/movie/{{movie_id}}-{{name}}/cast/">Cast</a>&nbsp;&nbsp;&nbsp;
              <a href="/movie/{{movie_id}}-{{name}}/music/">Music</a>&nbsp;&nbsp;&nbsp;
              <a href="/movie/{{movie_id}}-{{name}}/trailers/">Trailers</a>&nbsp;&nbsp;&nbsp;
  </div>
</div>
       <div class="span1" style='text-align:center;'>
        <a href="">
            <img src="{{banner_image}}" style="max-height: 80px; padding-bottom: 10px; padding-top: 10px;" >
          </a>
      </div>

<div class="info_box_style removeopacity">
{%load thumbnail%}
    
    <a href="/movie/{{movie.id.id}}-{{movie.id.movie_name}}/">
      <h5>{{movie.movie_name}}</h5>
              </a>
      <div class="span3">
              <p>
                Genres:
                {%if movie.genres%}
                {%for genre in movie.genres%}
                <a href="/genre/{{genre.genre_id.id}}/">{{genre.genre_id.genre_name}}</a> /
                {%endfor%}
      
                {%else%}
                Dont Know Yet
                {%endif%}
      
              </p>
              <p>
                Main Cast:
      
                {%if movie.persons%}

                {%for person in movie.persons%}
                      {% if person.profile_image%}
                         {% thumbnail person.profile_image.imagefile "40x35" as image %}
      
                  <a href="/person/{{person.id.id}}-{{person.id.person_name}}/index/" rel="tooltip" title="{{person.id.person_name}}">
                   <img src="{{ image.url }}" style="padding:{{ image|margin:"40x35" }}" />
                 </a>
      
                        {% endthumbnail %}
                   
                      {%else%}
                      <a href="/person/{{person.id.id}}-{{person.id.person_name}}/info/">{{person.id.person_name}}</a> /
                      {%endif%}
                      {%endfor%}
                {%else%}
                Dont Know Yet
                {%endif%}
              </p>
            </div>
            <div class="span3 pull-right">
              <p>
                {{movie.id.movie_plot|truncatechars:145|safe}}<a href='/movie/{{movie_id}}-{{name}}/'> Read More...</a>
              </p>
              </div>
              {% if movie.id.movie_year.year == 1800 %}
              {%else%}
              {% if theater_status == 'F' %}
              <div class="span3 pull-right">
                Released On - {{movie.id.movie_year}}
              </div>
              {%endif%}
              {%endif%}          
</div>
    </div>
  </div>
</div>
<style type="text/css">
 
.removeopacity{
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=10);
    bottom: 50px;
}
.info_box_style{
  
  color: rgb(255,255,255);
  font-size: 13px;
  
}
  .info_box{
    background-color: black;
    
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter:alpha(opacity=8);
    
  }
  #page_body{
    background:url({{background_image.imagefile.url}});
    /* background:url('http://127.0.0.1:8000/media/image/2012/4/4/9d781e54-56a8-434d-b80f-4ce6e21cb153.jpg'); */
    background-repeat:repeat;  
    background-attachment:fixed;
    
  }

@media (min-width: 980px) {
  .info_box{
    position: absolute;
    bottom: 50px;
  }
  #page_footer{
  position: fixed;
  bottom: 0px;
}
}
@media (max-width: 780px){
  #infobox_qlinks{
    display: none;
  }
}
</style>


  {%endblock%}
