{%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
  document.title = "{{name}} - Project Movies"
</script>
<script type="text/javascript">
  var time_variable;
 
function ajaxFunctionLoadiFrame(video_id) {
  var getdate = new Date();  
  document.getElementById(video_id).style.display="";
  document.getElementById(video_id).src="http://www.youtube.com/embed/"+video_id;
  image_id="img_"+video_id;
  document.getElementById(image_id).style.display="none";
}
</script>
  <script type= "text/javascript">
        function getYouTubeInfo(video_id) {
                $.ajax({
                        url: "http://gdata.youtube.com/feeds/api/videos/"+video_id+"?v=2&alt=json",
                        dataType: "jsonp",
                        success: function (data) { 
                          parseresults(data,video_id); 
                        }
                });
        }

        function parseresults(data,video_id) {
                var title = data.entry.title.$t;
                var description = data.entry.media$group.media$description.$t;
                var viewcount = data.entry.yt$statistics.viewCount;
                var author = data.entry.author[0].name.$t;
              //  document.getElementById('jsmessage').innerHTML+=video_id;
                var title_id='#title'+video_id;
                var description_id='#description'+video_id;
                var extrainfo_id='#extrainfo'+video_id;

                $(title_id).html(title);
                $(description_id).html('<b>Description</b>: ' + description);
                $(extrainfo_id).html('<b>Author</b>: ' + author + '<br/><b>Views</b>: ' + viewcount);
                mansory_thumbnails();
             //   getComments(data.entry.gd$comments.gd$feedLink.href + '&max-results=50&alt=json', 1);
        }

        function mansory_thumbnails(){
                  var $container = $('.thumbnails');
                  $container.imagesLoaded(
                            function(){
                                $container.masonry({
                                    itemSelector : '.span4',
                                  });}
                              );   
                  }


        function getComments(commentsURL, startIndex) {
                $.ajax({
                        url: commentsURL + '&start-index=' + startIndex,
                        dataType: "jsonp",
                        success: function (data) {
                        $.each(data.feed.entry, function(key, val) {
                                $('#comments').append('<br/>Author: ' + val.author[0].name.$t + ', Comment: ' + val.content.$t);
                        });
                        if ($(data.feed.entry).size() == 50) { getComments(commentsURL, startIndex + 50); }
                        }
                });
        }

</script>

<div class="container-fluid">
  <div class="row-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
            <li><a href="/movie/{{movie_id}}-{{name}}/index/{%if request.GET.iframe%}?iframe=1{%endif%}">{{name}}</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/{%if request.GET.iframe%}?iframe=1{%endif%}">Plot</a></li>
              <li><a href="/movie/{{movie_id}}/rating/{%if request.GET.iframe%}?iframe=1{%endif%}">Rating</a></li>
              <li><a href="/image/{{movie_id}}-{{name}}/{%if request.GET.iframe%}?iframe=1{%endif%}">Images</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/cast/{%if request.GET.iframe%}?iframe=1{%endif%}">Cast</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/music/{%if request.GET.iframe%}?iframe=1{%endif%}">Music</a></li>
              <li class="active"><a href="/movie/{{movie_id}}-{{name}}/trailers/{%if request.GET.iframe%}?iframe=1{%endif%}">Trailers</a></li>
              <li><a href="{% url movie_detail_news movie_id|add:"-" name %}{%if request.GET.iframe%}?iframe=1{%endif%}">News</a></li>
    
          </ul>
  </div>
  <br/><br/>

     <ul class="thumbnails">
  
  {%for trailer in latest_trailers %}
        <li class="span4">
          <div class="thumbnail">
            <div class="row-fluid">
              
              <div>
                    <a href="/movie/{{trailer.movie_id.id}}-{{trailer.movie_id.movie_name}}/">
                    <h6>{{trailer.movie_id.movie_name}} </h6></a>
              </div>

               <a onClick='ajaxFunctionLoadiFrame("{{trailer.youtube_code}}");'><img id="img_{{trailer.youtube_code}}" src='http://img.youtube.com/vi/{{trailer.youtube_code}}/0.jpg' width='100%' height='300'></a>

             <iframe id="{{trailer.youtube_code}}" width="100%" height="300" frameborder="0" allowfullscreen class="pull-left" controls=0 style="display:none;"></iframe>
     <div>
                <div id="title{{trailer.youtube_code}}">Could not find a title</div>
                <div id="description{{trailer.youtube_code}}" style="background-color: #dddddd; font-size:10px; text-align:left;">Could not find a description</div>
                <div id="extrainfo{{trailer.youtube_code}}" style="background-color: #dddddd; font-size:10px; text-align:left;">Could not find extra information</div>
        </div>
                 <script type="text/javascript">
                 getYouTubeInfo('{{trailer.youtube_code}}');
          </script>
            
        
        </div>
      </div>
      </li>
      {%endfor%}

    </ul>

  


<script type="text/javascript">
 var $container = $('.thumbnails');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.span6',
  });
});
</script>




</div>
</div>
  {%endblock%}