{%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
    window.setTimeout("location=('/v1/');",2000);
</script>
<script type="text/javascript">
  document.title = "{{name}} - Project Movies"
</script>
<div class="container-fluid">
  <div class="row-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
              <li><a href="/movie/{{movie_id}}-{{name}}/index/{%if request.GET.iframe%}?iframe=1{%endif%}">{{name}}</a></li>
              <li><a href="{% url movie_detail_plot movie_id|add:"-" name %}{%if request.GET.iframe%}?iframe=1{%endif%}">Plot</a></li>
              <li><a href="{% url movie_detail_rating movie_id|add:"-" name %}{%if request.GET.iframe%}?iframe=1{%endif%}">Rating</a></li>
              <li><a href="/image/{{movie_id}}-{{name}}/{%if request.GET.iframe%}?iframe=1{%endif%}">Images</a></li>
              <li class="active" ><a href="/movie/{{movie_id}}-{{name}}/cast/{%if request.GET.iframe%}?iframe=1{%endif%}">Cast</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/music/{%if request.GET.iframe%}?iframe=1{%endif%}">Music</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/trailers/{%if request.GET.iframe%}?iframe=1{%endif%}">Trailers</a></li>
              <li><a href="{% url movie_detail_news movie_id|add:"-" name %}{%if request.GET.iframe%}?iframe=1{%endif%}">News</a></li>
    
          </ul>
  </div>
  
  <br/><br/>

<div>
    <div class="span8">

    
{%load thumbnail%}
{%for each_person in persons %}

<div class='cast_box_main'>
     <div class='cast_box_image' id="cast_box_image_id_{{forloop.counter}}">
            {% if each_person.profile_image %}

                    {% thumbnail each_person.profile_image.imagefile "80x80" crop='center' as image %}

                   <img src="{{ image.url }}" style="" />
                      {% endthumbnail %}
            {%else%}
                   
                    {% thumbnail "template_images/no_image.jpg" "80x80" crop='center' as image %}
                      <img src="{{ image.url }}" style="" />
                   {% endthumbnail %}
                   
            {%endif%}
      </div>    
            <div class='cast_box_content' id="cast_box_content_id_{{forloop.counter}}">
              <div class='cast_box_content_name'>
                <a href="{% url person_detail_index each_person.id '-'|add:each_person.name %}">{{each_person.name}}</a> 
                </div>      
                
                <div class='cast_box_content_prof'>    
                        {% for profession in each_person.professions %} 
                            <a href="/prof/{{profession.id}}/">{{profession.name}}</a>

                        {% endfor %} 
                </div>
                    
                  <div class='cast_box_content_char'>
                      {% if each_person.character%}
                      <a href="/char/{{each_person.character_id}}/">{{each_person.character}}</a>
                      {%endif%}
                  </div>

            </div>
</div>               
 {% endfor %}
    

      
</div>
  <div class="fb-comments span4" data-href="http://db.w4rlock.in{% url movie_detail_plot movie_id|add:"-" name %}" data-num-posts="2" data-width="370" ></div>
</div>

   </div>
  </div>

    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=411415555554087";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<style type="text/css">
  .cast_box_main{
    width: 250px;
    height: 80px;
    margin: 5px;
    overflow: hidden;
    float: left;
    background: white;
    white-space: nowrap;
    -webkit-box-shadow: 0px 2px 4px #EEE;
        -moz-box-shadow: 0px 2px 4px #EEE;
        -o-box-shadow: 0px 2px 4px #EEE;
        box-shadow: 0px 2px 4px #EEE;
  }
  .cast_box_image{
    float: left;
    max-width: 50%;
  }
  .cast_box_content{
    float: right;
    width: 165px;
  }
  .cast_box_content_char{
    width: 100%
  }
  .cast_box_content_prof{
      width: 100%;
  } 
  
  .cast_box_content_name{
        width: 100%;
  } 
  .cast_box_content_name a{
    color: black;
    margin: 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-rendering: optimizelegibility;
    text-overflow: ellipsis;
  }
  .cast_box_main:hover{
    background: rgba(255, 255, 255, 0.5);
  }
  .cast_box_content_char a{
    text-rendering: optimizelegibility;
    text-overflow: ellipsis;
  }
  .cast_box_content_prof a{
     text-rendering: optimizelegibility;
    text-overflow: ellipsis;
  }
</style>

   {%endblock%}