<link rel="stylesheet" href="{{ STATIC_URL }}jquery-ui.css" type="text/css" media="all" />
<script src="{{ STATIC_URL }}jquery.min.js" type="text/javascript"></script> 
<script src="{{ STATIC_URL }}jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
  $("#movies").autocomplete({
    source: "/movie/searching/",
    minLength: 2,
  });
});
</script>

<div class="ui-widget">
  <label for="movies">Movie: </label>
  <input id="movies">
</div>