{%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
  document.title = "{{name}} - Project Movies"
</script>
<div class="container-fluid">
  <div class="row-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
            <li><a href="/movie/{{movie_id}}-{{name}}/index/{%if request.GET.iframe%}?iframe=1{%endif%}">{{name}}</a></li>
              <li><a href="{% url movie_detail_plot movie_id|add:"-" name %}{%if request.GET.iframe%}?iframe=1{%endif%}">Plot</a></li>
              <li><a href="{% url movie_detail_rating movie_id|add:"-" name %}{%if request.GET.iframe%}?iframe=1{%endif%}">Rating</a></li>
              <li><a href="/image/{{movie_id}}-{{name}}/{%if request.GET.iframe%}?iframe=1{%endif%}">Images</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/cast/{%if request.GET.iframe%}?iframe=1{%endif%}">Cast</a></li>
              <li class="active"><a href="/movie/{{movie_id}}-{{name}}/music/{%if request.GET.iframe%}?iframe=1{%endif%}">Music&nbsp;</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/trailers/{%if request.GET.iframe%}?iframe=1{%endif%}">Trailers</a></li>
              <li><a href="{% url movie_detail_news movie_id|add:"-" name %}{%if request.GET.iframe%}?iframe=1{%endif%}">News</a></li>
    
          </ul>
  </div>
  <br/><br/>
<style type="text/css">
  #radiobuttonbounds {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

#radiobuttonbounds label {
    float:left;
    width: 100px;
}

#radiobuttonbounds label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

#radiobuttonbounds label input {
    position:absolute;
    top:-20px;
}

#radiobuttonbounds input:checked + span {
    background-color:#404040;
    color:#F7F7F7;
}​
</style>
<script type="text/javascript">

var time_variable;
 
function getXMLObject()  //XML OBJECT
{
   var xmlHttp = false;
   try {
     xmlHttp = new ActiveXObject("Msxml2.XMLHTTP")  // For Old Microsoft Browsers
   }
   catch (e) {
     try {
       xmlHttp = new ActiveXObject("Microsoft.XMLHTTP")  // For Microsoft IE 6.0+
     }
     catch (e2) {
       xmlHttp = false   // No Browser accepts the XMLHTTP Object then false
     }
   }
   if (!xmlHttp && typeof XMLHttpRequest != 'undefined') {
     xmlHttp = new XMLHttpRequest();        //For Mozilla, Opera Browsers
   }
   return xmlHttp;  // Mandatory Statement returning the ajax object created
}
 
var xmlhttp = new getXMLObject(); //xmlhttp holds the ajax object
 
function ajaxFunctionAddUrl() {
  var getdate = new Date();  
  if(xmlhttp) {
    var e = document.getElementById("song_id");
    var song_id = e.options[e.selectedIndex].value;

    var e = document.getElementById("loc_type_id");
    var link_loc_type=e.options[e.selectedIndex].value;

    var link_type = $('input:radio[name=link_type]:checked').val();
    var e4 = document.getElementById("url");
    var url = e4.value
    xmlhttp.open("POST","/add/movie_music/ajaxaddurl/",true); 
    xmlhttp.onreadystatechange  = handleServerResponse;
    xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xmlhttp.send("csrfmiddlewaretoken={{csrf_token}}&song_id="+song_id+"&url="+url+
      "&link_type="+link_type+"&link_loc_type="+link_loc_type);
}
}

function handleServerResponse() {
   if (xmlhttp.readyState == 4) {
     if(xmlhttp.status == 200) {
       document.getElementById("alert_note_message").innerHTML=xmlhttp.responseText; //Update the HTML Form element 
       over()
     }
     else {
        alert("Error during AJAX call. Please try again");
     }
   }
}


function over(){
    $("#alert_note").show();
    $("#addLinks").modal('hide');

}
</script>
  <div class="span11">
    
      <div class="span8">
<div id="alert_note" class="alert fade in hide" data-dismiss="alert" href="#">
            <span id="alert_note_message"></span>

            </div>
       
        <div class="accordion" id="accordion2" >
      {%for song in movie_music%}
            <div class="accordion-group">
              <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{forloop.counter}}">{{song.song.song_name}}
                </a>
              </div>
              <div id="collapse{{forloop.counter}}" class="accordion-body collapse" style="height: 0px; ">
                <div class="accordion-inner">
           <a href="/music/song/{{song.song.id}}-{{song.song.song_name}}/">full details</a>
                  {%if song.persons%}
                  <h6>Music</h6>
                  <table class="table table-condensed table-striped table-bordered">
                    {%for person in song.persons%}
                    <tr>
                      <td><a href="/person/{{person.id.id}}-{{person.id.person_name}}/info/">
                        {{person.id.person_name}}</a></td>
                      <td>
                        {{person.desc}}
                      </td>
                    </tr>
                    {%endfor%}
                  </table>
                  {%else%}
                  <br/>
                  no music info avilable contribute ?
                  {%endif%}
            
                
                  {%if song.video_persons%}
                  <h6>Video</h6>
                  <table class="table table-condensed table-striped table-bordered">
                    {%for person in song.video_persons%}
                    <tr>
                      <td>
           <a href="/person/{{person.id.id}}-{{person.id.person_name}}/info/">{{person.id.person_name}}</a>             
                      </td>
                      <td>
                        {{person.desc}}
                      </td>
                    </tr>
                    {%endfor%}
                  </table>
                 <strong> add more info ?</strong>
                  {%else%}
                  <br/>
                  no song video person info avilable contribute ?
                  {%endif%}
                
                
                {% if song.urls %}
              
                <table class="table table-condensed table-striped table-bordered">
                  <tr><h6>Listen Here</h6></tr>
                  {%for url in song.urls%}
                  
                    {% if url.link_type == "Audio" %}
                        {% if url.link_loc_type == "YouTube" %}
                        <tr>
                          <td style="overflow:hidden;">

                          <iframe width="100%" height="100" src="http://www.youtube.com/embed/{{url.song_url}}" frameborder="0" allowfullscreen class="pull-left" controls=0></iframe>
                           <!--{%comment%}
                            <a href="{{url.song_url}}" target="_blank">
                           
                            <img src="/media/external_icons/Youtube_32x32.png"/>&nbsp;{{url.song_url}}
                             </a>
                             {%endcomment%}-->
                           </td>
                            </tr>
                        {%else%}
                        <tr>
                          <td style="overflow:hidden;">
                        <a href="{{url.song_url}}" target="_blank">
                      {{url.song_url}}
                        </a>
                      </td>
                      </tr>
                      {%endif%}
                      {%endif%}
                  
                    {%endfor%}
                </table>

                <table class="table table-condensed table-striped table-bordered">
                  <tr><h6>Watch Here Here</h6></tr>
                  {%for url in song.urls%}
                    {% if url.link_type == "Video" %}
                        {% if url.link_loc_type == "YouTube" %}
                        <tr>
                          <td style="overflow:hidden;">

                    <iframe width="100%" height="250" src="http://www.youtube.com/embed/{{url.song_url}}" frameborder="0" allowfullscreen class="pull-left" controls=0></iframe>
                            <!--{%comment%}
                            <a href="{{url.song_url}}" target="_blank">
                            <img src="/media/external_icons/Youtube_32x32.png"/>&nbsp;{{url.song_url}}
                             </a>
                             {%endcomment%}-->
                           </td>
                            </tr>
                        {%else%}
                        <tr>
                          <td style="overflow:hidden;">
                        <a href="{{url.song_url}}" target="_blank">
                      {{url.song_url}}
                        </a>
                      </td>
                      </tr>
                      {%endif%}
                      {%endif%}
                  
                    {%endfor%}
                </table>
<a data-toggle="modal" href="#addLinks">
                <strong>add more links ?</strong></a>
                {%else%}
                <br/>
               <a data-toggle="modal" href="#addLinks">
                <strong>no links avilable Contribute ?</strong></a> 
                {%endif%}
                </div>
              </div>
            </div>
    {%endfor%}
      </div>

        </div>
        
  <div class="fb-comments span4" data-href="http://db.w4rlock.in{% url movie_detail_plot movie_id|add:"-" name %}" data-num-posts="2" data-width="370"></div>
  
</div>


<!-- other layers -->
<div id="addLinks" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">×</a>
              <h3>Add Info</h3>
            </div>
            <div class="modal-body">
              <form class="well" method='POST' action=''>
                <p>
                  <span class="label label-important">Select Song</span>
                  <br/><br/>
              <select name="song_id" id="song_id">
                {%for song in movie_music%}
                      <option value="{{song.song.id}}">{{song.song.song_name}}</option>
                {%endfor%}
              </select>
              </p>
              <p>
             <h6> URL :</h6> 
             <li>make sure that that you enter a valid url</li>
             <li>for youtube link just enter the code of the video </li>
             <li>for http://www.youtube.com/watch?feature=player_embedded&v=<span class="label label-important">7bLwzMmGC6w</span> just enter the code after <strong>v=</strong>  </li>
             <li>and please enter only valid urls and if you know what you are entering</li>
             <input type="text" name="url" id="url">
              </p>
              <p>
                <h6>Location Type:</h6>
              <select name="loc_type" id="loc_type_id">
                
                      <option value="YouTube">YouTube</option>
                      <option value="Other">Other</option>
                
              </select>
              </p>
              <p>
              <h6>Url Type:</h6>

        <div id="radiobuttonbounds">
     
      <label><input type="radio" name="link_type" value="Audio" /><span>Audio</span></label>
      <label><input type="radio" name="link_type" value="Video" /><span>Video</span></label>
    </div>
  </div>
              
            
            <div class="modal-footer">
              <a href="#" class="btn" data-dismiss="modal">Close</a>
              <a href="#" class="btn btn-primary" onclick="ajaxFunctionAddUrl();">Add Link</a>  
            </div>
            </form>
</div>
    

</div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=411415555554087";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{%endblock%}

