{%extends "home_pages_styles.html"%}

{%block content3%}

<script type="text/javascript">
  document.title = "All Movies - Project Movies"
</script>
<style type="text/css">
 
.caption {
     
    /* 
     text-align: center; 
     */
  }

.thumbnail{ 
  height: 80px;
  overflow: hidden;
  padding: 0 0 0 0;
  width: 280px;
  background-color: #F2F0F0;


    box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);
  -o-box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);
  
  -webkit-box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);

}
.thumbnail p{
  border-top: 0px solid #FCFAFA;
  border-bottom: 0px solid #D9D4D4;
  padding: 0 0 0 0;
}
#loading {
    width: 300px;
    padding: 20px;
    
    
    text-align: center;
    margin: 0 auto;
    display: none;
}​
.auto_image{
    float: left;
    display: block;
  }
.auto_text{
    float: left;
    display: block;
    padding-left: 5px;
  }

</style>
<script type="text/javascript">
  function ajaxFunctionLoadiFrame(movie_id) {
  var getdate = new Date();  
  if($(window).height()<500){
    window.location.replace("/movie/"+movie_id+"/index/");
  }
  if($(window).width() > 980){
     $('#loading').show();
  $('#iframe_movie').hide();
  
  document.getElementById('iframe_movie').src="/movie/"+movie_id+"/index/";

  $("#iframe_link").attr("href", "/movie/"+movie_id+"/index/");
}
else{
  window.location.replace("/movie/"+movie_id+"/index/");
}

$('#iframe_movie').load(function() {
    $('#iframe_movie').show();
    $('#loading').hide();
});

}
</script>
<script type="text/javascript">
$(function() {
$("#search-center").autocomplete({
minLength: 2,
      source: "/all/searching/",
      focus: function( event, ui ) {
        $( "#search-center" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
                  { 
            window.location.href = ui.item.url;
        }   
      }
    })
    .data( "autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
        .data( "item.autocomplete", item )
         .append( "<a><div class='auto_image'><img src='"+item.icon+"'></div>&nbsp;<div class='auto_text'>"+ item.label + "</div></a>" )
        .appendTo( ul );
    };
  });
  </script>

<script type="text/javascript">
  document.title = "All Movies - Project Movies"
</script>

<div class="container-fluid">
  <div class="subnav-fixed subnav" >
          
   <form class="navbar-search pull-center" action="/search/all/" method="GET">
   <input id="search-center" type="text" class="span4"  placeholder="Search Movies or Actors ">   
    </form>             
          
          <ul class="nav nav-pills">
            <li>&nbsp;</li>
          <span class="pagination">
               {% if all_movies.has_previous %}
         <li>   <a href="?p={{ .previous_page_number }}">previous</a> </li>
        {% endif %}

        <li class="current">
            <a href=''>Page {{ all_movies.number }} of {{ all_movies.paginator.num_pages }}.</a>
        </li>

        {% if all_movies.has_next %}
            <li> <a href="?p={{ all_movies.next_page_number }}">next</a></li>
        {% endif %}
          </span>
    
          </ul>
  </div>
  <br/>

<br/>



{% load thumbnail %}
   <ul class="thumbnails">
  {%for each_movie in movies_list %}
  
  <li>
  <a data-toggle="modal" href="#modal_movie" onClick='ajaxFunctionLoadiFrame("{{each_movie.id}}")'>
<div class="thumbnail">
  <div class="row-fluid">

               {%if each_movie.banner_image%}
	{% thumbnail each_movie.banner_image.imagefile "80x80" crop="80% top" as image %}
                   <img src="{{ image.url }}" />
            {% endthumbnail %}
	{%else%}
	{% thumbnail "template_images/no_image.jpg" "80x80" crop='center' as image %}
                   <img src="{{ image.url }}" />
            {% endthumbnail %}
     {%endif%}

            <div class="caption pull-right">
              <p>
				        <a href="/movie/{{each_movie.id}}-{{each_movie.name}}/index/" id="movie_href" onmouseover="loadiframe('{{each_movie.id}}')" onmouseout="unloadiframe()">
					         <h6>{{each_movie.name|truncatechars:'15' }} {%if each_movie.year == 1800%}{%else%}({{each_movie.year}}){%endif%}</h6>
				        </a>              
              </p>
            </div>

          </div>
        </div>
  </a>     
  </li>

      {%endfor%}

    </ul>


</div>


<!-- otehr layers-->
<div class="modal hide fade" style="display: none; " id="modal_movie" style="height: 100%; width: 100%">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h6><a id='iframe_link' href=''>Go to this page</a></h6>
  </div>
  <div id='loading'>
      Please Wait While Loading
        <div class="progress progress-striped active">
              <div class="bar" style="width: 100%;"></div>
      </div>
  </div>​
    <iframe id="iframe_movie" width="100%" height="90%" frameborder="0" style="display:none;">
        
      </iframe>
</div>


<script type="text/javascript">
 var $container = $('.thumbnails');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : 'li',
  });
});
</script>


<iframe id="info_iframe" class="info_iframe" style="display:none" onmouseover="keepiframe()" onmouseout="unloadiframe()"> </iframe>


<script type="text/javascript">

var mouseX;
var mouseY;
var now_movie_id;
$(document).mousemove( function(e) {
   mouseX = e.pageX; 
   mouseY = e.pageY;
}); 


  function loadiframe(movie_id){
    
    if (movie_id==now_movie_id){

    }
    else {
        document.getElementById('info_iframe').src="";
        document.getElementById('info_iframe').src="/ajx/minfoframe/"+movie_id+"/";  
        now_movie_id = movie_id;
    }
    
    $('#info_iframe').css({'top':mouseY-10,'left':mouseX})
    $("#info_iframe").show();
    var widthsub = $(window).width() - mouseX
   
    if(widthsub < 470){
      wx = 470-Math.abs(widthsub);
      $('#info_iframe').css({'left':mouseX-wx})
    }

    var heightsub = $(window).height() - mouseY

    if(heightsub < 320){
      wy = 320-Math.abs(heightsub);
     $('#info_iframe').css({'top':mouseY-wy})
    }

  }
  function unloadiframe(){
    $("#info_iframe").hide();
    
  }
  function keepiframe(){
    $("#info_iframe").show();
  }


</script>
<style type="text/css">
  
  .info_iframe{
    height: 320px;
    width: 470px;
    position: absolute;
    top: 80px;
    left: 40px;
    border: 0px;
    background: #EEE;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    -moz-transition: opacity 0.13s linear 0s;
    -webkit-transition: opacity 0.13s linear 0s;
  }
</style>
{%endblock%}
