{%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
  document.title = "{{name}} - Project Movies"
</script>
<div class="container-fluid">
  <div class="row-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
            <li><a href="/movie/{{movie_id}}-{{name}}/index/">{{name}}</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/">Plot</a></li>
              <li class="active"><a href="/movie/{{movie_id}}/rating/">Rating</a></li>
              <li><a href="/image/{{movie_id}}-{{name}}/">Images</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/cast/">Cast</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/music/">Music</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/trailers/">Trailers</a></li>
              <li><a href="{% url movie_detail_news movie_id|add:"-" name %}">News</a></li>
    
          </ul>
  </div>
  <br/><br/>
    

    <div class="span11">
     <div class="row-fluid">
    
    <div class="span6">
      <script src="{{ MEDIA_URL }}/js/highcharts.js" type="text/javascript"></script>
 <script type="text/javascript" src="{{MEDIA_URL}}js/modules/exporting.js"></script>
 
<script type="text/javascript">

    var chart;

    $(document).ready(function() {

        chart = new Highcharts.Chart({

            chart: {

                renderTo: 'chartcontainer',
                type: 'bar'
            },
            credits: {
                enabled: false
            },
            title: {
                text: '{{name}}'
            },
            xAxis: {
                categories: ['comedy','action','class','romance']
            },
            yAxis: {
                min: 0,
                allowDecimals: false,
                title: {
                    text: 'total no of votes'
                },
                stackLabels: {
                    enabled: true,
                    align: 'right',
                    textAlign: 'left',
                }
            },
            legend: {
                backgroundColor: '#FFFFFF',
                reversed: false,
                enabled: false
            },
            
            tooltip: {
                formatter: function() {
                  if(this.x=='comedy'){
                    if(this.series.name=='one')
                      return ' awesome: '+this.y+' ';
                    else if(this.series.name=='two')
                      return ' routine: '+this.y+' ';
                    else if(this.series.name=='three')
                      return ' boring: '+this.y+' '
                    return ''+ this.series.name +': '+ this.y +' '+this.x+' ';
                     }
                  else if(this.x=='action') {
                     if(this.series.name=='one')
                        return ' not applicable: '+this.y+' ';
                     else if(this.series.name=='two')
                        return ' believeable action: '+this.y+' ';
                     else if(this.series.name=='three')
                        return ' people jumping in air: '+this.y+' ';
                  }
                  else if(this.x=='class'){
                     if(this.series.name=='one')
                        return ' class: '+this.y+' ';
                     else if(this.series.name=='two')
                        return ' OK: '+this.y+' ';
                     else if(this.series.name=='three')
                        return ' mass: '+this.y+' ';
                  }
                  else{
                     return this.series.name +': '+ this.y +' ';
                  }
                }
            },
            
            plotOptions: {
                bar: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: 'white',
                    //formatter: function(){
                      //if(this.y==0 || this.y=='0'){
                       // return ''
                      //}
                     // else {return this.x}//this.y}
                    //}
                    formatter: function() {
                  if(this.x=='comedy'){
                    if(this.series.name=='one'){
                      if(this.y!=0){
                      return ' awesome: '+this.y+' ';
                    }
                    else {return ''}
                  }
                    else if(this.series.name=='two'){
                      if(this.y!=0){
                      return ' routine: '+this.y+' ';
                    }
                    else {return ''}
                  }
                    else if(this.series.name=='three'){
                      if(this.y!=0){
                      return ' boring: '+this.y+' ';
                    }
                    else {return ''}
                    }
                    return ''+ this.series.name +': '+ this.y +' '+this.x+' ';
                     }
                  else if(this.x=='action') {
                     if(this.series.name=='one')
                        if(this.y!=0)
                        return ' not applicable: '+this.y+' ';
                      else return ''
                     else if(this.series.name=='two')
                      if (this.y!=0)
                        return ' believeable action: '+this.y+' ';
                      else return ''
                     else if(this.series.name=='three')
                      if (this.y!=0)
                        return ' people jumping in air: '+this.y+' ';
                      else return ''
                  }
                  else if(this.x=='class'){
                     if(this.series.name=='one')
                      if (this.y!=0)
                        return ' class: '+this.y+' ';
                      else return ''
                     else if(this.series.name=='two')
                      if (this.y!=0)
                        return ' OK: '+this.y+' ';
                      else return ''
                     else if(this.series.name=='three')
                      if (this.y!=0)
                        return ' mass: '+this.y+' ';
                      else return ''
                  }
                  else{
                     return this.series.name +': '+ this.y +' ';
                  }
                }
                    }
                }
            },
                series: [{
                name: 'one',
                data: [50, 30, 40,50],//{{dataone}},//[50, 30, 40],
                color: '#89A54E'
            }, {
                name: 'two',
                data: [50, 60, 40,60],//{{datatwo}},//[20, 20, 30],
                color: '#4572A7'
            }, {               
                name: 'three',
                data: [50, 80, 40,40],//{{datathree}},//[30, 40, 40],
                color: '#AA4643',
            }]
        });
    });
</script>
{%if user.username%}
<link href="{{MEDIA_URL}}css/box.css" rel="stylesheet" type="text/css" />
<script src="{{ MEDIA_URL }}js/jquery.tools.min.js" type="text/javascript"></script>
<meta charset="utf-8"> 
   <script>
   // increase the default animation speed to exaggerate the effect
   $.fx.speeds._default = 500;
   $(function() {
      $( "#raterdialog" ).dialog({
         autoOpen: false,
         show: "blind",
         hide: "explode",
         minHeight: 200,
         minWidth: 510
      });

      $( "#rater" ).click(function() {
         $( "#raterdialog" ).dialog( "open" );
         return false;
      });
 $("#closedialog").click(function(){
        $("#raterdialog").dialog("close");
      });
   });
var time_variable;
 
function getXMLObject()  //XML OBJECT
{
   var xmlHttp = false;
   try {
     xmlHttp = new ActiveXObject("Msxml2.XMLHTTP")  // For Old Microsoft Browsers
   }
   catch (e) {
     try {
       xmlHttp = new ActiveXObject("Microsoft.XMLHTTP")  // For Microsoft IE 6.0+
     }
     catch (e2) {
       xmlHttp = false   // No Browser accepts the XMLHTTP Object then false
     }
   }
   if (!xmlHttp && typeof XMLHttpRequest != 'undefined') {
     xmlHttp = new XMLHttpRequest();        //For Mozilla, Opera Browsers
   }
   return xmlHttp;  // Mandatory Statement returning the ajax object created
}
 
var xmlhttp = new getXMLObject(); //xmlhttp holds the ajax object
 
function ajaxFunctionRate() {
  var getdate = new Date();  //Used to prevent caching during ajax call
  if(xmlhttp) {
    var comedy = $('input:radio[name=comedy]:checked').val();
    var action = $('input:radio[name=action]:checked').val();
    var clas = $('input:radio[name=class]:checked').val();
    xmlhttp.open("POST","/movie/{{movie_id}}/ajaxrating/",true); //calling testing.php using POST method
    xmlhttp.onreadystatechange  = handleServerResponse;
    xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xmlhttp.send("csrfmiddlewaretoken={{csrf_token}}&comedy="+comedy+"&action="+action+"&class="+clas); //Posting qty to PHP File
  }
}

function handleServerResponse() {
   if (xmlhttp.readyState == 4) {
     if(xmlhttp.status == 200) {
     document.getElementById("rate_note_message").innerHTML=xmlhttp.responseText; //Update the HTML Form element 
       over()
     }
     else {
        alert("Error during AJAX call. Please try again");
     }
   }
}
function over(){
  $("#rate_note").show();
}
</script>
<style type="text/css">
  #radiobuttonbounds {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

#radiobuttonbounds label {
    float:left;
    width: 100px;
}

#radiobuttonbounds label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

#radiobuttonbounds label input {
    position:absolute;
    top:-20px;
}

#radiobuttonbounds input:checked + span {
    background-color:#404040;
    color:#F7F7F7;
}​
</style>

<div class="rating">
<div id="raterdialog" title="Rating">
   <p>
   
      <p> Choose Options </p>
      {%csrf_token%}
      <table>
        <tr>
      <td>Comedy:</td>
      <td>
    <div id="radiobuttonbounds">
      <label><input type="radio" name="comedy" value="comedyone" /><span>&nbsp;awesome</span></label>
      <label><input type="radio" name="comedy" value="comedytwo" /><span>&nbsp;routine</span></label>
      <label><input type="radio" name="comedy" value="comedythree" /><span>&nbsp;boring</span></label>
    </div>
      </td>
    </tr>
    <tr>
      <td>Action:</td>
      <td>
    <div id="radiobuttonbounds">
      <label><input type="radio" name="action" value="actionone" /><span>&nbsp;not applicable</span></label>
      <label><input type="radio" name="action" value="actiontwo" /><span>&nbsp;believable</span></label>
      <label><input type="radio" name="action" value="actionthree" /><span>&nbsp;people in air</span></label>
    </div>
      </td>
    </tr>
    <tr>
      <td>Class:</td>
      <td>
    <div id="radiobuttonbounds">
      <label><input type="radio" name="class" value="classone" /><span>&nbsp;class</span></label> 
      <label><input type="radio" name="class" value="classtwo" /><span>&nbsp;ok</span></label> 
      <label><input type="radio" name="class" value="classthree" /><span>&nbsp;mass</span></label>
    </div>
     </td>
   </tr>
   <tr>
    <td>
    </td>
      <td><input type="submit" name="submit" value="submit" id="closedialog" onclick="ajaxFunctionRate();"></td>
    </tr>
    </table>
   </div>
</p>

</div> <!-- end rater dialog div -->
{%else%}
<p>login to rate</p>
{%endif%}
{% if name %}
<div id="chartcontainer" style="width: 100%; height: 200px"></div>

{%if user.username %}
<p><a href="#" id="rater"> Give Your Rating</a></p>
{%else%}
<p><a href="/user/login/"> Login to Give Your Rating</a></p>
{%endif%}
<a id="rate_note" class="alert fade in hide" data-dismiss="alert" href="#" >&times;
  <span id="rate_note_message"></span>
</a>
{%else%}

{%endif%} <!-- End for graph-->

    </div>
    <div class="fb-comments span4" data-href="http://db.w4rlock.in{% url movie_detail_plot movie_id|add:"-" name %}" data-num-posts="2" data-width="370"></div>
      </div>
    </div>
  </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=411415555554087";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{%endblock%}