Name:
{% if name %}
	{{name}}
	<br/>
	{% if username %}
	 username: {{username}}&nbsp;&nbsp;<a href="/user/logout/">log out</a>
	 <br/>
	 Your Rating: {{ user_rating }} 
	 {% else %}
	 None Logedin
	 <br/><a href="/user/login/">login here</a>
	 {% endif %}
	 <br/>
	{% if rating %}
		<ul>
			{% for r in rating %}
				<li>Rating:{{r.star_rating}}</li>
				<li>No Votes: {{r.num_votes}}</li>
			{% endfor %}
		</ul>
	{% else %}
		<p> no rating data avliable</p>
	{% endif %}

	<form action="/movie/{{name.id}}/grating/" method="POST">
		{% csrf_token %}
		<input type="radio" name="rating" id="1" value="1" />
		<input type="radio" name="rating" id="2" value="2" />
		<input type="radio" name="rating" id="3" value="3" />
		<input type="radio" name="rating" id="4" value="4" />
		<input type="radio" name="rating" id="5" value="5" />
		<input type="radio" name="rating" id="6" value="6" />
		<input type="radio" name="rating" id="7" value="7" />
		<input type="radio" name="rating" id="8" value="8" />
		<input type="radio" name="rating" id="9" value="9" />
		<input type="radio" name="rating" id="10" value="10" />
		<input type="submit" value="Rate"/>
	</form>
{% else %}
	<p> no hel data avliable</p>
{% endif %}

Genre:
{% if genres %}
	<ul>
		{% for a in genres %}
			<li>{{a.movie_genres_type.movie_genre_type}}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<p> no hel data avliable</p>
{% endif %}

<br/>
<br/>

Cast:
{% if persons %}
	<ul>
		{% for b in persons %}
			<li><a href="/person/{{b.person_id.id}}/">{{b.person_id.person_name}}</a>&nbsp&nbsp {{b.profession_id.profession_name}}</li>
		{% endfor %}
	</ul>
{% else %}
	<p> no hel data avliable</p>
{% endif %}

