{%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
  document.title = "{{name}} - Project Movies"
</script>
<div class="container-fluid">
  <div class="row-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
              <li><a href="/movie/{{movie_id}}-{{name}}/index/{%if request.GET.iframe%}?iframe=1{%endif%}">{{name}}</a></li>
              <li><a href="{% url movie_detail_plot movie_id|add:"-" name %}{%if request.GET.iframe%}?iframe=1{%endif%}">Plot</a></li>
              <li><a href="{% url movie_detail_rating movie_id|add:"-" name %}{%if request.GET.iframe%}?iframe=1{%endif%}">Rating</a></li>
              <li><a href="/image/{{movie_id}}-{{name}}/{%if request.GET.iframe%}?iframe=1{%endif%}">Images</a></li>
              <li class="active" ><a href="/movie/{{movie_id}}-{{name}}/cast/{%if request.GET.iframe%}?iframe=1{%endif%}">Cast</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/music/{%if request.GET.iframe%}?iframe=1{%endif%}">Music</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/trailers/{%if request.GET.iframe%}?iframe=1{%endif%}">Trailers</a></li>
              <li><a href="{% url movie_detail_news movie_id|add:"-" name %}{%if request.GET.iframe%}?iframe=1{%endif%}">News</a></li>
    
          </ul>
  </div>
  
  <br/><br/>

<div class="span11">
    <div class="span8">

        <table class="table table-striped table-bordered table-condensed " style="background: #FFFFFF">
<tr class="even">
  <td> </td>
<td> Person </td>  <td>Role</td>  <td>Character Name</td> <!-- <td>Power</td> -->
</tr>
{%load thumbnail%}
{%for each_person in persons %}
                <tr class="{% cycle 'odd' 'even' %}">
                  <td>

                    {% if each_person.profile_image %}

                    {% thumbnail each_person.profile_image.imagefile "40x35" as image %}

                   <img src="{{ image.url }}" style="padding:{{ image|margin:"40x35" }}" />
            {% endthumbnail %}
                    {%else%}
                    {% thumbnail "template_images/no_image.jpg" "40x35" as image %}
                   <img src="{{ image.url }}" style="padding:{{ image|margin:"40x35" }}" />
            {% endthumbnail %}
            {%endif%}
                  </td>
                  <td>
                    
            
            <a href="{% url person_detail_index each_person.id '-'|add:each_person.name %}">{{each_person.name}}</a> 
                      
                  </td>
                   
                   <td> 
                        {% for profession in each_person.professions %} 
                            <a href="/prof/{{profession.id}}/">{{profession.name}}</a>
                        {% endfor %} 
                    </td>
                   
                    <td>
                      {% if each_person.character%}
                      <a href="/char/{{each_person.character_id}}/">{{each_person.character}}</a>
                      {%endif%}
                    </td>
                   <!--
                    <td>
                      {{each_person.powh}}
                    </td>
                -->
                </tr>
                {% endfor %}
    </table>
<a href="/add/cast/addcast/{{movie_id}}-{{name}}">Add Cast for this movie</a>
      
      </div>
    <div class="fb-comments span4" data-href="http://db.w4rlock.in{% url movie_detail_plot movie_id|add:"-" name %}" data-num-posts="2" data-width="370" ></div>
    </div>

   </div>
  </div>

    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=411415555554087";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

   {%endblock%}