{%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
    window.setTimeout("location=('/v1/');",2000);
</script>
<style type="text/css">
  .movie_info_box{
    border: 1px solid white;
    padding: 5px;
  }
</style>
<script type="text/javascript">
  document.title = "{{name}} - Project Movies"
</script>
<div class="container-fluid">
  <div class="row-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
            <li><a href="/movie/{{movie_id}}-{{name}}/index/{%if request.GET.iframe%}?iframe=1{%endif%}">{{name}}</a></li>
        <li class="active"><a href="{% url movie_detail_plot movie_id|add:"-" name %}{%if request.GET.iframe%}?iframe=1{%endif%}">Plot</a></li>
              <li><a href="{% url movie_detail_rating movie_id|add:"-" name %}{%if request.GET.iframe%}?iframe=1{%endif%}">Rating</a></li>
              <li><a href="/image/{{movie_id}}-{{name}}/{%if request.GET.iframe%}?iframe=1{%endif%}">Images</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/cast/{%if request.GET.iframe%}?iframe=1{%endif%}">Cast</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/music/{%if request.GET.iframe%}?iframe=1{%endif%}">Music</a></li>
              <li><a href="/movie/{{movie_id}}-{{name}}/trailers/{%if request.GET.iframe%}?iframe=1{%endif%}">Trailers</a></li>
              <li><a href="{% url movie_detail_news movie_id|add:"-" name %}{%if request.GET.iframe%}?iframe=1{%endif%}">News</a></li>
    
          </ul>
  </div>
  <br/><br/>
    <div class="span12">
     <div class="row-fluid">
      <div class="span8">
  <div class="span3">
     {% load thumbnail %}
    {% if banner_image %}
    <a href=""><img src="{{banner_image}}" alt="Insert Logo Here" name="Insert_logo" width="180" id="Insert_logo" /></a>
   {%else%}
   {% thumbnail "template_images/no_image.jpg" "180x200" as image %}
                   <img src="{{ image.url }}" style="padding:{{ image|margin:"180x200" }}" />
            {% endthumbnail %} 
   {%endif%}
  </div>
  {%if theater_status == 'D' %}
  <div class="span8">
    <span class="label label-info">Releasing on: 

      {% if name.movie_year.year == 1800 %}
      Dont Know Yet
      {%else%}
      {{name.movie_year}}</span>

     <span class="label label-info"> In {{days_left}} days</span>

      {% if name.movie_year|date:"w" == '6' or name.movie_year|date:"w" == '0' or name.movie_year|date:"w" == '5' %}
                <span class="badge badge-warning">{{ name.movie_year|date:"l" }}</span>
                {%else%}
                <span class="badge">{{ name.movie_year|date:"l" }}</span>
                {%endif%}
        {%endif%}
  </div>

  {%else%}
  {%if theater_status == 'T' %}
  <div class="span8">
    <span class="label label-info">In Theaters Now</span>
    <span class="label label-info">{{days_left}} days back</span>
  </div>
  {%endif%}
  {%endif%}
  
  <div class="span3">
    <h4>{% if name %} {{name|capfirst}}{%else%}Does Not Exist{%endif%}{%if movie_year%} {% if movie_year == 1800 %}{%else%}<br/>({{movie_year}}){%endif%}{%endif%}</h4>
        <p> Genres: {% if genres %}
              {% for a in genres %}<a href="/genre/{{a.id}}/">{{a.genre_name}}</a>&nbsp;
              {% endfor %}
          {% else %} 
            None
          {% endif %}</p>
  </div>
       {%if extra_infos%}
  
  <div class="span8">
          <table class="table table-striped table-bordered table-condensed">
          {%for extra_info in extra_infos%}
          <tr><td>{{extra_info.fieldone}}</td><td>{{extra_info.fieldtwo}}</td></tr>
          {%endfor%}
          
        </table>
  </div>
        {%endif%}
  <div class="span8">   
            <p>
                <strong>Plot:</strong>
                {% if summary %}
                {{summary|safe}}
                {%else%}
                {{plot|safe}}
                {%endif%}
            </p>
  </div>

</div>

<div class="fb-comments span4" data-href="http://db.w4rlock.in{% url movie_detail_plot movie_id|add:"-" name %}" data-num-posts="2" data-width="370"></div>

  {%if name.movie_info %}

  <div class="span8 movie_info_box">
    <p>
      <strong> Additional Info from {% if wiki_link%}<a href='http://en.wikipedia.org/wiki/{{wiki_link|safe}}' target='_blank'>wikipedia</a>{%else%}wikipedia{%endif%}</strong>
      {{name.movie_info|safe}}
    </p>
  </div>
  {%endif%}

      </div>
    </div>
  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=411415555554087";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  {%endblock%}