<!-- List of uploaded documents -->
{%extends "movie_base_page.html"%}
{%block content%}
<script type="text/javascript">
function addFormField() {
    var id = document.getElementById("id").value;
    $("#divTxt").append("<p id='row" + id + "'><label for='txt" + id + "'>Field " + id + "&nbsp;&nbsp;<input type='text' name=name"+id+" size='20' id='txt" + id + "'>&nbsp;&nbsp<a href='#' onClick='removeFormField(\"#row" + id + "\"); return false;'>Remove</a><p>");
    
    
    id = (id - 1) + 2;
    document.getElementById("id").value = id;
}

function removeFormField(id) {
    $(id).remove();
}
</script>
<script type="text/javascript">
   jQuery(function() {
       jQuery("#id_movie_year").datepicker({
       											changeMonth: true,
												changeYear: true,
       											dateFormat: 'yy-mm-dd' ,
       											yearRange: '1930:2020'
       										});
   });
</script>
<style type="text/css">
#id_movie_plot {
    border:0;
 	font-family: Arial,Helvetica,sans-serif;
 	font-size: 167%;
 	color: #800000;
 	height:38px;
	padding:10px 0px 0px 10px;
 	vertical-align:middle;
 	width:352px;
}
#id_movie_year{
    border:0;
 	font-family: Arial,Helvetica,sans-serif;
 	font-size: 167%;
 	color: #800000;
 	height:38px;
	padding:10px 0px 0px 10px;
 	vertical-align:middle;
 	width:352px;
}
#id_movie_name{
    border:0;
 	font-family: Arial,Helvetica,sans-serif;
 	font-size: 167%;
 	color: #800000;
 	height:38px;
	padding:10px 0px 0px 10px;
 	vertical-align:middle;
 	width:352px;
}
#id_movie_summary{
    border:0;
 	font-family: Arial,Helvetica,sans-serif;
 	font-size: 167%;
 	color: #800000;
 	height:38px;
	padding:10px 0px 0px 10px;
 	vertical-align:middle;
 	width:352px;
}
</style>
<body>
  <div class="span9">
<div class="row-fluid">

<!--<p><a href="#" onClick="addFormField(); return false;">Add</a></p> -->
<form action="/add/movie/enteringmovie/" method="POST" id="form1" enctype="multipart/form-data">
    {%csrf_token%}
    {{form.as_p}}
<!--<input type="hidden" id="id" value="1"> -->
<div id="divTxt">
</div>
<p><input type="submit" value="Submit" name="submit" class="btn">
<input type="reset" value="Reset" name="reset" class="btn"></p>
</form>

 <br/>
    <br/>
    Add Links:<br/>
    <a href="/image/list/">add image</a><br/>
    <a href="/add/movie/entermovie/">add movie</a><br/>
    <a href="/add/cast/addcast/">add cast for a moivie</a><br/>
    <a href="/add/person/addperson/">add person</a><br/>
</div>
</div>

{%endblock%}