@charset "utf-8";
/* CSS Document */

#mytable {
	width: 100%;
	padding: 0;
	margin: 0;
	border-collapse:separate;
}

#mytable {		
	font-size:11px !important;		
}

th {
	font-family: tahoma, verdana, "sans-serif";
	color: #4f6b72;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA;
	
}



.odd {
	font-size:12px;
	border:1px solid #00F;
	padding:3px 7px 2px 7px;
	font-family: Verdana, Geneva, sans-serif;
	color:#000;
	background-color:#CAE8EA;
}
.even {
	font-size:12px;
	border:1px solid #00F;
	padding:3px 7px 2px 7px;
	font-family: Verdana, Geneva, sans-serif;
	color:#06F;
	background-color:#FFF;	
}
.table-heading{
  font-size:14px;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#06F;
	color:#fff;				 /* highlighting the table heading */
}

.sortable {
	font-family:Verdana, Geneva, sans-serif;
	/*width:80%;*/
	border-collapse:collapse;
	font-size: 10px;
	position:absolute;
	width:211px;
	height:519px;
	z-index:1;
	left: 50px;
	top: 65px;
}


#tablelist
{
	font-family:tahoma, verdana, "sans-serif";
	width:100%;
	border: 1px solid #A5A8B8;	
	font-size: 12px;
}
#tablelist td, #tablelist th 
{
	font-size:10px;
	border:1px solid #A5A8B8;
	padding:3px 7px 2px 7px;
	font-family: tahoma, verdana, "sans-serif";
	background-color:#FFFFFF;
}
#tablelist th 
{
	font-size:12px;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#06F;
	color:#fff;
}
#tablelist tr.alt td 
{
color:#000;
background-color:#EAF2D3;
}

body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
	background-image:url(../img/bg.gif);
	background-repeat:repeat;
	background-position:center;
}
.bodyclass #container {
	width: 900px;  
	background: #FFFFFF;
	margin: 0 auto; 
	border: 1px solid #000000;
	text-align: left; 
}
.bodyclass #header {
	background-image:url(../img/bg.gif);
	background-repeat:repeat;
	padding: 0 10px 0 20px; 
}
.bodyclass #header h1 {
	margin: 0;
	padding: 10px 0; 
}
.bodyclass #mainContent {
	padding: 0 20px; 
	background: #FFFFFF;
}
.bodyclass #footer {
	padding: 0 10px; 
	background:#DDDDDD;
}
.bodyclass #footer p {
	margin: 0; 
	padding: 10px 0; 
}
.newtet {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #03C;
	width:25px;
}
