{%extends "index_base_page.html"%}
{%block content%}
<style type="text/css">
	#page_body{
		background: none;
    max-width:none;
	}
  .fixed{
    position: fixed;
    top: 40px;
    width: 100%;
    margin-bottom: 20px;
  }
  .wiframe{
    width: 100%;
  }
  .fixed-iframe{
    position: fixed;
    top: 85px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    var theLoc = $('#alert_div').position().top;
    $(window).scroll(function() {
        if(theLoc >= $(window).scrollTop()) {
            if($('#alert_div').hasClass('fixed')) {
                $('#alert_div').removeClass('fixed');
                $('#wiframe').removeClass('fixed-iframe');
                document.getElementById('wiframe').style.width= '100%';
            }
        } else { 
            if(!$('#alert_div').hasClass('fixed')) {
                $('#alert_div').addClass('fixed');
                $('#wiframe').addClass('fixed-iframe');

                var newwidth=($(window).width())/2 -40;
                document.getElementById('wiframe').style.width=newwidth+'px';
            }
        }
    });
});

  $(function() {
  $("#id_person_profession").autocomplete({
    source: "/profession/searching/",
    minLength: 2,
  });
});

</script>

{%load thumbnail%}
{%load get_profile_image%}
{%load get_cast_status%}
<div class="container-fluid">
<div class="row-fluid">
  <div id="alert_div">
  <div class="alert alert-info" id="alert_info">
          {%if request.GET.wlink%}
              {{request.GET.wlink}} 
              {%else%}
              {{movie.movie_name}}
              {%endif%}
  </div>
</div>
<div class="span5">
	{% if results %}
  <table class="table table-striped table-bordered table-condensed">
	{%for result in results%}
		
  			<tr>
  				<td><a href="http://en.wikipedia.org/wiki/{{result.link}}" target="_blank">{{result.link}}</a></td>
          <td>
            {%if result.matches%}
            {% for match in result.matches%}
              <a href="/person/{{match.id}}/index">{{match.person_name}}</a>
              <img src="{% get_profile_image40x40 match.id %}" />
              <input id="id_person_profession{{match.id}}" type="text" name="person_profession" maxlength="40" />
              <button id="fat-btn{{match.id}}" data-loading-text="Linking" class="btn btn-primary" data-complete-text="Linked">  
                                    <script type="text/javascript"> 
                                    var status = '{% get_cast_status movie.id match.id %}'
                                      if ( status == '1'){
                                    document.write('already Linked')
                                    $('#id_person_profession{{match.id}}').hide()
                                        }
                                      else {
                                        var btn = $('#fat-btn{{match.id}}');
                                        btn.addClass('btn-danger');
                                        document.write('Link them')
                                      }
                                    </script>
              </button>

                <script type="text/javascript">
                    $('#fat-btn{{match.id}}')
                      .click(function () {
                        var btn = $(this)
                        btn.button('loading')
                    document.getElementById("alert_info").innerHTML="Linking <strong>{{match.person_name}}</strong> and <strong>{{movie.movie_name}}</strong> with profession <strong>unkown</strong> "; 

                      var prof=$('#id_person_profession{{match.id}}').val()
                      ajaxFunctionLink('{{movie.id}}','{{match.id}}',prof);
                      
                      });
                </script>

      
          <script type="text/javascript">
           $(function() {
                  $("#id_person_profession{{match.id}}").autocomplete({
                    source: "/profession/searching/",
                    minLength: 2,
                  });
                });
          </script>
              <br/>
            {%endfor%}
            {%else%}
            
            {%endif%}
            <a href="{% url person_parser_add %}?wlink={{result.link}}" target="_blank">add this person as new one</a>
          </td>
  			</tr>
		
	{%endfor%}
  </table>
	{%endif%}
</div>
<div class="span6">
  <iframe src="http://en.wikipedia.org/wiki/{{movie_wlink}}" class="wiframe" style='width: 100%' marginheight="0" frameborder="0" id="wiframe"></iframe>
      <script type="text/javascript">
          var newheight=$(window).height() - 110;
          document.getElementById('wiframe').height= (newheight) + "px";
      </script>
</div>
</div>
</div>

<script type="text/javascript"> 
function ajaxFunctionLink(movie_id,person_id,prof) {
          $.ajax({
                  url: "/parse/movie/cast/ajaxlinking/?csrfmiddlewaretoken={{csrf_token}}&movie_id="+movie_id+"&person_id="+person_id+"&prof="+prof,
                  dataType: "json",
                  success: function (data) { 
                    parseresults(data,movie_id,person_id); 
                  }
          });
      }

  function parseresults(data,movie_id,person_id) {
          var btn='#fat-btn'+person_id;
          $(btn).button('complete');
          message = data.message;
          $('#alert_info').html(message);
  }
</script>
{%endblock%}