{% extends 'index_base_page.html'%}
{% block content2 %}
<style type="text/css">
	#page_body{
		background: none;
	}
    .fixed{
    position: fixed;
    top: 40px;
    width: 100%;
    margin-bottom: 20px;
  }
  .wiframe{
    width: 100%;
  }
  .fixed-iframe{
    position: fixed;
    top: 85px;
  }
  .boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
}
</style>

  <script type="text/javascript">
   jQuery(function() {
       jQuery("#id_person_date_of_birth").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'yy-mm-dd' ,
                                                yearRange: '1930:2020'
                                            });
   });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    var theLoc = $('#alert_div').position().top;
    $(window).scroll(function() {
        if(theLoc >= $(window).scrollTop()) {
            if($('#alert_div').hasClass('fixed')) {
                $('#alert_div').removeClass('fixed');
                $('#wiframe').removeClass('fixed-iframe');
                document.getElementById('wiframe').style.width= '100%';
            }
        } else { 
            if(!$('#alert_div').hasClass('fixed')) {
                $('#alert_div').addClass('fixed');
                $('#wiframe').addClass('fixed-iframe');

                var newwidth=($(window).width())/2 -40;
                document.getElementById('wiframe').style.width=newwidth+'px';
            }
        }
    });
});
</script>

<div id="alert_div">
	<div class="alert alert-info" id="alert_info">
          {%if request.GET.wlink%}
              {{request.GET.wlink}}
              {%else%}
              No request given
              {%endif%}
	</div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
<div class="span5">
<form action="{%url person_parser_adding%}" method="post" enctype="multipart/form-data">
  {%csrf_token%}

      
        <!-- <textarea id="id_person_info" name="person_info">{{results.info}}</textarea> -->

    <input id='id_person_wlink' name='person_wlink' type='hidden' value='{{person_wlink}}'>
        
        <label for="id_person_name">person_name:</label>
      <input id="id_person_name" type="text" name="person_name" maxlength="400" value='{{person_wlink}}'/>
        
        <label for="id_person_gender">person gender:</label>
        <select name="person_gender" id="id_person_gender">
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="G">Gay</option>
        </select>
        
        <label for="id_person_date_of_birth">dob:</label>
        <input name="person_date_of_birth" value="1800-01-01" class="vDateField" type="text" id="id_person_date_of_birth" size="10" />

        <label for="id_person_bio">bio:</label>
        
        <textarea id="id_person_bio" class= 'boxsizingBorder' rows="10" cols="50" name="person_bio">{{results.info|truncatechars:2000}}</textarea>
        
        <label for="id_person_sp">sp:</label>
        <input id="id_person_sp" type="text" name="person_sp" value="Unknown" maxlength="40" />
        
        <label for="id_person_info">person_info:</label>
         <textarea id="id_person_info" class= 'boxsizingBorder' rows="10" cols="50" name="person_info">{{info|safe}}</textarea>

        {%for image in results.images%}
          <label for="id_imagefile">person_image:</label>
          <input type="text" name="imagefile{{forloop.counter}}" id="id_imagefile" value='{{image}}'/><img height='80px' src='{{image}}' />
          <br/>
        {%endfor%}
          <label for="id_imagefile">person_image:</label>
          <input type="text" name="imagefile0" id="id_imagefile" value='{{image}}'/><img height='80px' src='{{image}}' />
          <br/>
    <p><input type="submit" value="Add Persn" /></p>
</form>

</div>

<div class="span6">
    <iframe src="http://en.wikipedia.org/wiki/{{person_wlink}}" class="wiframe" style='width: 100%' marginheight="0" frameborder="0" id="wiframe"></iframe>
      <script type="text/javascript">
          var newheight=$(window).height() - 110;
          document.getElementById('wiframe').height= (newheight) + "px";

            window.onresize = function(event) {
               var newheight=$(window).height() - 110;
          document.getElementById('wiframe').height= (newheight) + "px";
            }
      </script>
  </div>
</div>
</div>

{% endblock %}
