
{%extends "movie_base_page.html"%}
{%block content%}
<div class="span12">
<script type="text/javascript">
   jQuery(function() {
       jQuery("#id_person_date_of_birth").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'yy-mm-dd' ,
                                                yearRange: '1930:2020'
                                            });
   });
   </script>
{%if user.username%}
{{user.username}}
{%if user.is_staff%}
is eligble to do this ---- 
<a href='{{global_var.admin_url}}movie_persons/movie_persons/{{person_id}}/'>edit on admin</a> -- 
{%else%}
is not eligble to do this
{%endif%}
{%else%}
none is logged in . you will not be able to perform this action
{%endif%}
<br/>
<br/>
You are editing data of - <h6>{{person_name}}</h6>
{%if updated_person%}
<br/>{{updated_person}}
{%endif%}
<form method="post" action="/add/person/{{person_id}}-{{person_name}}/" enctype="multipart/form-data">
{%csrf_token%}

    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.person_date_of_birth.errors }}
        <label for="id_person_date_of_birth">dob:</label>
        {{ form.person_date_of_birth }}
    </div>
     <div class="fieldWrapper">
        {{ form.person_bio.errors }}
        <label for="id_person_bio">bio:</label>
        <br/>{{ form.person_bio }}
    </div>
    <div class="fieldWrapper">
        {{ form.imagefile.errors }}
        <label for="id_imagefile">person_image:</label>
        {{ form.imagefile }}
    </div>
    
<input type="submit" name="submit" value="submit">
</form>

{%if images%}
already existing profile images:<br/>
 {%load thumbnail%}
 {%for each_image in images%}
        {% thumbnail each_image.imagefile "160x120" as image %}
             <img src="{{image.url}}" alt="some-thing-is-wrong-with-connection"> 
          
        {%endthumbnail%}
{%endfor%}
{%endif%}
</div>

{%endblock%}