<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{movie_name}}</title>
<script src="{{ MEDIA_URL }}jquery.min.js" type="text/javascript"></script> 
<link rel="stylesheet" href="{{ MEDIA_URL }}jquery-ui.css" type="text/css" media="all" />
<script src="{{ MEDIA_URL }}jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
  $("#id_person_name").autocomplete({
    source: "/person/searching/",
    minLength: 2,
  });
});

$(function() {
  $("#id_person_profession").autocomplete({
    source: "/profession/searching/",
    minLength: 2,
  });
});
</script>
<script type="text/javascript">
   jQuery(function() {
       jQuery("#id_person_date_of_birth").datepicker({
                                                changeMonth: true,
                                                changeYear: true,
                                                dateFormat: 'yy-mm-dd' ,
                                                yearRange: '1930:2020'
                                            });
   });
   </script>
</head>
{%if added_person %}
sucessfully added {{added_person}}
{%endif%}
<h1> {{movie_name}}</h1>
<form action="/add/person/addperson/" method="post" enctype="multipart/form-data">
	{%csrf_token%}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.person_name.errors }}
        <label for="id_person_name">person_name:</label>
        {{ form.person_name }}
    </div>
    <div class="fieldWrapper">
        {{ form.person_gender.errors }}
        <label for="id_person_gender">person gender:</label>
        {{ form.person_gender }}
    </div>
    <div class="fieldWrapper">
        {{ form.person_date_of_birth.errors }}
        <label for="id_person_date_of_birth">dob:</label>
        {{ form.person_date_of_birth }}
    </div>
    <div class="fieldWrapper">
        {{ form.person_bio.errors }}
        <label for="id_person_bio">bio:</label>
        {{ form.person_bio }}
    </div>
    <div class="fieldWrapper">
        {{ form.person_sp.errors }}
        <label for="id_person_sp">sp:</label>
        {{ form.person_sp }}
    </div>
    <div class="fieldWrapper">
        {{ form.imagefile.errors }}
        <label for="id_imagefile">person_image:</label>
        {{ form.imagefile }}
    </div>
    <p><input type="submit" value="Add Persn" /></p>
</form>


    <br/>
    <br/>
    Add Links:<br/>
    <a href="/image/list/">add image</a><br/>
    <a href="/add/movie/entermovie/">add movie</a><br/>
    <a href="/add/cast/addcast/">add cast for a moivie</a><br/>
    <a href="/add/person/addperson/">add person</a><br/>

</html>`