
    {%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
  document.title = "{{name}} - Project Movies"
</script>
<div class="container-fluid">
  <div class="row-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
            
  <li class="active"><a href="{% url person_detail_index name.id '-'|add:name.person_name %}{%if request.GET.iframe%}?iframe=1
{%endif%}">{{name.person_name}}</a></li>
             <li><a href="/person/{{name.id}}-{{name.person_name}}/info/{%if request.GET.iframe%}?iframe=1
{%endif%}">Info</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/movies/{%if request.GET.iframe%}?iframe=1
{%endif%}">Movies</a></li>
              <li><a href="/person/image/{{name.id}}-{{name.person_name}}/{%if request.GET.iframe%}?iframe=1
{%endif%}">Images</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/music/{%if request.GET.iframe%}?iframe=1
{%endif%}">Music</a></li>
          <li><a href="{% url person_detail_trailers name.id '-'|add:name.person_name %}{%if request.GET.iframe%}?iframe=1
{%endif%}">Trailers</a></li>
              <li><a href="#">News</a></li>

          </ul>
  </div>
  <br/><br/>   
  <div id="alert" class="alert fade in" data-dismiss="alert" href="#">
            <span id="tag_note_message">
              {%if request.GET.alert%}
              {{request.GET.alert}}
              {%else%}
              <script type="text/javascript">
              document.getElementById("alert").className+=" hide";
              </script>
              {%endif%}
            </span>

            </div>
   
    <div class="info_box span11">
        

        <div class="span10 info_box_style removeopacity" id='infobox_qlinks'>&nbsp;&nbsp;&nbsp;
           <a href="/person/{{name.id}}-{{name.person_name}}/info/">Info</a>&nbsp;&nbsp;&nbsp;
            <a href="/person/{{name.id}}-{{name.person_name}}/movies/">Movies</a>&nbsp;&nbsp;&nbsp;
            <a href="/person/image/{{name.id}}-{{name.person_name}}/">Images</a>&nbsp;&nbsp;&nbsp;
            <a href="/person/{{name.id}}-{{name.person_name}}/music/">Music</a>&nbsp;&nbsp;&nbsp;
          <a href="{% url person_detail_trailers name.id '-'|add:name.person_name %}">Trailers</a>&nbsp;&nbsp;&nbsp;
              <a href="#">News</a>
        </div>

        
<div class="span11">
        <div class="span1" style='text-align:center;'>
        <a href="#">
            <img src="{{profile_image.imagefile.url}}" id='profile_image' style="max-height: 80px; padding-bottom: 10px; padding-top: 10px;" >

          </a>
          </div>
<div class="info_box_style removeopacity span11">
{%load thumbnail%}
   
    <div class="span4">
    <a href="{% url person_detail_info name.id '-'|add:name.person_name %}">
      <h5>{{name.person_name}}</h5></a>
      {%if alternate_names%}
      [
      {%for alternate_name in alternate_names%}
      {{alternate_name.alternate_name}} 
      {%endfor%}
      ]
      {%endif%}
              <p>
                {%if person_professions%}
                {%for profession in person_professions%}
                <a href="/profession/{{profession.id}}/">{{profession.profession_name}}</a> /
                {%endfor%}
                {%endif%}
      
              </p>
    </div>
      <div class="span4">
              In Movies: 
             {% for each_movie in person_movies %}
             {% if each_movie.back_image %}
                         {% thumbnail each_movie.back_image.imagefile "40x35" as image %}
      
                  <a href="{% url movie_detail_index each_movie.movie.id '-'|add:each_movie.movie.movie_name %}" rel="tooltip" title="{{each_movie.movie.movie_name}}">
                   <img src="{{ image.url }}" style="padding:{{ image|margin:"40x35" }}" />
                 </a>
      
                        {% endthumbnail %}
                   
                      {%else%}
             <a href="{% url movie_detail_index each_movie.movie.id '-'|add:each_movie.movie.movie_name %}">{{each_movie.movie.movie_name}}</a> /
                      {%endif%}

             {%endfor%}
            </div>            
            
            <div class="span4">
              {% if name.person_date_of_birth.year == 1800 %}
              {%else%}
              <p>
                Birth Date: {{name.person_date_of_birth}}
              </p>
              {%endif%}
             
                {%if name.person_bio%}
                 <p>
              Bio:  {{name.person_bio|truncatechars:125}}
              <a href='{% url person_detail_info name.id '-'|add:name.person_name %}'>Read More</a>
              </p>
               {%endif%}
              
            </div>            

           

</div>

</div>
<div class="span12">
  
</div>
    </div>

  </div>
</div>
<style type="text/css">
 
.removeopacity{
    opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=10);
    bottom: 50px;
}
.info_box_style{
  
  color: rgb(255,255,255);
  font-size: 13px;
  
}
  .info_box{
    background-color: black;
    
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter:alpha(opacity=8);
    
  }
  #page_body{
   /* background:url({{profile_image.imagefile.url}});
     background:url('http://127.0.0.1:8000/media/image/2012/4/4/9d781e54-56a8-434d-b80f-4ce6e21cb153.jpg'); */
    background-repeat:repeat;  
    background-attachment:fixed;
/*
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */  
  }

@media (min-width: 980px) {
  .info_box{
    position: absolute;
    bottom: 50px;
  }
  #page_footer{
  position: fixed;
  bottom: 0px;
}
}
@media (max-width: 780px){
  #infobox_qlinks{
    display: none;
  }
}

</style>
<script type="text/javascript">
window.onload = function(e){ 
  profile_image=$('#profile_image');
  naturalwidth = profile_image[0].naturalWidth;
  naturalheight = profile_image[0].naturalHeight;
  if (naturalwidth<500 & naturalheight<500){
  $("#page_body").css("background-image", "url('{{MEDIA_URL}}template_images/back_repeat2.jpg')");
}else{
  $("#page_body").css("background-image", "url('{{profile_image.imagefile.url}}')");
}
}
        
</script>
    
{% endblock %}