
    {%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
  document.title = "{{name}} - Project Movies"
</script>
<div class="container-fluid">
  <div class="row-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
            
  <li><a href="{% url person_detail_index name.id '-'|add:name.person_name %}{%if request.GET.iframe%}?iframe=1
{%endif%}">{{name.person_name}}</a></li>
             <li class="active"><a href="/person/{{name.id}}-{{name.person_name}}/info/{%if request.GET.iframe%}?iframe=1
{%endif%}">Info</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/movies/{%if request.GET.iframe%}?iframe=1
{%endif%}">Movies</a></li>
              <li><a href="/person/image/{{name.id}}-{{name.person_name}}/{%if request.GET.iframe%}?iframe=1
{%endif%}">Images</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/music/{%if request.GET.iframe%}?iframe=1
{%endif%}">Music</a></li>
              <li><a href="{% url person_detail_trailers name.id '-'|add:name.person_name %}{%if request.GET.iframe%}?iframe=1
{%endif%}">Trailers</a></li>
              <li><a href="#">News</a></li>

          </ul>
  </div>
  <br/><br/>
    <div class="span9">
     <div class="row-fluid">
      <div id="alert" class="alert fade in " data-dismiss="alert" href="#">
            <span id="tag_note_message">
              {%if request.GET.alert%}
              {{request.GET.alert}}
              {%else%}
              <script type="text/javascript">
              document.getElementById("alert").className+=" hide";
              </script>
              {%endif%}
            </span>

            </div>
      <div class="span3">

     {% load thumbnail %}
    {% if profile_image %}
    
    <a href=""><img src="{{profile_image.imagefile.url}}" alt="Insert Logo Here" name="Insert_logo" width="180" id="Insert_logo" /></a>
   {%else%}
   {%if random_profile_image%}
   {% thumbnail random_profile_image.imagefile "180x200" as image %}
    <a href=""><img src="{{ image.url }}" style="padding:{{ image|margin:"180x200" }}"></a>
    {% endthumbnail %} 
   {%else%}
   {% thumbnail "template_images/no_image.jpg" "180x200" as image %}
                   <img src="{{ image.url }}" style="padding:{{ image|margin:"180x200" }}" />
            {% endthumbnail %} 
    {%endif%}
   {%endif%}
 </div>
 <div class="span6">
  
    <h2>{% if name %} {{name}}{%else%}Does Not Exist{%endif%}</h2>
        <p> {% if person_professions %}
              {% for a in person_professions %}<a href="/profession/{{a.id}}/">{{a.profession_name}}</a>&nbsp;
              {% endfor %}
          {% else %} 
            None
          {% endif %}</p>


            <p>
                <strong>Bio:</strong>
                {{name.person_bio|safe}}
            </p>

                {%if extra_infos%}
  
  <div class="span12">
          <table class="table table-striped table-bordered table-condensed">
          {%for extra_info in extra_infos%}
          <tr><td>{{extra_info.fieldone|safe}}</td><td>{{extra_info.fieldtwo|safe}}</td></tr>
          {%endfor%}
          
        </table>
  </div>
        {%endif%}
        
  {% if user.is_staff %}
  <br/>
  <p>
    contribute more <a href="/add/person/{{name.id}}-{{name.person_name}}">info</a> ?
  </p>
{%endif%}
</div>
      </div>
    </div>
    <div class="fb-comments span4" data-href="http://db.w4rlock.in{%url person_detail_info name.id '-'|add:name.person_name %}" data-num-posts="2" data-width="370"></div>
  </div>
</div>
    
{% endblock %}