{%extends "home_pages_styles.html"%}

{%block content3%}
{%comment%}
{%extends "index_base_page.html"%}
{%block content2%}
{%endcomment%}
<style type="text/css">
.caption {
     
    /* 
     text-align: center; 
     */
  }

.thumbnail{ 
  height: 80px;
  overflow: hidden;
  padding: 0 0 0 0;
  width: 280px;
  background-color: #F2F0F0;


    box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);
  -o-box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);
  
  -webkit-box-shadow: 1px 5px 5px 3px rgba(0,0,0,0.5);

}
.thumbnail p{
  border-top: 0px solid #FCFAFA;
  border-bottom: 0px solid #D9D4D4;
  padding: 0 0 0 0;
}
.modal{
  position: fixed;

    background:url('{{MEDIA_URL}}template_images/back_repeat2.jpg');

    background-repeat:repeat;  
    background-attachment:fixed;

}
.modal.fade.in {
  margin: 0px;
height: 95%;
width: 95%;
top: 20px;
left: 20px;
display: block;
}
</style>
<script type="text/javascript">
  var time_variable;
 
function ajaxFunctionLoadiFrame(person_id) {
  var getdate = new Date();  
  if($(window).height()<500){
    window.location.replace("/person/"+person_id+"/index/");
  }
  if($(window).width() > 980){
  document.getElementById('iframe_person').style.display="";
  document.getElementById('iframe_person').src="/person/"+person_id+"/index/?iframe=1";

  $("#iframe_link").attr("href", "/person/"+person_id+"/index/");
}
else{
  window.location.replace("/person/"+person_id+"/index/");
}
}

</script>

<script type="text/javascript">
$(function() {
$("#search-center").autocomplete({
minLength: 2,
      source: "/all/searching/",
      focus: function( event, ui ) {
        $( "#search-center" ).val( ui.item.label );
        return false;
      },
      select: function( event, ui ) {
                  { 
            window.location.href = ui.item.url;
        }   
      }
    })
    .data( "autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
        .data( "item.autocomplete", item )
        .append( "<a><img src='"+item.icon+"'>&nbsp;"+ item.label + "</a>" )
        .appendTo( ul );
    };
  });
  </script>

<script type="text/javascript">
  document.title = "All Persons - Project Movies"
</script>

<div class="container-fluid">
  <div class="subnav-fixed subnav" >
          
   <form class="navbar-search pull-center" action="/search/all/" method="GET">
   <input id="search-center" type="text" class="span4"  placeholder="Search Movies or Actors ">   
    </form>             
          
          <ul class="nav nav-pills">
            <li>&nbsp;</li>
          <span class="pagination">
               {% if all_persons.has_previous %}
         <li>   <a href="?p={{ .previous_page_number }}">previous</a> </li>
        {% endif %}

        <li class="current">
            <a href=''>Page {{ all_persons.number }} of {{ all_persons.paginator.num_pages }}.</a>
        </li>

        {% if all_persons.has_next %}
            <li> <a href="?p={{ all_persons.next_page_number }}">next</a></li>
        {% endif %}
          </span>
    
          </ul>
  </div>
  <br/>

<br/>


   
  
  


{% load thumbnail %}
<ul class="thumbnails">

{%for each_person in persons_list %}
    
        <li>

<a data-toggle="modal" href="#modal_person" onClick='ajaxFunctionLoadiFrame("{{each_person.person.id}}")'>
          <div class="thumbnail">
            <div class="row-fluid">
    
{%if each_person.profile_image%}
  {% thumbnail each_person.profile_image.imagefile "x80" as image %}
                   <img src="{{ image.url }}" />
            {% endthumbnail %}
  {%else%}
  {% thumbnail "template_images/no_image.jpg" "80x80" as image %}
                   <img src="{{ image.url }}" style="padding:{{ image|margin:"80x80" }}" />
            {% endthumbnail %}
{%endif%}

            
            <div class="caption pull-right">
                    
              <p>
         {{each_person.person.person_name}}
            </p>
                    

                
 <br/>
        </div>
        </div>
      </div>
      </a>
      </li>

      {%endfor%}

</ul>

</div>






<!-- otehr layers-->
<div class="modal hide fade" style="display: none; " id="modal_person" style="height: 100%; width: 100%">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h6><a id='iframe_link' href=''>Go to this page</a></h6>
  </div>
  

    <iframe id="iframe_person" width="100%" height="90%" frameborder="0" style="display:none;">
        
      </iframe>

  

</div>







<script type="text/javascript">
 var $container = $('.thumbnails');
$container.imagesLoaded(function(){
  $container.masonry({
    itemSelector : '.span2',
  });
});
</script>

{%endblock%}




