{%extends "movie_base_page.html"%}

{%block content%}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">{% if name %} {{name.person_name}}{%else%}Does Not Exist{%endif%}</li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/info/">Info</a></li>
              <li class="active"><a href="/person/{{name.id}}-{{name.person_name}}/movies/">Movies</a></li>
              <li><a href="/media/person/image/{{name.id}}-{{name.person_name}}/">Images</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/music/">Music</a></li>
              <li><a href="#">Trailers</a></li>
              <li><a href="#">News</a></li>
            </ul>
          </div>
    </div>
    <div class="span9">
     <div class="row-fluid">
       <div class="span9">   
            
             <table class="table table-striped">

{%for each_movie in person_movies %}
                <tr class="{% cycle 'odd' 'even' %}">
                  <td>
                  <a href="/movie/{{each_movie.id}}-{{each_movie.name}}/">{{each_movie.name}}</a><br/>
                  {%for each_profession in each_movie.professions%}
                  <a href="/profession/{{each_profession.id}}-{{each_profession.name}}/">{{each_profession.name}}</a>
                  {%endfor%}
                </td>
                </tr>
                {% endfor %}              
    </table>
          
        </div>

      </div>
    </div>
  </div>
</div>
    
{%endblock%}