
    {%extends "index_base_page.html"%}
{%block content2%}
<script type="text/javascript">
  document.title = "{{name}} - Project Movies"
</script>
<div class="container-fluid">
  <div class="row-fluid">
  <div class="subnav-fixed subnav">
          <ul class="nav nav-pills">
            
             <li><a href="{% url person_detail_index name.id '-'|add:name.person_name %}{%if request.GET.iframe%}?iframe=1
{%endif%}">{{name.person_name}}</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/info/{%if request.GET.iframe%}?iframe=1
{%endif%}">Info</a></li>
              <li class="active"><a href="/person/{{name.id}}-{{name.person_name}}/movies/{%if request.GET.iframe%}?iframe=1
{%endif%}">Movies</a></li>
              <li><a href="/person/image/{{name.id}}-{{name.person_name}}/{%if request.GET.iframe%}?iframe=1
{%endif%}">Images</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/music/{%if request.GET.iframe%}?iframe=1
{%endif%}">Music</a></li>
              <li><a href="{% url person_detail_trailers name.id '-'|add:name.person_name %}{%if request.GET.iframe%}?iframe=1
{%endif%}">Trailers</a></li>
              <li><a href="#">News</a></li>

          </ul>
  </div>
  <br/><br/>

    <div class="span9">
     <div class="row-fluid">
       <div class="span9">   
            
             <table class="table table-striped">
                  {%load thumbnail%}
{%for each_movie in person_movies %}

                <tr class="{% cycle 'odd' 'even' %}">

                    {% if each_movie.banner_image %}
                      <td>
                              {% thumbnail each_movie.banner_image.imagefile "40x35" as image %}
                            <img src="{{ image.url }}" style="padding:{{ image|margin:"40x35" }}" />
                                {% endthumbnail %}
                        </td>
                  {%endif%}
                  <td>   
                    
  <a href="{% url movie_detail_index each_movie.id '-'|add:each_movie.name %}">{{each_movie.name}}</a><br/>
                  {%for each_profession in each_movie.professions%}
                  <a href="/profession/{{each_profession.id}}-{{each_profession.name}}/">{{each_profession.name}}</a>
                  {%endfor%}
                </td>
                </tr>
                {% endfor %}              
    </table>
          
        </div>

      </div>
    </div>
  </div>
</div>
    
{%endblock%}