{%extends "movie_base_page.html"%}

{%block content%}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">{% if name %} {{name.person_name}}{%else%}Does Not Exist{%endif%}</li>
              <li class="active"><a href="/person/{{name.id}}-{{name.person_name}}/info/">Info</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/movies/">Movies</a></li>
              <li><a href="/media/person/image/{{name.id}}-{{name.person_name}}/">Images</a></li>
              <li><a href="/person/{{name.id}}-{{name.person_name}}/music/">Music</a></li>
              <li><a href="#">Trailers</a></li>
              <li><a href="#">News</a></li>
            </ul>
          </div>
    </div>
    <div class="span9">
     <div class="row-fluid">
      <div class="span3">
     {% load thumbnail %}
    {% if profile_image %}
    
    <a href=""><img src="{{profile_image.imagefile.url}}" alt="Insert Logo Here" name="Insert_logo" width="180" id="Insert_logo" /></a>
    
   
   {%else%}
   {%if random_profile_image%}
   {% thumbnail random_profile_image.imagefile "180x200" as image %}
    <a href=""><img src="{{ image.url }}" style="padding:{{ image|margin:"180x200" }}"></a>
    {% endthumbnail %} 
   {%else%}
   {% thumbnail "http://127.0.0.1:8000/media/image/nouser.jpg" "180x200" as image %}
                   <img src="{{ image.url }}" style="padding:{{ image|margin:"180x200" }}" />
            {% endthumbnail %} 
    {%endif%}
   {%endif%}
 </div>
 <div class="span3">

    <h2>{% if name %} {{name}}{%else%}Does Not Exist{%endif%}</h2>
        <p> {% if person_professions %}
              {% for a in person_professions %}<a href="/profession/{{a.id}}/">{{a.profession_name}}</a>&nbsp;
              {% endfor %}
          {% else %} 
            None
          {% endif %}</p>
       </div>
       <div class="span9">   
            <p>
                <strong>Bio:</strong>
                {{name.person_bio}}
            </p>
          
        </div>

      </div>
    </div>
  </div>
</div>
    
{% endblock %}