<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project Movies - Music </title>
    <meta charset="utf-8">
    <title>Project Movies&nbsp;</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="w4rlock">
    <link href="/media/jquery-ui.css" rel="stylesheet">
    <!-- Le styles -->
    <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">


    <script src="/media/jquery.min.js"></script>
    <script src="/media/jquery-ui.min.js"></script>

<style type="text/css">
body{
      background:url({{back_image.imagefile.url}});
    background-repeat:repeat;  
    background-attachment:fixed;
    background: black;
}
.visccss{
  
  width: 600px;
  height: 600px;
  position: fixed;
  border: 0px solid black;
}
  .bottom-fixed{
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 25px;
    position: fixed;
    border: 1px solid black;
    background: rgba(0,0,0,0.5);
  }
.bottom-content{
  padding: 5px;
}
.bottom-audio{
  left: 350px;
  height: 20px;
  
  position: fixed;
  bottom: 0px;
  padding: 5px;
}
.audio-controls{
  width: 500px;
}
.song-list{
  position: fixed;
  top: 50px;
  width: 100px;
  height: 500px;
  left: -1px;
  background: rgba(255,255,255,0.8);
  
}
</style>
<link href="/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<script src="/media/bootstrap/navbar-scroll/navbar-scroll.js" ></script>
<script src="/media/bootstrap/js/bootstrap.min.js"></script>


<script type="text/javascript">
  function ajaxFunctionLoadiFrame_movie_custom(link) {
  
  $('#loading').show();
  $('#iframe_movie').hide();
  $('#viscid').css({'z-index':-1000});
  document.getElementById('iframe_movie').src=link;

  //$("#iframe_link").attr("href", "/movie/"+movie_id+"/"+custom+"/");

$('#iframe_movie').load(function() {
    $('#iframe_movie').show();
    $('#loading').hide();
    var ifsrc = document.getElementById('iframe_movie').src;
    
    $("#iframe_movie").contents().find("#topnavbar").css({'display':'block'});
    var top_pos = {top: '40px'}
     $("#iframe_movie").contents().find(".subnav-fixed").css(top_pos)
});

}
function ajaxFunctionRemoveiFrame_movie(){
  $('#viscid').show();
  $('#loading').hide();
  document.getElementById('iframe_movie').src='';
  $('#iframe_movie').hide();
   $('#viscid').css({'z-index':0});
}
function toggledisplay(id){
  id='#'+id
  var elem=$(id)
  elem.toggle('display')
}
function changesong(name){
  document.getElementById('audio_id').src = '{{MEDIA_URL}}'+name;
  document.getElementById('audio_id').play();
}
</script>
</head>    
<body>
<div id="modal_movie">
  <div id='loading'style="background: rgba(0,0,0,0.5); display:none;">
    <div id='loader' style='text-align: center; color: white;'>
           <p> Please Wait While Loading</p>
              <div class="progress progress-striped active">
                    <div class="bar" style="width: 100%;"></div>
            </div>
    </div>
  </div>​
  <div class="song-list" id='song-list'>
    <ul>
      <li><a href='#song1' id='song1' onClick="changesong('song1')">song1</a></li>
    <li><a href='#feel_my_love.mp3' id='song1' onClick="changesong('feel_my_love.mp3')">feel_my_love.mp3</a></li>
      
    </ul>
  </div>
<iframe id="iframe_movie" width="100%" height="100%" frameborder="0" style="display:none; position: fixed; top: 0;" marginheight="0"></iframe>

</div>
<div class="visccss" id='viscid'>
<canvas id="visc" width="600" height="600" style="border:0px solid #c3c3c3;">
Your browser does not support the canvas element.
</canvas>
  </div>

  
</body>
<script type="text/javascript">
    function drawvisc(myRectangle){
    var canvas = document.getElementById("visc");
    var context = canvas.getContext("2d");
    
    context.beginPath();

    context.rect(myRectangle.x, myRectangle.y, myRectangle.width, myRectangle.height);
 
    context.fillStyle = myRectangle.color;
    context.fill();
    

}

    var myrect = {
        x: 30,
        y: 295,
        width: 40,
        height: 2,
        color: "#56d249",
    };

    var myrectshadow = {
        x: 30,
        y: 300,
        width: 40,
        height: 2,
        color: "#56d249",
    };
for (x = 0; x < 12; x++) {   
    height = Math.floor((Math.random()*70)+1);
    height1 = Math.floor(height/3)
    height2 = height1 + Math.floor(height/3)
    height3 = height2 + Math.floor(height/3)
    for (i=0; i<height; i++)
      {
        myrect.y=myrect.y-3;
        myrectshadow.y = myrectshadow.y+3;
        
        if(i>height3){
            myrect.color= '#ff0000' //red
        }else if(i > height2) {
            myrect.color= "#ff6300" //orange
        }else if(i>height1) {
            myrect.color= "#f7fe00"    // yellow
            myrectshadow.color= "#f7fe00"
            drawvisc(myrectshadow);
        }else {
            myrect.color= "#56d249" //green
            myrectshadow.color= "#56d249"
            drawvisc(myrectshadow);
        }
        drawvisc(myrect);
        
      }
    
    if (height<60){
        ymax = Math.floor((Math.random()*6)+6);
        myrect.y=myrect.y-ymax
        myrect.color= '#fe0000'
        drawvisc(myrect);
    }
      myrect.x=myrect.x+45;
      myrect.y=295

      myrectshadow.x=myrectshadow.x+45;
      myrectshadow.y=300

};
</script>
<div class="bottom-fixed">
    <div class="bottom-content">
    <a href='#home'onClick='ajaxFunctionRemoveiFrame_movie()'>Home</a>
    -
    <a href='#upcomming'onClick='ajaxFunctionLoadiFrame_movie_custom("{%url releasing%}")'>Upcomming Movies</a>
    -
    <a href='#'onClick='toggledisplay("song-list")'>display list</a>

    </div>
    <div class="bottom-audio">
          <audio preload="metadata" controls="controls" height='5px' style='left: 200px' class='audio-controls' id='audio_id'>
            <source src="{{MEDIA_URL}}feel_my_love.mp3" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
    </div>
</div>
</body>
<script type="text/javascript">

  var loading_element = $('#loading');
  var new_height= $(window).height()-25;
  new_pos_height = new_height/3;
  new_height = new_height + 'px';
  loading_element.css({'height':new_height});

  var loader = $('#loader');
  
  new_width=$(window).width()/3;
  new_width = new_width + 'px';
  loader.css({'width':new_width});

  loader.css({'padding-left':new_width});
  loader.css({'padding-top':new_pos_height});

  var iframe=$('#iframe_movie');
  iframe.css({'height':new_height});

  if($(window).width()>500 & $(window).height()>400){
      var viscid = $('#viscid')
      left_pos = ($(window).width()-600)/2
      left_pos = left_pos + 'px'
      viscid.css({'left':left_pos});
  }else{
      var viscid = $('#viscid')
      left_pos = 0
      top_pos = '0px'
      left_pos = left_pos + 'px'
      viscid.css({'left':left_pos});
      viscid.css({'top':top_pos});
  }
    window.onresize = function(event) {

        var loading_element = $('#loading');
        var new_height= $(window).height()-25;
        new_pos_height = new_height/3;
        new_height = new_height + 'px';
        loading_element.css({'height':new_height});

        var loader = $('#loader');
        
        new_width=$(window).width()/3;
        new_width = new_width + 'px';
        loader.css({'width':new_width});

        loader.css({'padding-left':new_width});
        loader.css({'padding-top':new_pos_height});

        var iframe=$('#iframe_movie');
        iframe.css({'height':new_height});

      if($(window).width()>600 & $(window).height()>600){
          var viscid = $('#viscid')
          left_pos = ($(window).width()-600)/2
          left_pos = left_pos + 'px'
          viscid.css({'left':left_pos});
  }else{
      var viscid = $('#viscid')
      left_pos = 0
      top_pos = '0px'
      left_pos = left_pos + 'px'
      viscid.css({'left':left_pos});
      viscid.css({'top':top_pos});
  }
    }
</script>
<script type="text/javascript">
     
</script>
</html>