<!DOCTYPE html>
<html lang="en">
<head>
    <title>Music - Project Movies </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="w4rlock">
    <link href="{{MEDIA_URL}}jquery-ui.css" rel="stylesheet">

    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">


    <script src="{{MEDIA_URL}}jquery.min.js"></script>
    <script src="{{MEDIA_URL}}jquery-ui.min.js"></script>


    <link href="{{MEDIA_URL}}template_scripts/movie_music/player_styles.css" rel="stylesheet">
    <script src='{{MEDIA_URL}}template_scripts/movie_music/player.js'></script>
    <link href="{{MEDIA_URL}}template_scripts/movie_music/auto_complete.css" rel="stylesheet">


    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="{{MEDIA_URL}}bootstrap/navbar-scroll/navbar-scroll.js" ></script>
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap.min.js"></script>

    
</head>

<body>

<a href='#' onClick='get_songs_movie(27)'>check</a>
<a href='#' onClick='get_songs_movie(51)'>check</a>


<div class='bottom_toggle_player' id='bottom_toggle_player' onmouseover="toggleplayer()" ></div>
<div class='bottom_player' id='bottom_player' onmouseover="keepplayer()" onmouseout="toggleplayer()"></div>

<div class='derp' style='min-height: 100px; min-width: 100px;border: 1px solid black' id='derp'></div>
<br/>
<div class='derp' style='min-height: 100px; min-width: 100px;border: 1px solid black' id='derp2'></div>

<div class="bottom-fixed" id='bottom-fixed'>
    <div class="bottom-content">
        <a href='#!/upcomming'onClick=''>Movies</a>
        <a href='#!/'onClick=''>display list</a>
        <a href='#!/onrandom' onClick=''>random</a>
        <a href='#!/playlist/randomize' onClick=''>randomize</a>
    </div>
    <div id='audio_controls_main' style=''>
            <audio controls autobuffer height='5px' style='left: 200px' class='audio-controls' id='audio_id'>
            <source src="" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
    </div>
</div>

</body>




</html>