<!DOCTYPE html>
<html lang="en">
<head>
    <title>Music - Project Movies </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="w4rlock">
    <link href="/media/jquery-ui.css" rel="stylesheet">
    <!-- Le styles -->
    <link href="/media/bootstrap/css/bootstrap.css" rel="stylesheet">


    <script src="/media/jquery.min.js"></script>
    <script src="/media/jquery-ui.min.js"></script>
    
<style type="text/css">
    body{
        background:url({{back_image.imagefile.url}});
        background-repeat:repeat;  
        background-attachment:fixed;
        background: white;
}
.visccss{
    position: fixed;
}
.modal_movie{
    position: fixed;
    display: none;
    width: 100%;
}
.bottom-fixed{
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 32px;
    position: fixed;
    
    background: rgba(255,255,255,1);
    border-top: 1px solid #EEE;
    padding-left: 50px;
  }


.bottom-content{
    float: left;
  padding: 5px;
}
.bottom-content a{
  -webkit-box-reflect: below -5px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(100, 100, 100, 0.4)))
}
.bottom-audio{
    float: left;
  height: 20px;
 
}
.display_current_song{
    width: 40px;
    height: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    background: rgba(255,255,255,0);
    z-index: 10;
}

.current-song{
 float: left;
 padding-left: 30px;
 display: none;
 position: fixed;
 z-index: 10;
 background: white;
 width: 100%;
 overflow: hidden;
}
.current-song h6{
    float: left;
   padding-left: 10px;
  padding-top:5px;
  color: red;
  overflow: hidden;
 color: #ff3600;
}
.audio-controls{
  width: 350px;
}
.random_r{
    bottom: 0px;
    right: 0px;
    font: 27px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    position: fixed;
    display: none;
    background: red;
    color: white;
    z-index: 1;
}
.ftable{
  
  height: 100%;
  background: rgba(0,0,0,0.5);
  overflow: hidden;
  margin-bottom: 50px;
}
table{
  
  text-align: right;
  background: white;
  overflow: hidden;
}
table td{
  padding-bottom: 10px;
  overflow: hidden;
}
table h6{
    float: right;
}
table td a{
    overflow: hidden;
}
table tr{
  overflow: hidden;
}
.image-reflect{
    display: block;
    margin: 0 auto;
  -webkit-box-reflect: below 4px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(white));
}
.each_song{
    border-bottom: 1px solid #EEE;
    width: 100%;
    overflow: hidden;
    border-radius: 4px;


}
.each_song_options{
  float: right;
}
.each_dir_name{
    float: left;
    overflow: hidden;
    width: 100%;
    font-weight: bold;
}
.menu_col_table{
    top: 0px;
    position: fixed;
    width: 102px;
}
.menu_col_item{
    float: right;
    background: #EEE;
    width: 100%;
    padding: 5px;
    border: 1px solid white;
}
.menu_col_item2{
    background: #EEE;
    padding: 5px;
    border: 1px solid white;
    text-align: left;
    
}
.menu_col_item2_selected{
    box-shadow: inset 10px 10px 50px #FAFAFA;;
    border: 0px;
    background: grey;
}
.menu_col_item2_selected a{
    color: white;
}
.number{
    width: 10px;
}
.status{
    width: 5px;
}
.controls_playlist{
  width: 50px;
}
#menu_col_item_playing{
    font-size: 20px;
    color: 
    green;
    position: relative;
    position: fixed;
    background: #EEE;
    z-index: 1;
    width: 95px;
    height: 35px;
    display: none;
    left: 2px;
    }
#menu_col_item_pause{
    font-size: 20px;
    color: 
    green;
    display: none;
    position: relative;
    position: fixed;
    left: 5px;
    background-color: #EEE;
    height: 35px;
    width: 95px;
    left: 1px;
}
.top-fixed{
    background: white;
    top: 0;
    position: fixed;
    left: 105px;
    height: 35px;
    width: 100%;
}
.top-fixed input{
margin-top: 2px;
}



@media (max-width: 800px) {
    .bottom-fixed{
        position: relative;
        padding: 0px;
    }
    .bottom-audio{
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
    }
    .bottom-content{
        height: 35px;
        padding: 0px;
        margin-bottom: 50px;
    }

}
@media (max-width: 500px){
  .top-fixed{
    left: 0px;
    height: auto;
  }
  .bottom-content{
    margin-bottom: 50px;
  }
/*  #playlist_row{
    display: none;
  }*/
}

</style>
<link href="/media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<script src="/media/bootstrap/navbar-scroll/navbar-scroll.js" ></script>
<script src="/media/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">
  var songs_list = [];
  var random_status = 0;
  var songs_playlist = [];
  var song_play_status = 0;
  var data_songs=[];
  var current_src='{{MEDIA_URL}}feel_my_love.mp3'
  var current_id=''
  var current_time=''
</script>

<script type="text/javascript">
    function toggledisplay(id){
  id='#'+id
  var elem=$(id)
  elem.toggle('display')
}

function toggledisplay_class(classx){
  classx='.'+classx
  var elem=$(classx)
  elem.toggle('display')
}
</script>
<script type="text/javascript">
  function ajaxFunctionLoadiFrame_movie_custom(link) {
  $('#song-list').hide()
  $('#modal_movie').show()
  $('#loading').show();
  $('#iframe_movie').hide();
  $('#viscid').hide()
  document.getElementById('iframe_movie').src=link;

$('#iframe_movie').load(function() {
    $('#iframe_movie').show();
    $('#loading').hide();
    var ifsrc = document.getElementById('iframe_movie').src;
    
    $("#iframe_movie").contents().find("#topnavbar").css({'display':'block'});
    var top_pos = {top: '40px'}
     $("#iframe_movie").contents().find(".subnav-fixed").css(top_pos)
});

}
function ajaxFunctionRemoveiFrame_movie(){
  $('#viscid').show();
  $('#loading').hide();
  document.getElementById('iframe_movie').src='';
  $('#iframe_movie').hide();
  $('#modal_movie').hide()
   
}

function toggledisplay(id){
  id='#'+id
  var elem=$(id)
  elem.toggle('display')
}

function changesong_menu(link){ 
     for (song in songs_list){
        if (songs_list[song]==link){
            current_id=song
        }
     }
}

function changesong(link){
    current_src=link
    changesong_menu(link)
  document.getElementById('audio_id').src = link;
  document.getElementById('audio_id').play();
  document.getElementById("span_sname").innerHTML=link
  var song = document.getElementById('audio_id').src
  var a=song.split('/')
  var song_name = a[a.length-1].split('.')[0]
  document.getElementById("span_sname").innerHTML='Playing '+unescape(song_name)+' from '+unescape(a[a.length-2])
  document.getElementById("span_error").innerHTML=''
  if (random_status == 1){
    document.getElementById("span_rstatus").innerHTML=' Random Active ';
  }else{
    document.getElementById("span_rstatus").innerHTML=' Random Not Active ';
  }
  $('#playlist_row').trigger('updated');
}

function changesong_id(id){
  this_link=songs_list[id]
  changesong(this_link)
}

function ajaxloadimage_thumb(link){
   image_thumb = document.getElementById('image_thumb')
   image_thumb.src=link;
   $("#image_head_link").attr("href", link);
   $("#image_link").attr("href", link);
}


function displayinfo_timeout()
{
    toggledisplay('current-song');
    setTimeout(function(){
        toggledisplay('current-song');
                    },1500);
}


</script>




</head>


<body>
<div class='display_current_song' id='display_current_song' onmouseover="toggledisplay('current-song')" onmouseout="toggledisplay('current-song')">

</div>

<div class="current-song" id='current-song'>
        <h6 id="span_rstatus" style='padding-right: 5px; color:red;'> Random Not Active </h6>
        
        <h6 id="span_sname" style='border-left: 1px solid red; color: red'> Nothing Playing </h6>

        <h6 id="span_error" style='border-left: 1px red;color: #56d249; color red'></h6>

        <h6 id="span_time" style='border-left: 1px red;color: #56d249; color green'></h6>
</div>

<div class="ftable" id='song-list' style='z-index: 5000'>
    <div class='top-fixed'>
            <span id='#search_label'>
              Search for movies or songs</span> <input type='text' id='search' style='padding-top: 2px' placeholder='search movies or songs to add them to playlist'>
            
            <span style=''>
        <a href='#'onClick='toggledisplay_class("songs_list_images_all");' style='border-right: solid 1px blue' id='menu_show_all_images'>Show All images </a>
                 <a href='#'onClick='toggledisplay("song-list")' style='padding: 5px'> Hide this</a>
            </span> 
    </div>
   
    <table style='width: 100%'>
        <tr>
    <td style='width: 100px;' id='menu_col'>
        <table id='menu_col_table' class='menu_col_table'>
            <tr>
                <td class='menu_col_item' style='height: 35px' onmouseover="toggledisplay('current-song')" onmouseout="toggledisplay('current-song')">
                    <span id='menu_col_item_playing' style='font-size: 20px; color: green;'>Playing <i class="icon-play icon-black" style='text-align: center; top: 5px;left: 5px;position: relative;'></i>
                        <span style='font-size: 9px; color: red' id='menu_col_item_time'>0.0000</span>
                    </span>
                    <span id='menu_col_item_pause' style='font-size: 20px; color: green; display: none'>Paused<i class="icon-pause icon-black" style='text-align: center; top: 5px;left: 5px;position: relative;'></i></span>
                </td>
            </tr>
            <tr>
                <td class='menu_col_item'>
                <a href='#' onClick='audio_playlist()'>PlayList <i class="icon-list icon-black"></i></a>
                </td>
                <td class='menu_col_item'>
                  <a href='#' onClick='audio_play()'>Play <i class="icon-play icon-black"></i></a>
                </td>
                <td class='menu_col_item'>
                    <a href='#' onClick='audio_pause()'>Pause <i class="icon-pause icon-black"></i></a>
                </td>
                <td class='menu_col_item'>
                    <a href='#' onClick='audio_next()'>Next <i class="icon-step-forward icon-black"></i></a>
                </td>
                <td class='menu_col_item'>
                    <a href='#' onClick='audio_previous()'>Previous <i class="icon-step-backward icon-black"></i></a>
                </td>
                 <td class='menu_col_item'>
                    <a href='#' onClick='audio_reset()'>Reset & play<i class="icon-remove-sign icon-black"></i></a>
                </td>
                <td class="menu_col_item">
                 <strong> Plays only in browsers that support <span style="color:red">mp3</span> files for now. [chrome / safari or any webkit browsers]</strong>
                </td>
            </tr>
        </table>
    </td>

    <td>
  <table class='table table-striped table-bordered table-condensed' style='padding-top: 35px'>

    {% for each_dir in files%}
    {% if each_dir.dirname == '' %}
    {%else%}
   
    <tr>
        
            
        <td style='width: 100px; overflow: hidden;' class='songs_list_images'>
     
             {%for each_img in each_dir.files.jpg%}
          <!--
            <img class="image-reflect" src='http://90.0.0.3:8001/{{each_dir.dirname}}/{{each_img}}' height='80px'>
          -->
{%if forloop.counter > 1 %}
<a class="songs_list_images_all" style='display:none' data-toggle="modal" href="#modal_image_thumb" onClick='ajaxloadimage_thumb("{{MEDIA_URL}}music/{{each_dir.dirname}}/{{each_img}}")'>
        <img class="image-reflect" src='{{MEDIA_URL}}music/{{each_dir.dirname}}/{{each_img}}' height='80px'>
      </a>
{%else%}
<a data-toggle="modal" href="#modal_image_thumb" onClick='ajaxloadimage_thumb("{{MEDIA_URL}}music/{{each_dir.dirname}}/{{each_img}}")'>
        <img class="image-reflect" src='{{MEDIA_URL}}music/{{each_dir.dirname}}/{{each_img}}' height='80px'>
      </a>
      {%endif%}
            {%endfor%}
        
        </td>
        <td>
            <div class='each_dir_name'>{{each_dir.dirname}}</div>
            <br/>
            <br/>
            {%for each_mp3 in each_dir.files.mp3%}
        <div class='each_song'>
  <a href='#{{each_mp3}}' onClick="changesong('{{MEDIA_URL}}music/{{each_dir.dirname}}/{{each_mp3}}')">{{each_mp3}}</a>
     
     <div class='each_song_options'>
        <a href='#{{each_mp3}}' onClick="song_playlist_now('{{MEDIA_URL}}music/{{each_dir.dirname}}/{{each_mp3}}')" rel='tooltip' title='Play Now'><i class='icon-play-circle icon-black'></i></a>

         <a href='#{{each_mp3}}' onClick="song_playlist_next('{{MEDIA_URL}}music/{{each_dir.dirname}}/{{each_mp3}}')" rel='tooltip' title='Play Next'><i class=' icon-chevron-right icon-black'></i></a>
        
          <a href='#{{each_mp3}}' onClick="song_playlist_add('{{MEDIA_URL}}music/{{each_dir.dirname}}/{{each_mp3}}')" rel='tooltip' title='Add to Playlist'><i class='icon-plus-sign icon-black'></i></a>
    </div>

              <script type="text/javascript">
                    songs_list.push('{{MEDIA_URL}}music/{{each_dir.dirname}}/{{each_mp3}}')
                    var this_song = '{{MEDIA_URL}}music/{{each_dir.dirname}}/{{each_mp3}}'
                    var this_a=this_song.split('/')
                    var this_song_name = this_a[this_a.length-1].split('.')[0]
                    var this_lable={'label':unescape(this_song_name) +' - '+unescape(this_a[this_a.length-2]),
                                'category':unescape(this_a[this_a.length-2]),
                                'src_id':songs_list.length-1,
                                'src_link':'{{MEDIA_URL}}music/{{each_dir.dirname}}/{{each_mp3}}',
                            }
                    data_songs.push(this_lable)

                //'http://90.0.0.3:8001/{{each_dir.dirname}}/{{each_mp3}}'
              </script>
            </div>
            
            {%endfor%}
        </td>

    </tr>
   
    {%endif%}
    {%endfor%}
</table>
</td>
    <td id='playlist_row' style="width: 500px; overflow:hidden;" class=''>
        <div id='playlist_table'>    
            
             <table id='playlist_row_table' style='position: fixed;margin-top: 35px; width: 100%' class='menu_col_table' >
            
            
            </table>
        </div>
    </td>

</tr>
</table>
</div>

<div id="modal_movie" class="modal_movie">
    <div class="progress progress-striped active" id="loading" style="background: rgba(0,0,0,0.5); display:none;">
        <div id='loader' style='text-align: center; color: white;'>
            <p>Please wait while loading</p>
            <div class="bar" style="width: 100%;"></div>
        </div>
    </div>
    <iframe class="iframe_movie" id="iframe_movie" width="100%" height="100%" frameborder="0" style="" marginheight="0"></iframe>

</div>

<div class="visccss" id='viscid'>
<canvas id="visc" width="600" height="600" style="border:0px solid #c3c3c3;">
Your browser does not support the canvas element.
</canvas>
  </div>

<div class="bottom-fixed" id='bottom-fixed'>
    <div class="bottom-content">
    <!-- <a href='#upcomming'onClick='ajaxFunctionLoadiFrame_movie_custom("{%url releasing%}")'> Movies</a>
    - -->
    <a href='#'onClick='toggledisplay("song-list")'>display list</a>
    -
    <a href='#onrandom' onClick='randomplay()'>start/stop playing random</a>
     -
    <a href='#randomize' onClick='nextrandomsong()'>randomize</a>
    </div>
    <div class="bottom-audio" id='bottom-audio'>
            <audio controls autobuffer height='5px' style='left: 200px' class='audio-controls' id='audio_id'>
            <source src="" type="audio/mpeg" />
            Your browser does not support the audio element.
          </audio>
    </div>
        
     


      
</div>
  
</body>

<!-- other layers -->
<div class="modal hide fade" style="display: none; " id="modal_image_thumb" style="height: 100%; width: 100%">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h6><a id='image_head_link' href='#' target='_blank' $('#myModal').modal('hide')>go to this image</a></h6>
  </div>
  <a href='#' target='_blank' id='image_link' onClick="$('#modal_image_thumb').modal('hide')">
    <img src='' id='image_thumb'/>
</a>
</div>


<script type="text/javascript">
    function drawvisc(myRectangle){
    var canvas = document.getElementById("visc");
    var context = canvas.getContext("2d");
    
    context.beginPath();

    context.rect(myRectangle.x, myRectangle.y, myRectangle.width, myRectangle.height);
 
    context.fillStyle = myRectangle.color;
    context.fill();
    

}

    var myrect = {
        x: 30,
        y: 295,
        width: 40,
        height: 2,
        color: "#56d249",
    };

    var myrectshadow = {
        x: 30,
        y: 300,
        width: 40,
        height: 2,
        color: "#56d249",
    };
for (x = 0; x < 12; x++) {   
    height = Math.floor((Math.random()*70)+1);
    height1 = Math.floor(height/3)
    height2 = height1 + Math.floor(height/3)
    height3 = height2 + Math.floor(height/3)
    for (i=0; i<height; i++)
      {
        myrect.y=myrect.y-3;
        myrectshadow.y = myrectshadow.y+3;
        
        if(i>height3){
            myrect.color= '#ff0000' //red
        }else if(i > height2) {
            myrect.color= "#ff6300" //orange
        }else if(i>height1) {
            myrect.color= "#f7fe00"    // yellow
            myrectshadow.color= "#f7fe00"
            drawvisc(myrectshadow);
        }else {
            myrect.color= "#56d249" //green
            myrectshadow.color= "#56d249"
            drawvisc(myrectshadow);
        }
        drawvisc(myrect);
        
      }
    
    if (height<60){
        ymax = Math.floor((Math.random()*6)+6);
        myrect.y=myrect.y-ymax
        myrect.color= '#fe0000'
        drawvisc(myrect);
    }
      myrect.x=myrect.x+45;
      myrect.y=295

      myrectshadow.x=myrectshadow.x+45;
      myrectshadow.y=300

};
</script>


<script type="text/javascript">

  var loading_element = $('#loading');
  var new_height= $(window).height()-25;
  new_pos_height = new_height/3;
  new_height = new_height + 'px';
  loading_element.css({'height':new_height});

  var loader = $('#loader');
  
  new_width=$(window).width()/3;
  new_width = new_width + 'px';
  loader.css({'width':new_width});

  loader.css({'padding-left':new_width});
  loader.css({'padding-top':new_pos_height});

  var iframe=$('#iframe_movie');
  iframe.css({'height':new_height});

  if($(window).width()>500 & $(window).height()>400){
      var viscid = $('#viscid')
      left_pos = ($(window).width()-600)/2
      left_pos = left_pos + 'px'
      viscid.css({'left':left_pos});
  }else{
      var viscid = $('#viscid')
      left_pos = 0
     
      left_pos = left_pos + 'px'
      viscid.css({'left':left_pos});
     
  }
  
  
     if($(window).width()<500){
            $('#menu_col').hide()
        }
  
   if($(window).width()<400){
            $('.songs_list_images').hide()
    }

    $('#playlist_row').css({'width':(($(window).width()-200)/2 + 'px')})
    $('#playlist_row_table').css({'width':(($(window).width()-200)/2 + 'px')})
    $('#search').css({'width':((($(window).width()-200)/2)-100 + 'px')})

    window.onresize = function(event) {

          window_resize();       

    }

    window.onload = function(event){
      window_resize();
    }

function window_resize(){

        var loading_element = $('#loading');
        var new_height= $(window).height()-25;
        new_pos_height = new_height/3;
        new_height = new_height + 'px';
        loading_element.css({'height':new_height});

        var loader = $('#loader');
        
        new_width=$(window).width()/3;
        new_width = new_width + 'px';
        loader.css({'width':new_width});

        loader.css({'padding-left':new_width});
        loader.css({'padding-top':new_pos_height});

        $('#playlist_row').css({'width':(($(window).width()-200)/2 + 'px')})
        $('#playlist_row_table').css({'width':(($(window).width()-200)/2 + 'px')})
        $('#search').css({'width':((($(window).width()-200)/2)-100 + 'px')})
        
        var iframe=$('#iframe_movie');
        iframe.css({'height':new_height});
         if($(window).width()<500){
            $('#menu_col').hide()
            $('#playlist_row').hide()
            $('#search_label').hide()
            $('#search').css({'width':($(window).width() + 'px')})
        }
         if($(window).width()>500){
            $('#menu_col').show()
            $('#playlist_row').show()
            $('#search_label').show()
        }
           if($(window).width()<400){
            $('.songs_list_images').hide()
            $('#display_current_song').hide()
            $('#playlist_row').hide()

            $('#search_label').hide()
            $('#search').css({'width':($(window).width() + 'px')})
    }
       if($(window).width()>400){
            $('.songs_list_images').show()
            $('#display_current_song').show()
            $('#playlist_row').show()

            $('#search_label').show()
    }
    $('#playlist_row').hide();
}

function shufflethem(start,end){
    var arr=[]
    for(i=start;i<end;i++){
        arr[i]=i;
    }
    n=arr.length-1
    while(n>start){
        n_number=arr[n]; 
        random=Math.floor(Math.random()*(n-1)+1);
        arr[n]=arr[random];
        arr[random]=n_number;n=n-1
    }
    random=Math.floor(Math.random()*(arr.length-1));
    number0=arr[0];
    arr[0]=arr[random];
    arr[random]=number0;
    return arr;
}


function randomplay(){

        if (random_status  == 0 ){

          if(songs_playlist == []){
          var shuffled_songs_id=shufflethem(0,(songs_list.length))
          i=0
          while(songs_playlist.length<10){
            songs_playlist.push(shuffled_songs_id[i]);
            i++;
          }
          
        }

          $('#playlist_row').trigger('updated');

          random_status = 1;
          document.getElementById("span_rstatus").innerHTML=' Random Active ';


          $('#span_rstatus').css({'color':'green'})
          

          if(song_play_status != 1){
          nextplaylistsong()
            } 
          
      }else{
        random_status=0;
        document.getElementById("span_rstatus").innerHTML=' Random Not Active ';
        $('#span_rstatus').css({'color':'red'})
        displayinfo_timeout();
        
      }      
};

function nextrandomsong(){
 audio_id=document.getElementById('audio_id')
 if(audio_id.readyState==4){
  num_songs = songs_list.length-1;
  random_song = Math.floor((Math.random()*num_songs)+1);
  changesong(songs_list[random_song])
}
else{
    document.getElementById("span_error").innerHTML='wait for audio state to change dont spam please'
    document.getElementById("span_sname").innerHTML=''
}
};

function nextplaylistsong(){
        var i=0
        var next_song=''
        var found=0

        for (song in songs_playlist){
            if(current_src==songs_list[songs_playlist[song]]){
                    next_song=Number(song)+1
                    found=1
            }
        }
        if(found==1){
            if(next_song<songs_playlist.length){
                changesong(songs_list[songs_playlist[next_song]])
                $('#playlist_row').trigger('updated');    
            }else{
                var shuffled_songs_id=shufflethem(0,(songs_list.length))
                songs_playlist=shuffled_songs_id.slice(0,10)
                nextplaylistsong()
            }       
            
        }else{
          if(songs_playlist == [] || songs_playlist == ''){
            var shuffled_songs_id=shufflethem(0,(songs_list.length))
            songs_playlist=shuffled_songs_id.slice(0,10)
          }
            changesong(songs_list[songs_playlist[0]])
            $('#playlist_row').trigger('updated');
        }
}

function previousplaylistsong(){
        var i=0
        var previous_song=''
        var found=0
        
        for (song in songs_playlist){
           
            if(current_src==songs_list[songs_playlist[song]]){
                    previous_song=Number(song)-1
                    found=1
            }
        }
        
        if(random_status != 1 & song == songs_playlist.length-1){
              audio_id=document.getElementById('audio_id')
              audio_id.pause()
        }
        else{
            if(found==1){
                if(songs_playlist[previous_song]){
                    changesong(songs_list[songs_playlist[previous_song]])
                    $('#playlist_row').trigger('updated');    
                }else{
                    var shuffled_songs_id=shufflethem(0,(songs_list.length))
                    songs_playlist=shuffled_songs_id.slice(0,10)
                    nextplaylistsong()
                }       
                
            }else{
                changesong(songs_list[songs_playlist[0]])
                $('#playlist_row').trigger('updated');
            }
      }
}


</script>
<script type="text/javascript">

    $("#audio_id").bind('error', function(){
        document.getElementById("span_error").innerHTML='Some Error Occured while playing song. Trying to restart'
        displayinfo_timeout();
        audio_id=document.getElementById('audio_id')
        audio_id.src=''
        audio_id.src=current_src
        audio_id.startTime=current_time
        audio_id.play()
    });

    $("#audio_id").bind('play', function(){
        
        var song = document.getElementById('audio_id').src
        var a=song.split('/')
        var song_name = a[a.length-1].split('.')[0]
        document.getElementById("span_sname").innerHTML='Playing '+unescape(song_name)+' from '+unescape(a[a.length-2])
        $('#span_sname').css({'color':'green'})
        $('#menu_col_item_playing').show()
        $('#menu_col_item_pause').hide()
        displayinfo_timeout();
        song_play_status = 1;
         document.getElementById("span_error").innerHTML=''
});
    
    $("#audio_id").bind('timeupdate', function(){
        runtime_sec=audio_id.currentTime.toPrecision(5)
        current_time=audio_id.currentTime
        mins=Math.floor(runtime_sec/60);
        secs=runtime_sec - mins*60
        secs=secs.toPrecision(4)
        runtime=mins+':'+secs
        document.getElementById("span_time").innerHTML=runtime
        document.getElementById("menu_col_item_time").innerHTML=runtime
    });
$("#audio_id").bind('pause', function(){
    
        document.getElementById("span_sname").innerHTML=' paused '
        $('#span_sname').css({'color':'red'})
        $('#menu_col_item_playing').hide()
        $('#menu_col_item_pause').show()
        displayinfo_timeout();
        song_play_status = 0;
});

 $("#audio_id").bind('ended', function(){
          song_play_status = 0
          document.getElementById("span_sname").innerHTML='Nothing Playing'
            
          if (random_status == 1){
          nextplaylistsong()
        }else{
              nextplaylistsong()
            }
});

    
    $('#playlist_row').bind('updated', function() {
        


            table_id=document.getElementById('playlist_row_table')
            playlist_id=document.getElementById('playlist_table')
            

             var table_html="<table id=\'playlist_row_table\' style=\'position: fixed;margin-top: 35px; width: 100%\' class=\'menu_col_table\' >"
            var i=0
            songs_playlist = cleanArray(songs_playlist)
            for (song in songs_playlist){
                i=i+1    
                var this_song = songs_list[songs_playlist[song]];
                var this_a=this_song.split('/');
                var this_song_name = this_a[this_a.length-1].split('.')[0];
                this_song_name = unescape(this_song_name);
                this_song_dir_name=unescape(this_a[this_a.length-2]);

                table_html += '<tr>'

                

                table_html +='<td class=\'menu_col_item2 number '

                 if(current_id==songs_playlist[song]){
                    table_html +=   ' menu_col_item2_selected\'>'
                }else { table_html += '\'>'}
                

                table_html += ' '+i+' '
                table_html +='</td>'


                table_html +=' <td class=\'menu_col_item2 controls_playlist '
                
                if(current_id==songs_playlist[song]){
                    table_html +=   ' menu_col_item2_selected\'>'
                }else { table_html += '\'>'}
                
                table_html += '<div class=\'\'>'
                table_html += '<a href=\'#\' onClick=\"playlist_moveup('+Number(songs_playlist[song])+')\" rel=\'tooltip\' title=\'Movie Up\'><i class=\'icon-upload icon-black\'></i> </a>'

                table_html += '<a href=\'#\' onClick=\"playlist_movedown('+Number(songs_playlist[song])+')\" rel=\'tooltip\' title=\'Move Down\'><i class=\'icon-download icon-black\'></i> </a>'
                
                table_html += '<a href=\'#\' onClick=\"playlist_remove('+Number(songs_playlist[song])+')\" rel=\'tooltip\' title=\'Remove\'><i class=\'icon-minus-sign icon-black\'></i></a>'
                
                table_html +='</td>'
                table_html += '<td class=\'menu_col_item2 '

                if(current_id==songs_playlist[song]){
                    table_html +=   ' menu_col_item2_selected\'>'
                }else { table_html += '\'>'}
                
                table_html +=  '<a href=\"#\" onClick=\"changesong_id('+Number(songs_playlist[song])+')\">'
                 if(current_id==songs_playlist[song]){
                    table_html +=   '<i class=\"icon-play icon-black\"></i>'
                }
                table_html += ' '+this_song_name+' - '+this_song_dir_name
                table_html += '</a>'
                table_html += '</td>'
                table_html += '</tr>'

            }

            table_html += '</table>';
            playlist_id.removeChild(table_id);
        $('#playlist_table').html(table_html);


    });


  function playlist_moveup(id){
      var i=0
      var this_song=-1
      var found=0
      
      for (song in songs_playlist){
          if(songs_list[id]==songs_list[songs_playlist[song]]){
                  this_song=Number(song);
                  found=1;
                  break;
          }
      }
      if(found==1){
          movex(songs_playlist,this_song-1,this_song)
          }else{
              alert('this song is not found something is going badly')          
            }

    $('#playlist_row').trigger('updated');
}

function playlist_movedown(id){
      var i=0
      var this_song=-1
      var found=0
      
      for (song in songs_playlist){
          if(songs_list[id]==songs_list[songs_playlist[song]]){
                  this_song=Number(song);
                  found=1;
                  break;
          }
      }
      if(found==1){
          movex(songs_playlist,this_song,this_song+1)
          }else{
              alert('this song is not found something is going badly')          
            }

    $('#playlist_row').trigger('updated');
}

function playlist_remove(id){
      var i=0
      var this_song=-1
      var found=0
      
      for (song in songs_playlist){
          if(songs_list[id]==songs_list[songs_playlist[song]]){
                  this_song=Number(song);
                  found=1;
                  break;
          }
      }
      if(found==1){
          songs_playlist.splice(this_song,1)
          }else{
              alert('this song is not found something is going badly')          
            }

    $('#playlist_row').trigger('updated');
}


    function audio_playlist(){
      toggledisplay('playlist_row');
      $('#playlist_row').trigger('updated');
    }

     function audio_play(){
        audio_id=document.getElementById('audio_id')
        if(audio_id.src==''){
          nextplaylistsong()
        }
        else { audio_id.play();}
     };
    function audio_pause(){
        audio_id=document.getElementById('audio_id')
        audio_id.pause()
    };
      
     function audio_next(){
        nextplaylistsong()
     };
    function audio_previous(){
        previousplaylistsong()
    };

     function audio_reset(){
        audio_id.src=''
        changesong(current_src)
    };

    function get_song_id(link){
      this_id=-1;
      for (song in songs_list){
        if (songs_list[song]==link){
            this_id=song;
            break;
        }
     }
     return Number(this_id);
    }

      
    function song_playlist_now(link){
      song_id=get_song_id(link)
      song_playlist_now_id(song_id)
    };

    function song_playlist_now_id(id){
      song_id=id
      if(song_id==-1){
          alert('error that song does not exist')
        }else{
          new_song=[song_id];

                    var i=0
                    var this_song=-1
                    var found=0
                    for (song in songs_playlist){
                       
                        if(current_src==songs_list[songs_playlist[song]]){
                                this_song=Number(song);
                                found=1;
                                break;
                        }
                    }
                    if(found==1){
                        if(songs_playlist[this_song]){
                            //add at that pos

                            now_song=songs_playlist.splice(0,this_song);
                            songs_playlist = new_song.concat(songs_playlist)
                            songs_playlist = now_song.concat(songs_playlist)
                              changesong(songs_list[song_id])

                        }else{
                            //add at last

                            now_song=songs_playlist.splice(0,songs_playlist.length);
                            songs_playlist = new_song.concat(songs_playlist)
                            songs_playlist = now_song.concat(songs_playlist)
                            
                              changesong(songs_list[song_id])
                            
                        }       
                        
                    }else{
                        //add at top
                        current_playlist=songs_playlist
                        songs_playlist = new_song.concat(current_playlist)
                        
                              changesong(songs_list[song_id])
                        
                    }

          $('#playlist_row').trigger('updated');
        }
      };
    
    function song_playlist_next(link){
        song_id=get_song_id(link)
       song_playlist_next_id(song_id)
    };

    function song_playlist_next_id(id){
      song_id=id
       if(song_id==-1){
          alert('error that song does not exist')
        }else{
          new_song=[song_id];

                    var i=0
                    var this_song=-1
                    var found=0
                    for (song in songs_playlist){
                       
                        if(current_src==songs_list[songs_playlist[song]]){
                                this_song=Number(song)+1;
                                found=1;
                                break;
                        }
                    }
                    if(found==1){
                        if(songs_playlist[this_song]){
                            //add at that pos

                            now_song=songs_playlist.splice(0,this_song);
                            songs_playlist = new_song.concat(songs_playlist)
                            songs_playlist = now_song.concat(songs_playlist)

                        }else{
                            //add at last

                            now_song=songs_playlist.splice(0,songs_playlist.length);
                            songs_playlist = new_song.concat(songs_playlist)
                            songs_playlist = now_song.concat(songs_playlist)
                            if(song_play_status!=1){
                              changesong(songs_list[song_id])
                            }
                        }       
                        
                    }else{
                        //add at top
                        current_playlist=songs_playlist
                        songs_playlist = new_song.concat(current_playlist)
                        if(song_play_status!=1){
                              changesong(songs_list[song_id])
                            }
                    }

          $('#playlist_row').trigger('updated');
        }
    };

function movie_playlist_add(xcat){
  var this_movie_songs=[]
  for (song in data_songs){
    if (xcat == data_songs[song].category){
        this_movie_songs.push(data_songs[song].src_id);
    }
  }
  songs_playlist=songs_playlist.concat(this_movie_songs)
  if(song_play_status != 1){
    nextplaylistsong();
  }
}


    function song_playlist_add(link){
        song_id=get_song_id(link)
        if(song_id==-1){
          alert('error that song does not exist')
        }else{
          songs_playlist.push(song_id)
          $('#playlist_row').trigger('updated');
        }
    };

</script>
<style type="text/css">
    body{
    padding: 0px;
}
</style>

    
<script type="text/javascript">
function select_autocomplete_now(src_id,xlabel){


                 song_playlist_now_id(Number(src_id))
               $( "#search" ).val('');
               try{
               placeholder = 'Added '+xlabel+' to play list - search more';
             }catch(err) { placeholder = 'Added this movie to play list - search more'; }

               $('#search').attr('placeholder',placeholder);
              

                $('#playlist_row').trigger('updated');
}    

function select_autocomplete_next(src_id,xlabel){


                 song_playlist_next_id(Number(src_id))
               $( "#search" ).val('');
               try{
               placeholder = 'Added '+xlabel+' to play list - search more';
             }catch(err) { placeholder = 'Added this movie to play list - search more'; }

               $('#search').attr('placeholder',placeholder);
                $('#playlist_row').trigger('updated');
}    

function select_autocomplete_movie_playlist_add(xcat){

    movie_playlist_add(xcat);
     $('#search').val('');
     placeholder = 'Added movie '+xcat+' to play list - search more';
     $('#search').attr('placeholder',placeholder);
     $('#playlist_row').trigger('updated');
}

    $.widget( "custom.catcomplete", $.ui.autocomplete, {
        _renderMenu: function( ul, items ) {
            var self = this,
                currentCategory = "";
            $.each( items, function( index, item ) {
                if ( item.category != currentCategory ) {
                    ul.append( "<li class='ui-autocomplete-category'><a herf='#' class='ui-autocomplete-category2' onClick=\'select_autocomplete_movie_playlist_add(\""+item.category+"\")\'>" + item.category + "</a></li>" );
                    currentCategory = item.category;
                }
                self._renderItem( ul, item );
            });
        },
    });

    $(function() {
        var data = data_songs
        
        $( "#search" ).catcomplete({
            minLength: 2,
            delay: 0,
            source: data,
            select: function( event, ui ) {
                  { 
               //songs_playlist.push(ui.item.src_id);
             //   song_playlist_now_id(Number(ui.item.src_id))
             //   $( "#search" ).val('');
             //   try{
             //   placeholder = 'Added '+ui.item.label+' to play list - search more';
             // }catch(err) { placeholder = 'Added this movie to play list - search more'; }

             //   $('#search').attr('placeholder',placeholder);
             //   $('#playlist_row').show()

             //    $('#playlist_row').trigger('updated');
               return false;
                }   
            },
            
            focus: function( event, ui ) {
              try{
                $( "#search" ).val('Add '+ui.item.label+' to play list');
                return false;
              }catch(err) {
                $( "#search" ).val('Add '+ui.item+' to play list');
                return false;
              }
            },
        })
          .data( "catcomplete" )._renderItem = function( ul, item ) {
            var re = new RegExp("^" + this.term) ;
            var t = item.label.replace(new RegExp('(' + this.term + ')', 'gi'), "<span style='font-weight:bold;color:Blue;'>$1</span>");
            
          return $( "<li></li>" )
              .data( "item.autocomplete", item )
              .append( "<a href=\'#"+item.label+"\' onClick=\"select_autocomplete_now(\'"+Number(item.src_id)+"\',\'"+item.label+"\')\" rel=\'tooltip\' title=\'Play Now\'>" + t + " <i class=\'icon-play-circle icon-black\'></i></a>" )
              .append("<a>&nbsp;</a>")
             // .append("<a href=\'#"+item.label+"\' onClick=\"song_playlist_now_id(\'"+Number(item.src_id)+"\')\" rel=\'tooltip\' title=\'Play Now\'><i class=\'icon-play-circle icon-black\'></i></a> ")
              .append("<a style='border-left: 1px solid white;' href=\'#"+item.label+"\' onClick=\"select_autocomplete_next(\'"+Number(item.src_id)+"\',\'"+item.label+"\')\" rel=\'tooltip\' title=\'Play Now\'><i class=\'icon-chevron-right icon-black\'></i></a> ")
              .appendTo( ul );
            }
        
    });
    
// function monkeyPatchAutocomplete() {

//       // don't really need this, but in case I did, I could store it and chain
//       var oldFn = $.ui.autocomplete.prototype._renderItem;

//       $.ui.autocomplete.prototype._renderItem = function( ul, item) {
//           var re = new RegExp("^" + this.term) ;
//           var t = item.label.replace(re,"<span style='font-weight:bold;color:Blue;'>" + 
//                   this.term + 
//                   "</span>");
//           return $( "<li></li>" )
//               .data( "item.autocomplete", item )
//               .append( "<a>" + t + "</a>" )
//               .appendTo( ul );
//       };
//   }
</script>
<script type="text/javascript">
  


 function movex(array,old_index, new_index) {
    while (old_index < 0) {
        old_index += array.length;
    }
    while (new_index < 0) {
        new_index += array.length;
    }
    if (new_index >= array.length) {
        var k = new_index - array.length;
        while ((k--) + 1) {
            array.push(undefined);
        }
    }
    array.splice(new_index, 0, array.splice(old_index, 1)[0]);
    return array; // for testing purposes
};

//remove undefined values in array
function cleanArray(actual){
  var newArray = new Array();
  for(var i = 0; i<actual.length; i++){
      if (actual[i]){
        newArray.push(actual[i]);
    }
  }
  return newArray;
}

</script>
<!-- autocomplete search -->
    <style>
    .ui-autocomplete-category {
        font-weight: bold;
        padding: .2em .4em;
        margin: .8em 0 .2em;
        line-height: 1.5;
    }
    .ui-autocomplete-category2{
      background: #EEE;
      border-radius: 5px;
    }
/*
    li {
    border: 1px solid black;
}
.ui-state-active {
    background: black;
    color: white
}
.ui-state-active:hover {
    background: red;
    color: green;
}
li.ui-menu-item a {
    display: block;
}​*/

/* my styles*/
.ui-widget{
  font-size: 0.9em;
}
.ui-menu .ui-menu-item-a{
  padding: 0;

}
.ui-menu .ui-menu-item a {
  padding: 2px;
  display: inline;
  width: 100%
}
.ui-state-hover{
  border: 1px solid black;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  background: rgba(135, 206, 235, 0.99)
}

.ui-menu-item{
  display: inline;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  border: 0px solid black;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-radius: 0px;
  }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-radius: 0px;
  }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0px;
  }
   .ui-autocomplete-loading { background: white url('{{MEDIA_URL}}images/ui-anim_basic_16x16.gif') right center no-repeat; }
</style>

</html>