<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{movie_name}}</title>
<script src="{{ MEDIA_URL }}jquery.min.js" type="text/javascript"></script> 
<link rel="stylesheet" href="{{ MEDIA_URL }}jquery-ui.css" type="text/css" media="all" />
<script src="{{ MEDIA_URL }}jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
  $("#id_person_name").autocomplete({
    source: "/person/searching/",
    minLength: 2,
  });
});

$(function() {
  $("#id_person_profession").autocomplete({
    source: "/profession/searching/",
    minLength: 2,
  });
});


</script>
<h1> {{movie_name}}</h1>
<form action="/add/cast/addingcast/{{movie_id}}-{{movie_name}}/" method="post">
	{%csrf_token%}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.person_name.errors }}
        <label for="id_person_name">person_name:</label>
        {{ form.person_name }}
    </div>
    <div class="fieldWrapper">
        {{ form.person_profession.errors }}
        <label for="id_person_profession">person profession:</label>
        {{ form.person_profession }}
    </div>
    <div class="fieldWrapper">
        {{ form.character_name.errors }}
        <label for="id_character_name">character name:</label>
        {{ form.character_name }}
    </div>
    <p><input type="submit" value="Send message" /></p>
</form>
</head>
</html>`