{% extends "admin/index.html" %}
{% load i18n %}
{% load url from future %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<ul class="breadcrumb">
	<li>
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
</li>
&rsaquo;
{% for app in app_list %}
<li>
{% blocktrans with app.name as name %}{{ name }}{% endblocktrans %}
</li>
{% endfor %}
</ul>
</div>
{% endblock %}
{% endif %}

{% block sidebar %}{% endblock %}
