{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}admin/css/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
{% if app_list %}
    {% for app in app_list %}
   
    {%block source_appname%}
        
        
    {%endblock%}

        <div class="module">
        <table summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}" class="table table-striped table-bordered table-condensed">
        <caption><a href="{{ app.app_url }}" class="section">{% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}</a></caption>
        {% for model in app.models %}
            <tr>
            {% if model.admin_url %}
                <th scope="row"><a href="{{ model.admin_url }}">{{ model.name }}</a></th>
            {% else %}
                <th scope="row">{{ model.name }}</th>
            {% endif %}

            {% if model.add_url %}
                <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}

            {% if model.admin_url %}
                <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            </tr>
        {% endfor %}
        </table>
        </div>
    



    {% endfor %}
{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}
</div>

{% endblock %}

{% block sidebar %}

       <ul class="nav">
                   <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Recent Actions' %} - {% trans 'My Actions' %}<b class="caret"></b></a>
                   
                   {% load log %}
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
             <ul class="dropdown-menu">



                      <li><a href="#"></a>{% trans 'None available' %}</li>
            </ul>
            {% else %}

                    <ul class="dropdown-menu actionlist">
                        {% for entry in admin_log %}

        <div class="dropdown-border" style="border-bottom: 1px solid black;">
                    
                     <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
                
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %}</span>
                {% else %}
                    <span>{% trans 'Unknown content' %}</span>
                {% endif %}


            </li>
        </div>
               {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
        </ul>
       



{% endblock %}
