.movie_menu_trailers{
	margin: 2px;
	float: left;
	position: relative;
}
.movie_menu_trailers_title{
	position: absolute;
	top:0;
	background: rgb(0, 0, 0); 
	background: rgba(0, 0, 0, 0.7);
	letter-spacing: -1px;
	padding: 10px; 
	color: white;
	font-size: 15px;
}