.person_body{
            border: 1px solid #BCBCB9;
            border-radius: 9px;
            border-top-left-radius: 0;
            width: 760px;
            margin: auto;
            margin-top: 20px;
            float: left;
            margin-left: 20px;
            margin-bottom: 20px;

            -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
                -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
                -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
                -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
                box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
           }
           .person_banner_img{
            width: 220px;
            height: 320px;
            border-right: 1px solid #BCBCB9;
            border-bottom: 1px solid #BCBCB9;
            float: left;

            -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
            -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
            -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);

            margin: 5px;
            margin-right: 0;
           }
           .image_side_content {
            width: 499px;
            height: 325px;
            float: left;
            margin-left: 20px;
            overflow: hidden;
            border-bottom: 1px solid #BCBCB9;
            }
            .person_title{
                width: 490px;
                overflow: hidden;
                color: black;
                font-weight: bold;
                font-size: 20px;
                float: left;
                padding-top: 10px;
            }
            .person_title a{
                color: black;
                font-weight: bold;
                font-size: 20px;
                font-variant: small-caps;
            }
            .person_info{
                font-size: 10px;
            }
            .image_bottom_content{
                width: 750px;
                float: left;
                margin-left: 10px;
                margin-top: 10px;
            }
            .person_movies_heading{
                font-size: 15px;
                float: left;
                width: 100%;
                color: grey;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .movie_box_main{
                width: 235px;
                height: 80px;
                margin: 5px;
                overflow: hidden;
                float: left;
                background: white;
                white-space: nowrap;
                -webkit-box-shadow: 0px 2px 4px #EEE;
                -moz-box-shadow: 0px 2px 4px #EEE;
                -o-box-shadow: 0px 2px 4px #EEE;
                box-shadow: 0px 2px 4px #EEE;
                border-top-left-radius: 0px;
                
                -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
                -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
                -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
                -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
                box-shadow: 0 2px 4px rgba(0, 0, 0, .05);

                border: 1px solid #EEE;
            }
            .movie_box_image{
                float: left;
                max-width: 50%;

                -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
                -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
                -o-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
                -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
            }
            .movie_box_image img{
                max-width: 100%;
                vertical-align: middle;
                border: 0;
                -ms-interpolation-mode: bicubic;
            }
            .movie_box_content{
                float: right;
                width: 150px;
            }
            .movie_box_content_name{
                width: 100%;
            }
            .movie_box_content_name a{
                color: black;
                margin: 0;
                font-family: inherit;
                font-weight: bold;
                color: inherit;
                text-rendering: optimizelegibility;
                text-overflow: ellipsis;
            }
            .movie_box_content_year{
                width: 100%;
            }
            .movie_box_content_year a{
                text-rendering: optimizelegibility;
                text-overflow: ellipsis;
            }
            .movie_box_content_prof{
                width: 100%;
            }
            .movie_box_content_prof a{
                text-rendering: optimizelegibility;
                text-overflow: ellipsis;
            }
            .movie_box_content_extra{
                width: 100%;
                display: none;
            }
            .movie_box_content_extra a{
                color: #08C;
                text-decoration: none;
            }
            .person_images_all{
                border: 1px solid #BCBCB9;
                border-radius: 9px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                width: 760px;
                margin: auto;
                float: left;
                margin-left: 20px;
                margin-bottom: 40px;

                -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
                -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
                -o-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
                -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
                box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
            }
            .person_images_all img{
                margin: 1px;
                float: left;
            }

            .person_summary{
    font-size: 10px;
}
.person_summary p{
    font-size: 10px;
}