<script id="movie_items" type="text/template">
    [[#movies]]
        <div class="each_item">
            <img src="[[banner_image_small]]" id="banner_img">
                <div id="each_item_title"><a href="#/movie/[[id]]/index/" onClick="drawmovie_x([[id]])"><span>[[name]] [[#date.year_known]]([[date.year]])[[/date.year_known]] </span></a></div>
                        
                        <div class="each_item_genres" id="each_item_genres">
                            [[#genres]] [[>genre]] [[/genres]]
                        </div>
                        [[#days_condition]]
                        <div class="each_item_days_left" id="each_item_days_left">
                            Days : <span style="color: red">[[days_left]]</span>
                        </div>
                        [[/days_condition]]
                        <div id="each_item_cast">
                            [[#heros]]  [[>hero]] [[/heros]]
                        </div>
                        <div id="each_item_cast">
                         [[#heroines]] [[>hero]] [[/heroines]]
                        </div>
                        <div id="each_item_cast">
                             [[#producers]] [[>hero]] [[/producers]]
                        </div>
                        <div id="each_item_cast">
                             [[#musicdirectors]]  [[>hero]] [[/musicdirectors]]
                        </div>
                        <div class="each_item_info" id="each_item_info">
                            [[plot]]
                        </div>
                </div>
    [[/movies]]
</script>

<script id="loading_bar" type="text/template">
    <div class="progress progress-striped active" id='itemlist_loader'>
                    <div class="bar" style="width: 100%;">Loading List....</div>
                </div>
</script>

<script id="list_items" type="text/template">
<div class="tabs">
            <ul class="nav nav-tabs">
              <li id="intheaters_menu">
                <a href="#/In-Theaters" onClick="loadintheaters_x()">In Theaters</a>
              </li>
              <li id="upcomming_menu"><a href="#/upcomming-movies" onClick="loadupcomming_x()">Upcomming Movies</a></li>
             
              <li id="latestdb_menu"><a href="#/Latest-Additions" onClick="loadlatestdb_x()">Latest Additions</a></li>
            </ul>
        </div>
            <!-- Main LIst ITEMS -->
            <div class="p2_main_body" id="p2_main_body">     
</div>
</script>

<script id="movie_info" type="text/template">
<div class="movie_body" id="movie_body">
                <div class="movie_banner_img">
                    <img src="[[banner_image_small]]" />
                </div>
                <div class="image_side_content">
                    <div class="movie_title" id="movie_title">
                        [[name]] <span>([[date.year]])</span>
                    </div>
                    <hr/>
                    <div class="movie_summary" id="movie_summary">
                        [[summary]]
                    </div>
                </div>
                <div class="image_bottom_content">
                    <div class="movie_cast_body">
                        <div class="cast_heading">
                            Cast
                        </div>

                        <div class="cast_items">
                            <!-- CRAP TESTING STUFF HERE -->
                            
                            [[#persons]]
                                <div class="cast_box_main">
                                     <div class="cast_box_image" id="cast_box_image_id_4">
                                        <img src="[[profile_image_small]]" style="">
                                      </div>    
                                       <div class="cast_box_content" id="cast_box_content_id_4">
                                            <div class="cast_box_content_name">
                                                <a href="/person/[[id]]/index/">[[name]]</a> 
                                            </div>
                                            <div class="cast_box_content_prof">    
                                                [[#professions]] [[>profession]] [[/professions]]
                                            </div>        
                                            <div class="cast_box_content_char">          
                                                <a href="/char/[[character_id]]/">[[character]]</a>      
                                            </div>
                                        </div>
                                </div>
                            [[/persons]]
                        </div>
                    </div>
                </div>
            </div>
</script>
<script id="movie_images_all" type="text/template">
<div class="movie_images_all">
            [[#images]]
               <a href="[[actual]]"> <img src="[[small]]" /> </a>
            [[/images]]
</div>
</script>
<script id="loading_bar_movie" type="text/template">
    <div class="progress progress-striped active" id='loading_bar_movie' style="maring-top: 40px;padding-top: 100px; float: left; width: 80%; padding-left: 20px;">
                    <div class="bar" style="width: 100%;">Loading Data....</div>
    </div>
</script>
