<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{movie_name}}</title>
<script src="{{ MEDIA_URL }}jquery.min.js" type="text/javascript"></script> 
<link rel="stylesheet" href="{{ MEDIA_URL }}jquery-ui.css" type="text/css" media="all" />
<script src="{{ MEDIA_URL }}jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
  $("#id_person_name").autocomplete({
    source: "/person/searching/",
    minLength: 2,
  });
});

$(function() {
  $("#id_profession_name").autocomplete({
    source: "/profession/searching/",
    minLength: 2,
  });
});


</script>

{%if added_profession%}
{{added_profession}} sucessfully added
{%endif%}

<form action="/add/profession/addprof/" method="post">
	{%csrf_token%}
 {{form.as_p}}
    <p><input type="submit" value="Add Profession" /></p>
</form>
</head>
</html>`