{%extends "movie_base_page.html"%}
{%block content%}
<div class="span12">
<script type="text/javascript">

$(function() {

    function log( message ) {
           $('#id_movie_name').html(message);
        }

$("#id_movie_id").autocomplete({
minLength: 2,
      source: "/movie/searching/",
      focus: function( event, ui ) {
        $( "#id_movie_id" ).val( ui.item.id );
       $('#id_movie_name').html('selected '+ui.item.label);
        return false;
      },
      select: function( event, ui ) {
                  { 
             $('#id_movie_name').html('selected '+ui.item.label);
                 $( "#id_movie_id" ).val( ui.item.id );
                 return false;      
        }   
      },
   
    })
    .data( "autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
        .data( "item.autocomplete", item )
        .append( "<a><img src='"+item.icon+"'>&nbsp;"+ item.value + "</a>" )
        .appendTo( ul );
    };
  });
  </script>

  <script type="text/javascript">
$(function() {
  $("#id_person_id").autocomplete({
    source: "/person/searching/",
    minLength: 2,
    select: function( event, ui ) {
                  { 
             $('#id_person_name').html('selected '+ui.item.label);
                 $( "#id_person_id" ).val( ui.item.id );
                 return false;      
        }   
      },
  });
});
</script>


<br/>
<br/>
{%if sucess%}
<h3>{{status}}</h3>
{%else%}

go here to submit
{%endif%}

{%endblock%}