{%extends "movie_base_page.html"%}
{%block content%}
<div class="span12">
<script type="text/javascript">

$(function() {

    function log( message ) {
           $('#id_movie_name').html(message);
        }

$("#id_movie_id").autocomplete({
minLength: 2,
      source: "/movie/searching/",
      focus: function( event, ui ) {
        $( "#id_movie_id" ).val( ui.item.id );
       $('#id_movie_name').html('selected '+ui.item.label);
        return false;
      },
      select: function( event, ui ) {
                  { 
             $('#id_movie_name').html('selected [ '+ui.item.label+' ]');
                 $( "#id_movie_id" ).val( ui.item.id );
                 return false;      
        }   
      },
   
    })
    .data( "autocomplete" )._renderItem = function( ul, item ) {
      return $( "<li></li>" )
        .data( "item.autocomplete", item )
        .append( "<a><img src='"+item.icon+"'>&nbsp;"+ item.value + "</a>" )
        .appendTo( ul );
    };
  });
  </script>

  <script type="text/javascript">
$(function() {
  $("#id_person_id").autocomplete({
    source: "/person/searching/",
    minLength: 2,
    select: function( event, ui ) {
                  { 
             $('#id_person_name').html('selected [ '+ui.item.label+' ]');
                 $( "#id_person_id" ).val( ui.item.id );
                 return false;      
        }   
      },
  });
});
</script>


<br/>
<br/>
{%if sucess%}
<span class="label label-success">{{status|safe}}
</span>
<h6>contribute more ?</h6>
{%else%}
{%endif%}
{%if user.username%}
        contributing as <span class='label'>{{user.username}} [{{user.first_name}}-{{user.last_name}}].</span> your username will be recorded
        <p>
          <li>  Any Field can be empty but yetleast one person or movie has to be selected.</li>
        </p>
        
        <form method="post" action="/user/contribute/" enctype="multipart/form-data">
        {%csrf_token%}

         <span style='color: rgb(185, 74, 72)'>{{ form.non_field_errors }}</span>
            <div class="fieldWrapper">
                {{ form.person_id.errors }}
                <label for="id_person_id">Person id:</label>
                {{ form.person_id }}
                <span id="id_person_name"> Selected [ ]. [can be empty]</span>
                 <span class="help-inline">{{form.person_id.help_text}}</span>
            </div>
             <div class="fieldWrapper">
                {{ form.movie_id.errors }}
                <label for="for_id_movie_id" >Movie id:</label>
                <br/>{{ form.movie_id }}
                <span id="id_movie_name"> Selected [ ]. [can be empty]</span>
                 <span class="help-inline">{{form.movie_id.help_text}}</span>
            </div>
            <div class="fieldWrapper">
                {{ form.text.errors }}
                <label for="id_text">Info:</label>
                {{ form.text }}
                <span id="id_text">Cane be Empty</span>
                 <span class="help-inline">{{form.text.help_text}}</span>
            </div>
            <div class="fieldWrapper">
                {{ form.imagefile.errors }}
                <label for="id_imagefile">Image:</label>
                {{ form.imagefile }}
                <span id="id_imagefile">Cane be Empty</span>
                 <span class="help-inline">{{form.imagefile.help_text}}</span>
            </div>
            
        <input type="submit" name="submit" value="submit">
        </form>
        </div>
{%else%}
none is logged in . you will not be able to perform this action
{%endif%}




{%endblock%}