<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Movies </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="w4rlock">
    <script src="{{MEDIA_URL}}jquery.min.js"></script>
    <script src="{{MEDIA_URL}}js/mustache.js"></script>


<body>
    <div class="each_item" id="each_item">
    </div>
</body>


<script type="text/javascript">
Mustache.tags = ['[[',']]' ];
//     url = "/v1/api/latestdb/";
//     $.getJSON(url, function(data) {

//         var template=$('#movie_items').html();
        
//         var partials = {
//                         genre: "<li>[[name]]</li>",
//                         hero: "<li>[[name]]<li>"
//                             };
//         var html = Mustache.to_html(template, data, partials);


//         document.write(html);
//         console.log(html)
//         console.log(template)
//         console.log(data)
        
// // });
//  url = "/v1/api/m/7/";
//     $.getJSON(url, function(data) {

//         var template=$('#movie_info').html();
        
//         var partials = {
//                         profession: "<a href=\"/prof/[[id]]/\">[[name]]</a>",
//                         hero: "<li>[[name]]<li>"
//                             };
//         var html = Mustache.to_html(template, data, partials);


//         document.write(html);
//         console.log(html)
//         console.log(template)
//         console.log(data)
        
// });
</script>

<script>

</script>

<script id="movie_info" type="text/template">
<div class="movie_body" id="movie_body">
                <div class="movie_banner_img">
                    <img src="[[banner_image_small]]" />
                </div>
                <div class="image_side_content">
                    <div class="movie_title" id="movie_title">
                        [[name]] <span>([[date.year]])</span>
                    </div>
                    <hr/>
                    <div class="movie_summary" id="movie_summary">
                        [[summary]]
                    </div>
                </div>
                <div class="image_bottom_content">
                    <div class="movie_cast_body">
                        <div class="cast_heading">
                            Cast
                        </div>

                        <div class="cast_items">
                            <!-- CRAP TESTING STUFF HERE -->
                            
                            [[#persons]]
                                <div class="cast_box_main">
                                     <div class="cast_box_image" id="cast_box_image_id_4">
                                        <img src="[[profile_image_small]]" style="">
                                      </div>    
                                       <div class="cast_box_content" id="cast_box_content_id_4">
                                            <div class="cast_box_content_name">
                                                <a href="/person/[[id]]/index/">[[name]]</a> 
                                            </div>
                                            <div class="cast_box_content_prof">    
                                                [[#professions]] [[>profession]] [[/professions]]
                                            </div>        
                                            <div class="cast_box_content_char">          
                                                <a href="/char/[[character_id]]/">[[character]]</a>      
                                            </div>
                                        </div>
                                </div>
                            [[/persons]]
                                <!--  TESTING STUFF ENDS HERE -->
                        </div>
                    </div>
                </div>
            </div>
</script>

<script id="movie_items" type="text/template">
        [[#movies]]
        <div class="each_item">
            <img src="[[banner_image_small]]" id="banner_img">
                <div id="each_item_title"><span>Ye Maaya Chesave (2011) </span></div>
                        <div class="each_item_genres" id="each_item_genres">
                            [[#genres]] [[>genre]] [[/genres]]
                        </div>
                        
                        <div id="each_item_cast">
                            Hero : [[#heros]] [[>hero]] [[/heros]]
                        </div>
                        <div id="each_item_cast">
                         Heroine : [[#heros]] [[>hero]] [[/heros]]
                        </div>
                        <div id="each_item_cast">
                            Producers : [[#heros]] [[>hero]] [[/heros]]
                        </div>
                        
                        <div class="each_item_info" id="each_item_info">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                        </div>
                </div>
    [[/movies]]
</script>


</html>

 <!-- <div class="each_item" id="m_27" >
                    <img src="/media/cache/1a/fd/1afd133e1f37015432dca0a4e52fdd72.jpg" id="banner_img">
                        <div id="each_item_title"><span>Ye Maaya Chesave (2011) </span></div>
                        <div class="each_item_genres" id="each_item_genres"><li>Romance</li><li>Comedy</li><li>Class</li></div>
                        <div id="each_item_cast">
                            Hero : <li> <a> hero1</a> </li> <li><a> hero2</a></li>
                        </div>
                        <div id="each_item_cast">
                         Heroine : <li> hero1 </li> <li> hero2</li>
                        </div>
                        <div id="each_item_cast">
                            Producers : <li> hero1 </li> <li> hero2</li>
                        </div>
                        
                        <div class="each_item_info" id="each_item_info">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                        </div>
                </div> -->


 <div class="person_body" id="person_body">
                    <div class="person_banner_img" >
                        <img src="[[profile_image_small]]">
                    </div>
                    
                    <div class="image_side_content" id="image_side_content">
                        <div class="person_title" id="person_title">
                            <a href="#/person/[[id]]/[[name]]/">  [[name]] </a>
                        </div>

                        <hr/>
                        <div class="person_info" id="person_info">
                            [[bio]]
                        </div>
                    </div>

                    <div class="image_bottom_content" id="image_bottom_content">
                        <div class="person_movies_body" id="person_movies_body">
                            <div class="person_movies_heading" id="person_movies_heading">
                                Movies Acted
                            </div>
                            
                            <div class="movie_items" id="movie_items">
                            [[#movies]]
                                <div class="movie_box_main">
                                    <div class="movie_box_image" id="movie_box_image">
                                        <img src="[[banner_image_small]]">
                                    </div>
                                    
                                    <div class="movie_box_content" id="movie_box_content_id_[[id]]">
                                            <div class="movie_box_content_name">
                                                <a href="#/movie/[[id]]/[[name]]/">[[name]]</a> 
                                            </div>
                                            <div class="movie_box_content_year" id="movie_box_content_year">
                                                <a href="#/year/[[year]]/">[[year]]</a>
                                            </div>
                                            <div class="movie_box_content_prof">    
                                                [[#professions]] [[>profession]] [[/professions]]
                                            </div>        
                                            <div class="movie_box_content_extra">          
                                                <a href="#/char/[[id]]/"></a>      
                                            </div>
                                        </div>
                                </div>
                            
                            [[/movies]]
                            </div>
                        </div>
                    </div>
                 </div>                