<!DOCTYPE html>
<html lang="en">
<head>
    <title>Project Movies </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="w4rlock">
    
    <link href="{{MEDIA_URL}}jquery-ui.css" rel="stylesheet">

    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">


    <script src="{{MEDIA_URL}}jquery.min.js"></script>
    <script src="{{MEDIA_URL}}jquery-ui.min.js"></script>

    <script src="{{MEDIA_URL}}bootstrap/navbar-scroll/navbar-scroll.js" ></script>
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap.min.js"></script>

    <script src="{{MEDIA_URL}}js/mustache.js"></script>
    
    <link href="{{MEDIA_URL}}template_images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    
    <link rel="stylesheet" href="{{MEDIA_URL}}template_scripts/indexv1/base.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}template_scripts/indexv1/dot_loader.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}template_scripts/indexv1/movie_list.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}template_scripts/indexv1/movie_info.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}template_scripts/indexv1/person_info.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}template_scripts/indexv1/person_list_all.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}template_scripts/indexv1/movie_menu.css">

    <script src="{{MEDIA_URL}}template_scripts/indexv1/movie_list.js"></script>
    <script src="{{MEDIA_URL}}template_scripts/indexv1/movie_info.js"></script>
    <script src="{{MEDIA_URL}}template_scripts/indexv1/person_info.js"></script>
    <script src="{{MEDIA_URL}}template_scripts/indexv1/movie_music.js"></script>
    <script src="{{MEDIA_URL}}template_scripts/indexv1/person_list_all.js"></script>
    <script src="{{MEDIA_URL}}template_scripts/indexv1/movie_menu.js"></script>
    <script src="{{MEDIA_URL}}template_scripts/indexv1/person_menu.js"></script>

    <script src="{{MEDIA_URL}}template_scripts/indexv1/base.js"></script>
    <script type="text/javascript">
        var old_hash=""
    </script>
    <style type="text/css" media="screen">
.ui-autocomplete-loading { background: white url('{{MEDIA_URL}}images/ui-anim_basic_16x16.gif') right center no-repeat; }
    </style>
</head>

<body>
    <div id="root" class="container">
        <div id="banner_ad_c" class="banner_ad_c" ></div>
        <div id="topnavbar" class="topnavbar">
            <ul>
                <li class="project_title">
                    <a href="#" href="#">Project Movies</a>
                </li>
                <div id="music_menu_when_hidden">  <!-- when not hidden or when music frame is hidden -->
                
                     <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown" ><i class="icon-home icon-white"></i> Home <b class="caret"></b></a>
              <ul class="dropdown-menu">
              
      <li><a href="#/In-Theaters"><i class="icon-play"></i> In Theaters</a></li>
      <li><a href="#/upcomming-movies"><i class="icon-fast-forward"></i> Upcoming Movies</a></li>
      <li><a href="#/Latest-Additions"><i class="icon-book"></i> Latest Additions to database</a></li>

            </ul>
              </li>

                <!-- <li><a href="#" onClick="loadmovies_x()"> Movies </a></li> -->
                
                <li><a href="#/Actors" > Actors </a></li>
                <li><a href="#/music/ls/" onClick="showmusicframe()"> Music </a></li>
                <form class="navbar-search pull-left" action="/search/all" method="GET">
                    <input id="movies" type="text" class="search-query " placeholder="Search Movies or Actors">
                </form>
                </div>
                <div id="music_menu_when_shown" style="display: none"> <!-- when music frame is shown -->
                    <li><a onClick="hide_music_frame()">Hide Music </a></li>
                </div>
                {% if user.username %} 
                <li style="overflow:hidden;width: 115px;text-align: right" class="pull-right">
                    <a href="/user/profile/">
        {%if user.first_name%} {{ user.first_name|default:" " }} {{ user.last_name|default:" " }}{%else%}{{user.username}}{%endif%}{% if last_login%}&nbsp;-&nbsp;{{last_login}}{%endif%}
                    </a>
                </li>
                <li><a href="{% url user_logout %}?next={{request.path}}"><i class="icon-off icon-white"></i></a></li>
                {%else%}
                <li><a href="{% url django.contrib.auth.views.login %}?next={{request.path}}">Login</a></li>
                <li><a href="/user/register/">Register</a></li>
        {% endif %}
            </ul>
        </div>
        <iframe width="1001px" height="1000px" style="display:none; margin-top: 40px;border: 0;margin-bottom: 0;padding-bottom: 0;" id="music_iframe" ></iframe>
        <!-- Main Body --> 
        <div id="main_body" class="main_body design">
            {% block content %}
            {% endblock %}
        </div>

        <div id="footer" class="footer">
            <div class="bottom-content">
            <a href="http://blog.w4rlock.in/blog/24-Android-app-v0.02/" target="_black">Apps</a>
            -
            <a href="#/About-Us">About Us</a>
            -
            <a href="#/Contact-Us">Contact Us</a>

        <p style="font-size: 10px;">Copyright © 2012 All Rights Reserved.</p>
        <p style="font-size: 10px;">We Use / <a style="font-size: 10px;" href="http://www.djangoproject.com/" target="_blank">Django 1.4</a></p>
         
        </div>
        </div>
    </div>
</body>
    
<script type="text/javascript">
Mustache.tags = ['[[',']]' ];

window.onload = function(){

            // loadmovies();
            }
</script>
<script id="movie_items" type="text/template">
    [[#movies]]
        <div class="each_item">
            <img src="[[banner_image_small]]" id="banner_img">
                <div id="each_item_title"><a href="#/movie/[[id]]/[[name]]/" onClick="drawmovie_x([[id]])"><span>[[name]] [[#date.year_known]]([[date.year]])[[/date.year_known]] </span></a></div>
                        
                        <div class="each_item_genres" id="each_item_genres">
                            [[#genres]] [[>genre]] [[/genres]]
                        </div>
                        [[#days_condition]]
                        <div class="each_item_days_left" id="each_item_days_left">
                            Days : <span style="color: red">[[days_left]]</span>
                        </div>
                        [[/days_condition]]
                        <div id="each_item_cast">
                            [[#heros]]  [[>hero]] [[/heros]]
                        </div>
                        <div id="each_item_cast">
                         [[#heroines]] [[>hero]] [[/heroines]]
                        </div>
                        <div id="each_item_cast">
                             [[#producers]] [[>hero]] [[/producers]]
                        </div>
                        <div id="each_item_cast">
                             [[#musicdirectors]]  [[>hero]] [[/musicdirectors]]
                        </div>
                        <div class="each_item_info" id="each_item_info">
                            [[plot]]
                        </div>
                </div>
    [[/movies]]
</script>

<script id="loading_bar" type="text/template">
    <div class="progress progress-striped active" id='itemlist_loader'>
                    <div class="bar" style="width: 100%;">Loading List....</div>
                </div>
</script>

<script id="search_all_results" type="text/template">
    <div class="search_all" id="search_all_results">
                [[#results]]
                <div class="movie_box_main">
                        <div class="movie_box_image" id="movie_box_image">
                            <img src="[[icon]]">
                        </div>
                        
                        <div class="movie_box_content" id="movie_box_content_id_14">
                                <div class="movie_box_content_name">
                                    <a href="[[hash]]">[[label]]</a> 
                                </div>
                                <div class="movie_box_content_prof">          
                                    <a>[[desc]]</a>      
                                </div>
                            </div>
                </div>
                    [[/results]]
    </div>
</script>

<script id="list_items" type="text/template">
<div class="tabs">
            <ul class="nav nav-tabs">
              <li id="intheaters_menu">
                <a href="#/In-Theaters" onClick="loadintheaters_x()">In Theaters</a>
              </li>
              <li id="upcomming_menu"><a href="#/upcomming-movies" onClick="loadupcomming_x()">Upcomming Movies</a></li>
             
              <li id="latestdb_menu"><a href="#/Latest-Additions" onClick="loadlatestdb_x()">Latest Additions</a></li>
              <li id="latest_trailers_menu"><a href="/movies/latest/trailers/" >Latest Trailers</a></li>
              <li id="images_all"><a href="/v1/image/list/" >Latest Images</a></li>
            </ul>
        </div>
            <!-- Main LIst ITEMS -->
            <div class="p2_main_body" id="p2_main_body">     
</div>
</script>

<script id="movie_info" type="text/template">

<div class="movie_body movie_trailers" style="display: none; border-radius: 9px;" id="movie_trailers">
    <div class="" style="margin: 10px;float: left;">
        [[#trailers]]
        <div class="movie_menu_trailers"style="">
        <a onClick='ajaxFunctionLoadiFrame("[[youtube_code]]");'>
    <img id="img_[[youtube_code]]" src="http://img.youtube.com/vi/[[youtube_code]]/0.jpg" width="365" height="274">
    </a>
    <h3 class="movie_menu_trailers_title" style="" id="trailer_image_title_[[youtube_code]]"></h3>
    <iframe id="[[youtube_code]]" width="365" height="274" frameborder="0" allowfullscreen class="pull-left" controls=0 style="display:none;"></iframe>
    </div>
        [[/trailers]]
        </div>
</div>

<div class="movie_body movie_info" style="display: none; border-radius: 9px;" id="movie_info">
    
    <div class="movie_summary" style="margin: 10px;font-size: 10px !important">
        [[#all_dates]] [[>each_date]] [[/all_dates]]
    </div>

    <div class="movie_summary" style="margin: 10px;font-size: 13px !important">
        [[plot]]
    </div>

    [[#info]]
        <hr/>
        <div class="movie_summary" style="margin: 10px">
            <strong>Info from wikipedia</strong> <br/>
            [[info]]
        </div>
    [[/info]]

    [[#summary]]
        <hr/>
        <div class="movie_summary" style="margin: 10px">
            <strong>Extra info</strong> <br/>
            [[summary]]
        </div>
    [[/summary]]
</div>

<div class="movie_body" id="movie_body">
    <div class="movie_banner_img">
        <img src="[[banner_image_small]]" />
    </div>
    <div class="image_side_content">
        <div class="movie_title" id="movie_title">
            <a href="#/movie/[[id]]/[[name]]/">  [[name]] </a>
                [[#date.year_condition]]<span>([[date.year]])</span>[[/date.year_condition]]
        </div>
        [[#date.year_condition]]
            <div class="movie_summary">
                Release : [[date.day]] / [[date.month]] / [[date.year]]. &nbsp;&nbsp;&nbsp; Days: [[days_left]]
            </div>
            
            <div class="each_item_genres movie_summary" style="width: 100%" id="each_item_genres">
                 [[#genres]] [[>genre]] [[/genres]]
            </div>
            
            
        [[/date.year_condition]]
        <div class="movie_summary" id="movie_summary">
            [[summary]]
        </div>
        <div class="movie_summary" id="movie_summary">
            [[info]]
        </div>
    </div>
    
    <div class="image_bottom_content">
        <div class="movie_cast_body">
            <div class="cast_heading">
                Cast
            </div>
            <div class="cast_items">
                [[#persons]]
                    <div class="cast_box_main">
                        <div class="cast_box_image" id="cast_box_image_id_4">
                            <img src="[[profile_image_small]]" style="">
                        </div>    
                        <div class="cast_box_content" id="cast_box_content_id_4">
                            <div class="cast_box_content_name">
                                <a href="#/person/[[id]]/[[name]]/">[[name]]</a> 
                            </div>
                            <div class="cast_box_content_prof">    
                                [[#professions]] [[>profession]] [[/professions]]
                            </div>        
                            <div class="cast_box_content_char">          
                                <a href="/char/[[character_id]]/">[[character]]</a>      
                            </div>
                        </div>
                    </div>
                [[/persons]]
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="MovieShareModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Share [[name]]</h3>
  </div>
  <div class="modal-body">
     <iframe src="/v1/frame/m/[[id]]" frameborder="0" width="500" height="380" scrolling="no"> </iframe>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

    <div class="movie_body_right_menu" >
    <!-- css in movie_info -->
        <div class="right_menu_item">
            <a data-toggle="modal" href="#MovieShareModal"><strong>Share</strong></a>
        </div>
        <hr style="margin: 0"/>
        <div class="right_menu_item" >
            <a><strong>[[name]]</strong></a>
        </div>
        <div class="right_menu_item" >
            <a href="#/movie/[[id]]/[[name]]/" onclick="showtrailers();">Trailers</a>
        </div>
        <div class="right_menu_item" >
            <a href="#/movie/[[id]]/[[name]]/" onclick="showinfo();">More Info</a>
        </div>
        <div class="right_menu_item">
            <a>Full cast</a>
        </div>
        <div class="right_menu_item">
            <a>All Images</a>
        </div>
        <div class="right_menu_item">
            <a>Rating & Review</a>
        </div>
        <div class="right_menu_item">
            <a>Related News</a>
        </div>
        <div class="right_menu_item">
            <a>Additional Info</a>
        </div>
        <hr style="margin: 0"/>
        <div class="right_menu_item">
            <a href="/user/contribute/?movie_id=[[id]]" target="_blank">Report Error</a>
        </div>
    </div>
  
</script>

<script type="text/template" id="person_info">

<div class="person_body person_more_info" style="display: none; border-radius: 9px;" id="person_more_info">
    <div class="person_gender" style="margin: 10px;font-size: 13px !important">
    <p style="font-size: 10px; line-height: 15px;">
        <strong>Gender: </strong>[[gender]] <br/>
        <strong>Spouse: </strong>[[sp]] <br/>
        <strong>DOB: </strong>[[#dob.known]][[dob.day]] / [[dob.month]] / [[dob.year]] &nbsp;&nbsp;[[dob.age]] years old[[/dob.known]] 
    </p>
    </div>

    [[#info]]
        <hr/>
        <div class="person_summary" style="margin: 10px">
            <strong>Info from wikipedia</strong> <br/>
            [[info]]
        </div>
    [[/info]]

</div>

    <div class="person_body" id="person_body">
        <div class="person_banner_img" >
            <img src="[[profile_image_small]]">
        </div>
        
        <div class="image_side_content" id="image_side_content">
            <div class="person_title" id="person_title">
                <a href="#/person/[[id]]/[[name]]/">  [[name]] </a>
            </div>

            <hr/>
            <div class="person_info" id="person_info">
                [[bio]]
            </div>
        </div>

        <div class="image_bottom_content" id="image_bottom_content">
            <div class="person_movies_body" id="person_movies_body">
                <div class="person_movies_heading" id="person_movies_heading">
                    Movies Acted
                </div>
                
                <div class="movie_items" id="movie_items">
                [[#movies]]
                    <div class="movie_box_main">
                        <div class="movie_box_image" id="movie_box_image">
                            <img src="[[banner_image_small]]">
                        </div>
                        
                        <div class="movie_box_content" id="movie_box_content_id_[[id]]">
                                <div class="movie_box_content_name">
                                    <a href="#/movie/[[id]]/[[name]]/">[[name]]</a> 
                                </div>
                                <div class="movie_box_content_year" id="movie_box_content_year">
                                    <a href="#/year/[[year]]/">[[year]]</a>
                                </div>
                                <div class="movie_box_content_prof">    
                                    [[#professions]] [[>profession]] [[/professions]]
                                </div>    
                                <div class="movie_box_content_prof">          
                                    <a href="/char/[[character.id]]/">[[character.name]]</a>      
                                </div>    
                             <!--   <div class="movie_box_content_extra">          
                                    <a href="/char/[[character.id]]/">[[character.name]]</a>      
                                </div> -->
                            </div>
                    </div>
                    [[/movies]]
                </div>
                
            </div>
        </div>
     </div>

        <div class="movie_body_right_menu person_body_right_menu" >
    <!-- css in movie_info -->
        <div class="right_menu_item" >
            <a href="#/person/[[id]]/[[name]]/" onClick="show_person_more_info ()">More Info</a>
        </div>
        <div class="right_menu_item">
            <a>All Movies</a>
        </div>
        <div class="right_menu_item">
            <a>All Images</a>
        </div>
        <div class="right_menu_item">
            <a>related news</a>
        </div>
        <hr/>
        <div class="right_menu_item">
            <a href="/user/contribute/?person_id=[[id]]" target="_blank">Report Error</a>
        </div>
        
    </div>
</script>

<script type="text/template" id="person_images_all">
<div class="person_images_all" id="person_images_all">
        [[#images]]
        <a href="[[actual]]" target="_blank"> <img src="[[small]]"> </a>
        [[/images]]
</div>    
</script>

<script id="movie_images_all" type="text/template">
<div class="movie_images_all">
            [[#images]]
               <a href="[[actual]]" target="_blank"> <img src="[[small]]" /> </a>
            [[/images]]
</div>
</script>

<script id="loading_bar_movie" type="text/template">
  
  <!--
  <div class="progress progress-striped active loading_bar_movie" id='loading_bar_movie' >
                    <div class="bar" style="width: 100%;" id="loading_bar_movie_text">Loading Data....</div>
    </div>
 -->
 <div id="">
   <div class="loader" id="loading_bar_movie">
    <div class="circle">&nbsp;</div>
      <div class="circle">&nbsp;</div>
        <div class="circle">&nbsp;</div>
            <div class="circle">&nbsp;</div>
  </div>
  </div>
</script>
<script id="persons_list_all" type="text/template">
      
      <div class="persons_list" id="persons_list">
            [[#persons]] 
            <div class="each_item">
            <img src="[[profile_image_small]]" id="banner_img">
                <div id="each_item_title">
                        <a href="#/person/[[id]]/[[name]]/" onclick="drawmovie_x(8)"><span>[[name]]</span></a></div>
                        
                        <div class="each_item_info" id="each_item_info">
                            [[bio_small]]
                            <a href="#/person/[[id]]/">Read More</a>
                        </div>
                        
                        <div id="each_item_cast">
                            <div id="persons_movies" class="persons_movies">
                                 [[#movies]] 
                                <div id="each_movie" class="each_movie">
                                    <a href="#/movie/[[id]]/[[name]]/" rel="tooltip" title="[[name]]">
                                        <img src="[[banner_image_small]]" id="img_movie_image"></a>
                                    </div>
                                 [[/movies]] 
                            </div>
                            
                        </div>
                </div>
                 [[/persons]] 
            </div>
</script>
<script id="about-us" type="text/template">
    <div class="aboutus" id='aboutus'>
           Comming Soon         
    </div>
</script>
<script id="contact-us" type="text/template">
    <div class="contactus" id='contactus'>
             Comming Soon       
    </div>
</script>
<script type="text/javascript" >
    var hash = location.hash;
    hashcontrol(hash);
    function hashcontrol (hash) {
        if(hash == ""){
            path = window.location.pathname;
            path = path.split('/')
            if(path[1] == 'v1'){
                if(path[2] == 'image'){
                    return ' ' 
                }else{
                window.location.hash = "#/In-Theaters"
                }
            }else{
                return " "
            }
        }
        else{
            path = window.location.pathname;
            path = path.split('/');
            if(path[1] != 'v1'){
                window.location = '/v1/'+window.location.hash;
            }
        }
        a=hash.split('/');
        defaultback();
        if (a[1] == 'In-Theaters' || a[1] == 'upcomming-movies' || a[1] == 'Latest-Additions') {
            loadtabs();
        };
// a[1] != 'movie' &&a[1]!= 'Actors' && a[1] != 'music' && a[1] != 'person' && a[1] != 'char'

        if(a[1]=='In-Theaters'){
                loadintheaters();
            }
            else if(a[1]=='upcomming-movies'){
                loadupcomming();
            }
            else if(a[1]=='Latest-Additions'){
                loadlatestdb();
            }
            else if(a[1] == 'Actors'){
                drawpersonslist();
            }
            else if(a[1]=='movie'){
                drawmovie(a[2]);
                getrandbackimage(a[2]);
            }
            else if(a[1] == 'person'){
                drawperson(a[2])
            }
            else if(a[1] == 'music'){
                showmusicframe();
            }
            else if(a[1] == 'About-Us'){
                drawaboutus();
            }
            else if(a[1] == 'Contact-Us'){
                drawcontactus();
            }
            else if(a[1] == 'search' && a[2] == 'all'){
                q=a[3].split('=')[1];
                drawsearchall(q);
            }
            else{
                loadtabs();
                loadintheaters();
            }
        
    }
    var all_images ='';

function getrandbackimage (id) {
    url = '/v1/api/m/backimages/'+id+'/'
    $.getJSON(url, function(data) {
        all_images = data;
        random_image = all_images.backimages[Math.floor(Math.random()*all_images.backimages.length)];
        urlx = 'url('+random_image.actual+')'
        $('body').css({'background':urlx})
    });
}
function defaultback () {
    $('body').css({'background':'#BCBCB9'})
}
    

    function locationHashChanged () {
        var hashx = location.hash;
        if(hashx != ""){
        hashcontrol(hashx);
        }
    }
    window.onhashchange = locationHashChanged;

</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31450550-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</html>