    .ui-autocomplete-category {
        font-weight: bold;
        padding: .2em .4em;
        margin: .8em 0 .2em;
        line-height: 1.5;
    }
    .ui-autocomplete-category2{
      background: #EEE;
      border-radius: 5px;
    }
/*
    li {
    border: 1px solid black;
}
.ui-state-active {
    background: black;
    color: white
}
.ui-state-active:hover {
    background: red;
    color: green;
}
li.ui-menu-item a {
    display: block;
}​*/

/* my styles*/
.ui-widget{
  font-size: 0.9em;
}
.ui-menu .ui-menu-item-a{
  padding: 0;

}
.ui-menu .ui-menu-item a {
  padding: 2px;
  display: inline;
  width: 100%
}
.ui-state-hover{
  border: 1px solid black;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  background: rgba(135, 206, 235, 0.99)
}

.ui-menu-item{
  display: inline;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  border: 0px solid black;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-radius: 0px;
  }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-radius: 0px;
  }

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-radius: 0px;
  }
   .ui-autocomplete-loading { background: white url('{{MEDIA_URL}}images/ui-anim_basic_16x16.gif') right center no-repeat; }
