.bottom-fixed{
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 25px;
    position: fixed;
    background: rgba(255,255,255,1);
    border-top: 1px solid #EEE;
    padding-left: 50px;
  }


.bottom-content{
    float: left;
  padding: 5px;
}

.bottom-content a{
  -webkit-box-reflect: below -5px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(100, 100, 100, 0.4)))
}
.bottom_toggle_player{
  width: 100%;
  z-index: 10;
  position: fixed;
  bottom: 25px;
  height: 30px;

    background: black;
}
.bottom_player{
  z-index: 20;
  display: none;
  position: fixed;
  bottom: 25px;
  width: 100%;
  height: 30px;

  background: red;
}

.bottom-content a + a::before {
padding: 0 4px;
content: " / \20\0020";
}