<!DOCTYPE html>
<html lang="en">
<head>
    <title>Person Info</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="w4rlock">
    <link href="{{MEDIA_URL}}jquery-ui.css" rel="stylesheet">

    <script src="{{MEDIA_URL}}jquery.min.js"></script>
    <script src="{{MEDIA_URL}}jquery-ui.min.js"></script>

<script type="text/javascript">
	url = "/ajx/pinfojson/{{person_id}}/";
	$.getJSON(url,function(data){
			 // console.log(data)
			 $('#name').html("<h4>"+data.name+"<h4>")
			 if(data.profile_image_small == '')	{
			 	$('#banner_image').html(data.name)
			 }else{
			 			$('#banner_image').html('<img src=\'' +data.profile_image_small+'\' id=\"img_banner_image\" />');	
			 }
			
			 var read_more = "<a href=\"/person/" + data.id+ "-"+data.name+"/index/\" target=\"_blank\">"+"Read More"+"</a>"
			 $('#info').html(data.bio_small+" "+read_more+"...");

			 	$('#persons').html('');
			 	$.each(data.movies, function(i,movie){
			 			personslist = '<div id=\'each_person\' class=\'each_person\'>';
			 			// personslist += '<p>'
			 			// personslist += person.name;
			 			// personslist += '</p>';
			 			//<img src="http://img.youtube.com/vi/othweenpY4M/0.jpg" width="100%" height="250">
					

			 		if (movie.banner_image_small == ''){
			 			 personslist += '<p>'
						 personslist += '<a href=\'/movie/'+movie.id+'-'+movie.name+'/index/\' target=\'_blank\'>'
						 personslist += movie.name
						 personslist += '</a>'
						 personslist += '</p>'	
					}else{
						personslist += '<a href=\'/movie/'+movie.id+'-'+movie.name+'/index/\' target=\'_blank\' rel=\"tooltip\" title=\"'+movie.name+'\" >'
								personslist += '<img src=\'' +movie.banner_image_small+'\' id=\"img_person_image\" />'	
						personslist += '</a>'
					}
						personslist += '</div>'
						$(personslist).appendTo("#persons")
					});
			// 	$('#date').html("Released Date: "+data.date.month+"/"+data.date.day+"/"+data.date.year)

			// 	$("#trailers").html('');
			// 	$.each(data.trailers, function(i,trailer){

			// 			trailerlist = '<a href=\'' +"http://www.youtube.com/watch?v="+trailer.youtube_code+'\' target=\'_blank\' >'
			// 			trailerlist += '<img src=\'' +"http://img.youtube.com/vi/"+trailer.youtube_code+"/0.jpg"+'\' id=\"youtube_image\" />'
			// 			trailerlist += '</a>'
			// 			$(trailerlist).appendTo("#trailers")
			// 		});

				});
</script>  

<style type="text/css">
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	background: white;
	width: 450px;
	height: 300px;
}
.container{
	width: 450px;
	height: 300px;
	border: 1px solid #EEE;
	display: block;
	overflow: hidden;
}

#img_person_image{
		height: 40px;
		width: 40px;
}
#img_banner_image{
	width: 100%;
	}
.info{
	float: left;
	width: 240px;
	padding-left: 5px;
	}
.persons{
	float: left;
	width: 240px;
	padding-left: 5px;
}
.date{
	float: left;
	width: 240px;
	padding-left: 5px;
}
.trailers{
	float: left;
	width: 240px;
	padding-left: 5px;
}
.trailers img{
	width: 40px;
	height: 40px;
	float: left;
	padding-left: 2px;
}
.banner_image{
	width: 200px;
	height: 300px;
	float:left;
	overflow: hidden;
}

#each_person{
	width: 40px;
	float: left;
	padding-left: 2px;
	overflow: hidden;
}
#each_person p{
	width: 100%;
	float: left;
	padding-left: 2px;
}
.persons_label{
	padding-left: 5px;
	float: left;
}
.trailers_label{
	padding-left: 5px;
	float: left;
}
h4{
	background-color: transparent;
	color: #333;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	text-rendering: optimizelegibility;
}
</style>

</head>
<body>
<div class="container">
	<div id="banner_image" class="banner_image">Loading...</div>
	<div id="name" class="name"></div>
	<div id="info" class="info">Loading...</div>
	<div id="persons_label" class="persons_label"><h4>Movies: </h4></div>
	<div id="persons" class="persons">Loading...</div>
	<div id="date" class="date"></div>
</div>
</body>

</html>