
body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; 
	padding: 0;
	text-align: center; 
	color: #000000;
	background-image:url(../img/bg.gif);
	background-repeat:repeat;
	background-position:center;
}
.bodyclass #container {
	width: 780px;  
	background: #FFFFFF;
	margin: 0 auto; 
	border: 1px solid #000000;
	text-align: left; 
}
.bodyclass #header {
	background: #DDDDDD;
	padding: 0 10px 0 20px;
}
.bodyclass #header h1 {
	margin: 0;
	padding: 10px 0; 
}
.bodyclass #mainContent {
	padding: 0 20px; 
	background: #FFFFFF;
}
.bodyclass #footer {
	padding: 0 10px; 
	background:#DDDDDD;
}
.bodyclass #footer p {
	margin: 0; 
	padding: 10px 0; 
}
.newtet {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #03C;
}

#tablelist
{
	font-family:tahoma, verdana, "sans-serif";
	width:100%;
	border: 1px solid #A5A8B8;	
	font-size: 12px;
}
#tablelist td, #tablelist th 
{
	font-size:10px;
	border:1px solid #A5A8B8;
	padding:3px 7px 2px 7px;
	font-family: tahoma, verdana, "sans-serif";
	background-color:#FFFFFF;
}
#tablelist th 
{
	font-size:12px;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#06F;
	color:#fff;
}
#tablelist tr.alt td 
{
color:#000;
background-color:#EAF2D3;
}

#mainContent {
	padding: 0 20px; 
	background: #FFFFFF;
}
.hh3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #03C;
}
#header {
	background: #DDDDDD; 
	padding: 0 10px 0 20px; 
}
#header h1 {
	margin: 0;
	padding: 10px 0; 
}
#footer {
	padding: 0 10px; 
	background:#DDDDDD;
}
#footer p {
	margin: 0; 
	padding: 10px 0; 
}
#container {
	width: 780px;
	background: #FFFFFF;
	margin: 0 auto;
	border: 1px solid #000000;
	text-align: left;
}

#newtet {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #03C;
}
.newtable{
	font-family: tahoma, verdana, "sans-serif";
	font-size: 12px;
	padding: 20px;
	border: 1px solid #A5A8B8;
	width:300px;
	margin-left:20px;
}

form.formular {
	font-family: tahoma, verdana, "sans-serif";
	font-size: 12px;
	padding: 20px;
	border: 1px solid #A5A8B8;
	width:300px;
	margin-left:20px;
}

.formular fieldset {
	margin-top: 20px;
	padding : 15px;
	border: 1px solid #B5B8C8;
	
}

.formular legend {
	font-size: 12px;
	color: #15428B;
	font-weight: 900;
}

.formular fieldset label {
	float: none;
	text-align: inherit;
	width: auto;
}

.formular label span {
	color: #000;
}

.formular input, .formular select, .formular textarea {
	display : block;
	margin-bottom: 5px;
}

.formular .text-input {
	width: 250px;
	color: #555;
	padding: 4px;
	border: 1px solid #B5B8C8;
	font-size: 14px;
	margin-top: 4px;
	background: #FFF url('/img/form/text-bg.gif') repeat-x;
	
}
.formular textarea {
	width: 250px;
	height:70px;
	color: #555;
	padding: 4px;
	border: 1px solid #B5B8C8;
	font-size: 14px;
	margin-top: 4px;
	background: #FFF url('/img/form/text-bg.gif') repeat-x;
	
}
.formular .infos {
	background: #FFF;
	color: #333;
	font-size: 12px;
	padding: 10px;
	margin-bottom: 10px;
}

.formular span.checkbox, .formular .checkbox {
	display: inline;
}

.formular .submit {
	background: url('/img/form/button-bg.png') repeat-x;
	border: 1px solid #AAA;
	padding: 4px;
	margin-top: 20px;
	float: right;
	text-decoration: none;
	cursor:pointer;
}

.formular hr {
	clear: both;
	visibility: hidden;
}

.formular .fc-error {
	width: 350px;
	color: 555;
	padding: 4px;
	border: 1px solid #B5B8C8;
	font-size: 12px;
	margin-bottom: 15px;
	background: #FFEAEA;
}
